Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

feat(nestjs-webpack-swc): added mode production to webpack prod config
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod.config.ts
Due: yarn eslint --fix, yarn prettier --write

v0.28.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(nestjs-webpack-swc): added mode production to webpack prod config
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic.config.ts
Due: yarn eslint --fix, yarn prettier --write

v0.29.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(nestjs-webpack-swc): added production config keep_classnames for typeorm migrations
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod.config.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.30.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(nestjs-webpack-swc): updated barrel export and docs to avoid bundling config deps
  package.json
  packages/nestjs-webpack-swc/readme.md
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod.config.ts
  packages/nestjs-webpack-swc/src/index.ts
  tsconfig.build.json
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-webpack-swc): updated barrel export and docs to avoid bundling config deps
  .travis.yml
Due: none

v0.31.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

Update readme.md
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

v0.31.1
  CHANGELOG.md
  lerna.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
Due: yarn prettier --write

feat(nestjs-webpack-swc): fixed webpack __dirname/__filename behaviour
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic.config.ts
Due: yarn eslint --fix, yarn prettier --write

v0.32.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

docs(nestjs-webpack-swc): added typeorm cli guide
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

v0.32.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(platform): migrated async storage to @react-native-async-storage/async-storage
  packages/platform/package.json
  packages/platform/src/storage/storage.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.33.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(nestjs-webpack-swc): disabled production mangling
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod.config.ts
Due: yarn eslint --fix, yarn prettier --write

v0.34.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(nestjs-webpack-swc): added handleNestJSWebpackHmr util
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/readme.md
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr.ts
  packages/nestjs-webpack-swc/src/hmr/hmr-module.interface.ts
  packages/nestjs-webpack-swc/src/index.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-webpack-swc): fixed review
  packages/nestjs-webpack-swc/package.json
  yarn.lock
Due: none

feat(nestjs-webpack-swc): added handleNestJSWebpackHmr util (#80)
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/readme.md
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr.ts
  packages/nestjs-webpack-swc/src/hmr/hmr-module.interface.ts
  packages/nestjs-webpack-swc/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

v0.35.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

chore(nestjs-webpack-swc): fixed HMR module issue and usage
  packages/nestjs-webpack-swc/readme.md
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr.ts
  packages/nestjs-webpack-swc/src/hmr/index.ts
  packages/nestjs-webpack-swc/src/index.ts
  packages/nestjs-webpack-swc/src/typeorm/index.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): removed testID prop generation in setTestID
  packages/wdio/src/util/set-test-id/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

chore(wdio): fixed static code analysis
  packages/nestjs-webpack-swc/package.json
Due: none

chore(wdio): fixed static code analysis
  packages/wdio/src/util/set-test-id/set-test-id.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore(wdio): fixed static code analysis
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-webpack-swc): fixed hmr helper (#82)
  CHANGELOG.md
  packages/fast-style/CHANGELOG.md
  packages/hoverable/CHANGELOG.md
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/readme.md
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr.ts
  packages/nestjs-webpack-swc/src/hmr/index.ts
  packages/nestjs-webpack-swc/src/index.ts
  packages/nestjs-webpack-swc/src/typeorm/index.ts
  packages/object-field-tree/CHANGELOG.md
  packages/platform/CHANGELOG.md
  packages/redux-loadable/CHANGELOG.md
  packages/rxjs-errors/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/wdio/CHANGELOG.md
Due: yarn eslint --fix, yarn prettier --write

v0.35.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): removed testID prop generation in setTestID (#83)
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.spec.ts
  packages/wdio/src/util/set-test-id/set-test-id.spec.ts
  packages/wdio/src/util/set-test-id/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

v0.35.2
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed get platform util to support webpack CI build
  packages/wdio/src/util/get-platform.util.ts
  packages/wdio/src/util/get-platform/get-platform.util.native.ts
  packages/wdio/src/util/get-platform/get-platform.util.ts
  packages/wdio/src/util/get-test-id/get-test-id.spec.ts
  packages/wdio/src/util/get-test-id/get-test-id.ts
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.spec.ts
  packages/wdio/src/util/set-test-id/set-test-id.spec.ts
  packages/wdio/src/util/set-test-id/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed tests
  packages/wdio/src/util/get-test-id/get-test-id.spec.ts
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.spec.ts
  packages/wdio/src/util/set-test-id/set-test-id.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed get platform util to support webpack CI build (#84)
  packages/wdio/src/util/get-platform.util.ts
  packages/wdio/src/util/get-platform/get-platform.util.native.ts
  packages/wdio/src/util/get-platform/get-platform.util.ts
  packages/wdio/src/util/get-test-id/get-test-id.spec.ts
  packages/wdio/src/util/get-test-id/get-test-id.ts
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.spec.ts
  packages/wdio/src/util/set-test-id/set-test-id.spec.ts
  packages/wdio/src/util/set-test-id/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

v0.35.3
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): added RootedComponent support to accept ChainablePromiseElement as root element
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added RootedComponent support to accept ChainablePromiseElement as root element (#85)
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
Due: yarn eslint --fix, yarn prettier --write

v0.36.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): added RootedComponent support to accept ChainablePromiseElement as root element
  packages/wdio/src/component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/get-component/get-component.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-input-arg.type.ts
  packages/wdio/src/component/type/index.ts
Due: yarn eslint --fix, yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
