Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
    'package.json': ['yarn sort-package-json']
}

fix(deps): keep peer majors compatible and match config-plugins to the pinned expo sdk
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/react-native-payments/package.json
  pnpm-lock.yaml
Due: yarn sort-package-json

chore(deps): bump github-actions majors and compatible npm majors
  .github/workflows/android-maestro.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/react-native-payments/package.json
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.spec.tsx
  packages/rxjs-errors/package.json
  pnpm-lock.yaml
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

chore: release v2.15.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(react-native-screen-chrome): forward per-layer content container styles (#616)
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.tsx
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.16.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-screen-chrome-example/CHANGELOG.md
  packages/react-native-screen-chrome-example/package.json
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(react-native-screen-chrome): export mergeRefs for custom scrollable wiring (#615)
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/util/merge-refs/merge-refs.spec.ts
  packages/react-native-screen-chrome/src/util/merge-refs/merge-refs.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.17.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-screen-chrome-example/CHANGELOG.md
  packages/react-native-screen-chrome-example/package.json
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(react-native-screen-chrome): preserve child ref cleanups in mergeRefs
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/util/merge-refs/merge-refs.spec.ts
  packages/react-native-screen-chrome/src/util/merge-refs/merge-refs.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore(deps): bump github-actions majors and compatible npm majors (#603)
  .github/workflows/android-maestro.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  package.json
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/react-native-payments/package.json
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.spec.tsx
  packages/rxjs-errors/package.json
  pnpm-lock.yaml
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

chore: release v2.17.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/react-native-screen-chrome-example/CHANGELOG.md
  packages/react-native-screen-chrome-example/package.json
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  pnpm-lock.yaml
Due: yarn prettier --write, yarn sort-package-json

fix(react-native-collapsible-header): default the a11y switch to the cross-fade midpoint
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/llms.txt
  packages/react-native-collapsible-header/readme.md
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-accessibility.spec.tsx
  packages/react-native-collapsible-header/src/config/default-collapsible-header-motion.config.ts
  packages/react-native-collapsible-header/src/config/resolve-collapsible-header-motion.config.ts
  packages/react-native-collapsible-header/src/interface/collapsible-header-motion-config.interface.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-screen-chrome): lay collapsible header content below the top inset
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.integration.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.tsx
  packages/react-native-screen-chrome/src/util/get-collapsible-header-motion/get-collapsible-header-motion.spec.ts
  packages/react-native-screen-chrome/src/util/get-collapsible-header-motion/get-collapsible-header-motion.util.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-collapsible-header): stop the header shell from eating taps
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/llms.txt
  packages/react-native-collapsible-header/readme.md
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-hit-testing.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.tsx
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-screen-chrome): preserve child ref cleanups in mergeRefs (#617)
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/util/merge-refs/merge-refs.spec.ts
  packages/react-native-screen-chrome/src/util/merge-refs/merge-refs.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.17.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-screen-chrome-example/CHANGELOG.md
  packages/react-native-screen-chrome-example/package.json
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: add a from-package recovery mode and a published-version assertion to the release
  .github/workflows/release.yml
  package.json
  scripts/assert-published-versions.mjs
Due: yarn sort-package-json

fix(ci): encode the whole package name in the registry lookup
  scripts/assert-published-versions.mjs
Due: none

ci: serialize releases, assert versions after failed publishes, bound registry requests
  .github/workflows/release.yml
  scripts/assert-published-versions.mjs
Due: none

ci: add a from-package recovery mode and a published-version assertion to the release (#623)
  .github/workflows/release.yml
  package.json
  scripts/assert-published-versions.mjs
Due: yarn sort-package-json

ci: tolerate npm dist-tag propagation in the published-version assertion
  scripts/assert-published-versions.mjs
Due: none

ci: tolerate npm dist-tag propagation in the published-version assertion (#624)
  scripts/assert-published-versions.mjs
Due: none

fix(react-native-collapsible-header): keep interaction on the painted header layer
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/llms.txt
  packages/react-native-collapsible-header/readme.md
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-accessibility.spec.tsx
  packages/react-native-collapsible-header/src/hooks/use-collapsible-header-animated-layers/use-collapsible-header-animated-layers.hook.ts
Due: yarn eslint --fix, yarn prettier --write

fix: collapsible header safe-area layout, accessibility handoff, and shell hit testing (#620)
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/llms.txt
  packages/react-native-collapsible-header/readme.md
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-accessibility.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-hit-testing.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.tsx
  packages/react-native-collapsible-header/src/config/default-collapsible-header-motion.config.ts
  packages/react-native-collapsible-header/src/config/resolve-collapsible-header-motion.config.ts
  packages/react-native-collapsible-header/src/hooks/use-collapsible-header-animated-layers/use-collapsible-header-animated-layers.hook.ts
  packages/react-native-collapsible-header/src/interface/collapsible-header-motion-config.interface.ts
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.integration.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.tsx
  packages/react-native-screen-chrome/src/util/get-collapsible-header-motion/get-collapsible-header-motion.spec.ts
  packages/react-native-screen-chrome/src/util/get-collapsible-header-motion/get-collapsible-header-motion.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.17.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-collapsible-header-example/CHANGELOG.md
  packages/react-native-collapsible-header-example/package.json
  packages/react-native-collapsible-header/CHANGELOG.md
  packages/react-native-collapsible-header/package.json
  packages/react-native-screen-chrome-example/CHANGELOG.md
  packages/react-native-screen-chrome-example/package.json
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: read the registry authoritatively and widen the propagation window in the release assertion
  scripts/assert-published-versions.mjs
Due: none

ci: read the registry authoritatively and widen the propagation window in the release assertion (#626)
  scripts/assert-published-versions.mjs
Due: none

feat(react-native-screen-chrome): additive content insets and consumer ref on the scroll view
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.tsx
  packages/react-native-screen-chrome/src/type/scroll-content-inset-mode.type.ts
  packages/react-native-screen-chrome/src/util/add-scroll-content-inset/add-scroll-content-inset.spec.ts
  packages/react-native-screen-chrome/src/util/add-scroll-content-inset/add-scroll-content-inset.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-collapsible-header): opt-in native scroll offset sync
  packages/react-native-collapsible-header/llms.txt
  packages/react-native-collapsible-header/readme.md
  packages/react-native-collapsible-header/src/provider/collapsible-header-provider/collapsible-header-provider-native-offset.spec.tsx
  packages/react-native-collapsible-header/src/provider/collapsible-header-provider/collapsible-header-provider.tsx
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.tsx
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-screen-chrome): correct additive padding contract and isolate scroll ref specs
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.spec.tsx
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-collapsible-header): opt-in native scroll offset sync (#628)
  packages/react-native-collapsible-header/llms.txt
  packages/react-native-collapsible-header/readme.md
  packages/react-native-collapsible-header/src/provider/collapsible-header-provider/collapsible-header-provider-native-offset.spec.tsx
  packages/react-native-collapsible-header/src/provider/collapsible-header-provider/collapsible-header-provider.tsx
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.tsx
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.18.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-collapsible-header-example/CHANGELOG.md
  packages/react-native-collapsible-header-example/package.json
  packages/react-native-collapsible-header/CHANGELOG.md
  packages/react-native-collapsible-header/package.json
  packages/react-native-screen-chrome-example/CHANGELOG.md
  packages/react-native-screen-chrome-example/package.json
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(react-native-screen-chrome): additive content insets and consumer ref on the scroll view (#627)
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.tsx
  packages/react-native-screen-chrome/src/type/scroll-content-inset-mode.type.ts
  packages/react-native-screen-chrome/src/util/add-scroll-content-inset/add-scroll-content-inset.spec.ts
  packages/react-native-screen-chrome/src/util/add-scroll-content-inset/add-scroll-content-inset.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.19.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-screen-chrome-example/CHANGELOG.md
  packages/react-native-screen-chrome-example/package.json
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(deps): disable automatic dependency pull requests
  .github/dependabot.yml
Due: none

fix(react-native-payments-example): stabilize Maestro launch checks and retain diagnostics
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  packages/react-native-payments-example/e2e/subflows/launch_and_wait_for_probe.yaml
Due: none

fix(react-native-screen-chrome): fade native edge bands through a gradient mask
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.tsx
  packages/react-native-screen-chrome/src/edge-fade/util/get-edge-fade-visuals/get-edge-fade-visuals.util.ts
  packages/react-native-screen-chrome/src/index.spec.ts
  pnpm-lock.yaml
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

chore(react-native-screen-chrome): install edge-fade mask peers in the example apps
  knip.json
  packages/react-native-screen-chrome-example/apps/bare/package.json
  packages/react-native-screen-chrome-example/apps/expo/package.json
  pnpm-lock.yaml
Due: yarn sort-package-json

feat(react-native-screen-chrome): support Expo SDK 58 blur and gradient peers
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/readme.md
Due: yarn prettier --write, yarn sort-package-json

test(react-native-screen-chrome): inline the edge fade mock prop type
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.spec.tsx
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-screen-chrome): fade native edge bands through a gradient mask (#640)
  knip.json
  packages/react-native-screen-chrome-example/apps/bare/package.json
  packages/react-native-screen-chrome-example/apps/expo/package.json
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.tsx
  packages/react-native-screen-chrome/src/edge-fade/util/get-edge-fade-visuals/get-edge-fade-visuals.util.ts
  packages/react-native-screen-chrome/src/index.spec.ts
  pnpm-lock.yaml
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json
