Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
    'package.json': ['yarn sort-package-json']
}

ci(react-native-screen-chrome): run maestro diagnostics on tolerated failures
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

ci(react-native-screen-chrome): id the maestro step for outcome conditions
  .github/workflows/ios-maestro.yml
Due: none

fix(react-native-payments-example): resolve android react-native paths with require.resolve
  packages/react-native-payments-example/AGENTS.md
  packages/react-native-payments-example/apps/bare/android/app/build.gradle
  packages/react-native-payments-example/apps/bare/android/settings.gradle
Due: yarn prettier --write

fix(react-native-collapsible-header-example): resolve android rn paths via require.resolve
  packages/react-native-collapsible-header-example/apps/bare/android/app/build.gradle
  packages/react-native-collapsible-header-example/apps/bare/android/settings.gradle
Due: none

ci: build every workspace dependency of the maestro app target
  .github/scripts/maestro-matrix.mjs
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

fix(react-native-screen-chrome): pin static header row to the metrics height
  packages/react-native-screen-chrome/src/screen-chrome-header/screen-chrome-header.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-header/screen-chrome-header.tsx
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-screen-chrome-example): embed the collapsible header demo gif
  packages/react-native-screen-chrome-example/docs/collapsible-header.gif
  packages/react-native-screen-chrome-example/readme.md
Due: yarn prettier --write

ci: run maestro on the amd64 fleet's kvm avd instead of arm64 redroid
  .github/actionlint.yaml
  .github/workflows/android-maestro.yml
Due: none

ci: pin the avd to redroid's 720x1280 display the flows are calibrated on
  .github/workflows/android-maestro.yml
Due: none

fix: link workspace packages so lerna version lockfile update resolves locally
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix: link workspace packages so lerna version lockfile update resolves locally (#605)
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(react-native-collapsible-header): stop active title layer swallowing touches with box-none
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-freeze.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-motion.spec.tsx
  packages/react-native-collapsible-header/src/hooks/use-collapsible-header-animated-layers/use-collapsible-header-animated-layers.hook.ts
  packages/react-native-collapsible-header/src/hooks/use-collapsible-header-animated-layers/use-collapsible-header-animated-layers.spec.ts
Due: yarn eslint --fix, yarn prettier --write

test(wdio): unify element mocks, rename generic descriptions, cover await resolution
  packages/wdio/src/component$/get-component$/get-component$.spec.ts
  packages/wdio/src/component$/get-exteded-component$/get-extended-component$.spec.ts
  packages/wdio/src/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/element.mock.ts
  packages/wdio/src/rooted-component$/get-extended-rooted-component$/get-extended-rooted-component$.spec.ts
  packages/wdio/src/rooted-component$/get-rooted-component$/get-rooted-component$.spec.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): type AndroidIntermediateSigningKey.signatures as string[]
  packages/react-native-payments/docs/api/android-payment-method-token.md
  packages/react-native-payments/llms-full.txt
  packages/react-native-payments/src/@standard/android/response/android-intermediate-signing-key.ts
  packages/react-native-payments/src/@standard/android/response/android-raw-intermediate-signing-key.ts
  packages/react-native-payments/src/class/payment-response/payment-response.spec.ts
Due: yarn eslint --fix, yarn prettier --write

test(nestjs-webpack-swc): add unit tests and drop eslint-plugin's stale sub-bar coverage override
  packages/eslint-plugin/jest.config.js
  packages/nestjs-webpack-swc/AGENTS.md
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev/get-nestjs-webpack-dev.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev/get-nestjs-webpack-dev.spec.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic/get-nestjs-webpack-generic.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic/get-nestjs-webpack-generic.spec.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod/get-nestjs-webpack-prod.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod/get-nestjs-webpack-prod.spec.ts
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr/handle-nestjs-webpack-hmr.spec.ts
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr/handle-nestjs-webpack-hmr.ts
  packages/nestjs-webpack-swc/src/hmr/index.ts
  packages/nestjs-webpack-swc/src/typeorm/import-typeorm-webpack-migrations/import-typeorm-webpack-migrations.spec.ts
  packages/nestjs-webpack-swc/src/typeorm/import-typeorm-webpack-migrations/import-typeorm-webpack-migrations.util.ts
  packages/nestjs-webpack-swc/src/typeorm/index.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

fix(nestjs-webpack-swc): tolerate options without plugins in the dev config
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev/get-nestjs-webpack-dev.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev/get-nestjs-webpack-dev.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-collapsible-header): stop active title layer swallowing touches with box-none (#610)
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-freeze.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-motion.spec.tsx
  packages/react-native-collapsible-header/src/hooks/use-collapsible-header-animated-layers/use-collapsible-header-animated-layers.hook.ts
  packages/react-native-collapsible-header/src/hooks/use-collapsible-header-animated-layers/use-collapsible-header-animated-layers.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.15.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-collapsible-header-example/CHANGELOG.md
  packages/react-native-collapsible-header-example/package.json
  packages/react-native-collapsible-header/CHANGELOG.md
  packages/react-native-collapsible-header/package.json
  packages/react-native-screen-chrome-example/CHANGELOG.md
  packages/react-native-screen-chrome-example/package.json
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/package.json
Due: yarn prettier --write, yarn sort-package-json

test(nestjs-webpack-swc): capture the dispose callback instead of indexing mock calls
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic/get-nestjs-webpack-generic.spec.ts
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr/handle-nestjs-webpack-hmr.spec.ts
Due: yarn eslint --fix, yarn prettier --write

test(wdio): keep renamed test descriptions within the 125-column limit
  packages/wdio/src/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/rooted-component$/get-extended-rooted-component$/get-extended-rooted-component$.spec.ts
  packages/wdio/src/rooted-component$/get-rooted-component$/get-rooted-component$.spec.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
Due: yarn eslint --fix, yarn prettier --write

test(nestjs-webpack-swc): guard the swc rule lookup against an empty rules array
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic/get-nestjs-webpack-generic.spec.ts
Due: yarn eslint --fix, yarn prettier --write

test(wdio): unify element mocks, rename generic descriptions, cover await resolution (#611)
  packages/wdio/src/component$/get-component$/get-component$.spec.ts
  packages/wdio/src/component$/get-exteded-component$/get-extended-component$.spec.ts
  packages/wdio/src/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/element.mock.ts
  packages/wdio/src/rooted-component$/get-extended-rooted-component$/get-extended-rooted-component$.spec.ts
  packages/wdio/src/rooted-component$/get-rooted-component$/get-rooted-component$.spec.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): type AndroidIntermediateSigningKey.signatures as string[] (#612)
  packages/react-native-payments/docs/api/android-payment-method-token.md
  packages/react-native-payments/llms-full.txt
  packages/react-native-payments/src/@standard/android/response/android-intermediate-signing-key.ts
  packages/react-native-payments/src/@standard/android/response/android-raw-intermediate-signing-key.ts
  packages/react-native-payments/src/class/payment-response/payment-response.spec.ts
Due: yarn eslint --fix, yarn prettier --write

test(nestjs-webpack-swc): close the coverage-straggler gap alongside eslint-plugin's stale override (#613)
  packages/eslint-plugin/jest.config.js
  packages/nestjs-webpack-swc/AGENTS.md
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev/get-nestjs-webpack-dev.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev/get-nestjs-webpack-dev.spec.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic/get-nestjs-webpack-generic.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic/get-nestjs-webpack-generic.spec.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod/get-nestjs-webpack-prod.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod/get-nestjs-webpack-prod.spec.ts
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr/handle-nestjs-webpack-hmr.spec.ts
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr/handle-nestjs-webpack-hmr.ts
  packages/nestjs-webpack-swc/src/hmr/index.ts
  packages/nestjs-webpack-swc/src/typeorm/import-typeorm-webpack-migrations/import-typeorm-webpack-migrations.spec.ts
  packages/nestjs-webpack-swc/src/typeorm/import-typeorm-webpack-migrations/import-typeorm-webpack-migrations.util.ts
  packages/nestjs-webpack-swc/src/typeorm/index.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

chore: release v2.15.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

test(react-native-payments-example): bound the apple pay sheet wait for a cold first flow
  packages/react-native-payments-example/e2e/subflows/dismiss_ios_sheet.yaml
Due: none

feat(react-native-screen-chrome): export mergeRefs for custom scrollable wiring
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/util/merge-refs/merge-refs.spec.ts
  packages/react-native-screen-chrome/src/util/merge-refs/merge-refs.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-screen-chrome): forward per-layer content container styles
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.tsx
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-screen-chrome): correct the mergeRefs example hook and detach wording
  packages/react-native-screen-chrome/readme.md
Due: yarn prettier --write

test(react-native-payments-example): bound the apple pay sheet wait for a cold first flow (#614)
  packages/react-native-payments-example/e2e/subflows/dismiss_ios_sheet.yaml
Due: none

chore(deps): keep actions/cache on v4 for self-hosted runner compatibility
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

fix(nestjs-rxjs-lock): align the ioredis specifier with the widened peer ranges
  packages/nestjs-rxjs-lock/package.json
  pnpm-lock.yaml
Due: yarn sort-package-json
