Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-redis): migrated to @nestjs-modules/ioredis
  .yarn/cache/@ioredis-commands-npm-1.2.0-47541de88b-9b20225ba3.zip
  .yarn/cache/denque-npm-2.1.0-578d0b6297-1d4ae1d05e.zip
  .yarn/cache/ioredis-npm-4.28.5-74671f2fa3-a8793c3324.zip
  .yarn/cache/ioredis-npm-5.3.2-58471071b1-9a23559133.zip
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-redis): migrated to @nestjs-modules/ioredis
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-redis): migrated to @nestjs-modules/ioredis (#139)
  .yarn/cache/@ioredis-commands-npm-1.2.0-47541de88b-9b20225ba3.zip
  .yarn/cache/@nestjs-modules-ioredis-npm-1.0.1-ff9cf68bdf-438a005b4b.zip
  .yarn/cache/denque-npm-2.1.0-578d0b6297-1d4ae1d05e.zip
  .yarn/cache/ioredis-npm-4.28.5-74671f2fa3-a8793c3324.zip
  .yarn/cache/ioredis-npm-5.3.2-58471071b1-9a23559133.zip
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-core.module.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.53.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(nestjs-rxjs-lock): migrated to @nestjs-modules/ioredis
  .yarn/cache/@nestjs-common-npm-7.6.18-855d09bc57-bceea9c157.zip
  .yarn/cache/@nestjs-core-npm-7.6.18-924472cfa0-c148c3548d.zip
  .yarn/cache/@nuxtjs-opencollective-npm-0.3.2-72db6b3551-fd3737c12e.zip
  .yarn/cache/@types-ioredis-npm-4.27.8-73227263de-c718933d6e.zip
  .yarn/cache/@types-uuid-npm-8.3.1-4239b14bac-b41bdc5e86.zip
  .yarn/cache/axios-npm-0.21.1-d192f6b3b3-c87915fa0b.zip
  .yarn/cache/bluebird-npm-3.7.2-6a54136ee3-869417503c.zip
  .yarn/cache/consola-npm-2.15.3-7b4cf44fed-8ef7a09b70.zip
  .yarn/cache/denque-npm-1.5.1-2dd42d2dcb-4375ad19d5.zip
  .yarn/cache/fast-safe-stringify-npm-2.0.7-4c71091538-e0055e231d.zip
  .yarn/cache/ioredis-npm-4.28.0-68d160e017-d6951d3df9.zip
  .yarn/cache/nestjs-redis-npm-1.3.3-644e7f1423-b8b1e65829.zip
  .yarn/cache/node-abort-controller-npm-3.1.1-e246ed42cd-2c340916af.zip
  .yarn/cache/object-hash-npm-2.1.1-b31a917f31-3b74c4c8ba.zip
  .yarn/cache/p-map-npm-2.1.0-d9e865dc7c-9e3ad3c9f6.zip
  .yarn/cache/path-to-regexp-npm-3.2.0-daf7bbd038-c3d35cda3b.zip
  .yarn/cache/redis-commands-npm-1.7.0-528f61f9d8-d1ff7fbcb5.zip
  .yarn/cache/redlock-npm-4.2.0-a57e5cc3af-cd90b1d0a8.zip
  .yarn/cache/redlock-npm-5.0.0-beta2-4d0e335fe9-d8a0d6d472.zip
  .yarn/cache/rxjs-npm-6.6.7-055046ea3c-bc334edef1.zip
  .yarn/cache/tslib-npm-2.2.0-e83a07daa5-a48c9639f7.zip
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-module.options.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.spec.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock.module.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-lock): migrated to @nestjs-modules/ioredis
  packages/nestjs-rxjs-redis/readme.md
Due: yarn prettier --write

v0.54.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feature: add support redis methods: (ttl, expire, incr)
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feature: add support redis methods: (ttl, expire, incr) (#141)
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.54.1
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
Due: yarn prettier --write

v0.54.2
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
Due: yarn prettier --write

feat: working on react-native-payments
  .eslintrc.js
  .yarn/cache/@babel-plugin-transform-react-jsx-development-npm-7.22.5-a622b4b1f6-36bc3ff0b9.zip
  .yarn/cache/@babel-plugin-transform-react-pure-annotations-npm-7.22.5-6c092a54b9-092021c4f4.zip
  .yarn/cache/@babel-preset-react-npm-7.22.5-c4754817fe-b977c7ee83.zip
  .yarn/cache/del-npm-6.1.1-9285f60bfd-563288b73b.zip
  .yarn/cache/fs-extra-npm-10.1.0-86573680ed-dc94ab3709.zip
  .yarn/cache/is-absolute-npm-1.0.0-2525cf00c8-9d16b2605e.zip
  .yarn/cache/is-git-dirty-npm-2.0.2-9c3c087145-13c8f58600.zip
  .yarn/cache/is-git-repository-npm-2.0.0-775ac048b7-9eba764379.zip
  .yarn/cache/is-path-cwd-npm-2.2.0-e35e4aab5f-46a840921b.zip
  .yarn/cache/is-relative-npm-1.0.0-af71733ca6-3271a0df10.zip
  .yarn/cache/is-unc-path-npm-1.0.0-9cee24d85f-e8abfde203.zip
  .yarn/cache/is-windows-npm-1.0.2-898cd6f3d7-438b7e5265.zip
  .yarn/cache/jetifier-npm-2.0.0-c3dff52ce1-57886c2bb7.zip
  .yarn/cache/kleur-npm-4.1.5-46b6135f41-1dc476e327.zip
  .yarn/cache/react-native-builder-bob-npm-0.21.2-fd2844d547-7dd2c37d97.zip
  .yarn/cache/unc-path-regex-npm-0.1.2-53c3343ef3-a05fa2006b.zip
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.spec.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.spec.ts
  packages/nestjs-rxjs-metrics/src/type/histogram-record.type.ts
  packages/nestjs-rxjs-metrics/src/type/summary-record.type.ts
  packages/react-native-payments-example/package.json
  packages/react-native-payments-example/src/App.tsx
  packages/react-native-payments/ios/Payments.h
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/package.json
  packages/react-native-payments/src/constants.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/payment-request/payment-request.ts
  packages/react-native-payments/tsconfig.build-cjs.json
  packages/react-native-payments/tsconfig.build-esm.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat: working on react-native-payments, ios
  .yarn/cache/@types-uuid-npm-9.0.2-f2a5f65979-1754bcf344.zip
  packages/react-native-payments-example/package.json
  packages/react-native-payments-example/src/App.tsx
  packages/react-native-payments/ios/Payments.h
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/package.json
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/enum/supported-networks.enum.ts
  packages/react-native-payments/src/interface/payment-details/ios/ios-cn-phone-number.ts
  packages/react-native-payments/src/interface/payment-details/ios/ios-cn-postal-address.ts
  packages/react-native-payments/src/interface/payment-details/ios/ios-ns-person-name-components.ts
  packages/react-native-payments/src/interface/payment-details/ios/ios-payment-details.interface.ts
  packages/react-native-payments/src/interface/payment-details/ios/ios-pk-contact.ts
  packages/react-native-payments/src/interface/payment-details/ios/ios-pk-payment.ts
  packages/react-native-payments/src/interface/payment-details/ios/ios-pk-shipping-method.ts
  packages/react-native-payments/src/interface/payment-details/ios/ios-raw-payment-details.interface.ts
  packages/react-native-payments/src/interface/payment-details/native-payment-details.interface.ts
  packages/react-native-payments/src/interface/payment-item.ts
  packages/react-native-payments/src/payment-request/payment-request.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat: working on react-native-payments, ios
  packages/react-native-payments/src/interface/payment-details/ios/ios-pk-payment.ts
Due: yarn eslint --fix, yarn prettier --write

feat: working on react-native-payments, android
  packages/react-native-payments-example/android/app/build.gradle
  packages/react-native-payments-example/android/settings.gradle
  packages/react-native-payments/android/build.gradle
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsPackage.java
  packages/react-native-payments/android/src/main/java/com/rtnpayments/PaymentsPackage.java
  packages/react-native-payments/android/src/oldarch/PaymentsSpec.java
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/package.json
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/enum/supported-networks.enum.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-billing-address-parameters.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-merchant-info.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-payment-data-request.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-payment-method-card-parameters.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-payment-method.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-shipping-address-parameters.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-tokenization-direct-specification.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-tokenization-gateway-specification.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-transaction-info.ts
Due: yarn eslint --fix, yarn prettier --write

feat: working on react-native-payments, android
  packages/react-native-payments-example/android/app/build.gradle
  packages/react-native-payments-example/android/app/src/main/AndroidManifest.xml
  packages/react-native-payments-example/src/App.tsx
  packages/react-native-payments/android/build.gradle
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/src/NativePayments.ts
  packages/react-native-payments/src/android/enum/android-allowed-auth-methods.enum.ts
  packages/react-native-payments/src/android/enum/android-allowed-card-networks.enum.ts
  packages/react-native-payments/src/android/enum/android-payment-method-tokenization-type.enum.ts
  packages/react-native-payments/src/android/interface/request/android-billing-address-parameters.ts
  packages/react-native-payments/src/android/interface/request/android-merchant-info.ts
  packages/react-native-payments/src/android/interface/request/android-payment-data-request.ts
  packages/react-native-payments/src/android/interface/request/android-payment-method-card-parameters.ts
  packages/react-native-payments/src/android/interface/request/android-payment-method.ts
  packages/react-native-payments/src/android/interface/request/android-shipping-address-parameters.ts
  packages/react-native-payments/src/android/interface/request/android-tokenization-direct-specification.ts
  packages/react-native-payments/src/android/interface/request/android-tokenization-gateway-specification.ts
  packages/react-native-payments/src/android/interface/request/android-transaction-info.ts
  packages/react-native-payments/src/android/interface/response/android-assurance-details-specifications.ts
  packages/react-native-payments/src/android/interface/response/android-card-info.ts
  packages/react-native-payments/src/android/interface/response/android-full-address.ts
  packages/react-native-payments/src/android/interface/response/android-min-address.ts
  packages/react-native-payments/src/android/interface/response/android-payment-data.ts
  packages/react-native-payments/src/android/interface/response/android-payment-method-data.ts
  packages/react-native-payments/src/android/interface/response/android-payment-method-tokenization-data.ts
  packages/react-native-payments/src/android/type/android-address.ts
  packages/react-native-payments/src/enum/allowed-payment-methods.enum.ts
  packages/react-native-payments/src/enum/supported-networks.enum.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/interface/payment-details/android/android-raw-payment-details.interface.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-direct-tokenization-parameters.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-gateway-tokenization-parameters.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-merchant-info.ts
  packages/react-native-payments/src/interface/payment-method-data/android/android-payment-method-data.ts
  packages/react-native-payments/src/interface/payment-method-data/generic-payment-method-data.interface.ts
  packages/react-native-payments/src/interface/payment-method-data/ios/ios-payment-method-data.ts
  packages/react-native-payments/src/interface/payment-method-data/payment-method-data.ts
  packages/react-native-payments/src/payment-request/payment-request.ts
  packages/react-native-payments/src/payment-response/payment-response.ts
  packages/react-native-payments/src/util/validate-platform-method-data.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat: working on react-native-payments, android
  packages/react-native-payments/src/NativePayments.ts
  packages/react-native-payments/src/android/enum/android-allowed-auth-methods.enum.ts
  packages/react-native-payments/src/android/enum/android-allowed-card-networks.enum.ts
  packages/react-native-payments/src/android/interface/request/android-mandatory-payment-data-request.ts
  packages/react-native-payments/src/android/interface/request/android-payment-data-request.ts
  packages/react-native-payments/src/android/interface/request/android-payment-method-card-parameters.ts
  packages/react-native-payments/src/android/interface/response/android-payment-data-token.ts
  packages/react-native-payments/src/interface/payment-method-data.ts
  packages/react-native-payments/src/interface/payment-method-data/payment-method-data.ts
  packages/react-native-payments/src/interface/payment-options.interface.ts
  packages/react-native-payments/src/interface/payment-response.interface.ts
  packages/react-native-payments/src/payment-request/payment-request.ts
  packages/react-native-payments/src/payment-response/payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

feat: working on react-native-payments, android
  packages/react-native-payments-example/src/App.tsx
Due: yarn eslint --fix, yarn prettier --write

feat: working on react-native-payments, ios
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/@standard/android/response/android-address.ts
  packages/react-native-payments/src/@standard/android/response/android-card-info.ts
  packages/react-native-payments/src/@standard/android/response/android-full-address.ts
  packages/react-native-payments/src/@standard/android/response/android-min-address.ts
  packages/react-native-payments/src/@standard/android/response/android-payment-data.ts
  packages/react-native-payments/src/@standard/android/response/android-payment-method-data.ts
  packages/react-native-payments/src/@standard/ios/enum/ios-pk-merchant-capability.enum.ts
  packages/react-native-payments/src/@standard/ios/enum/ios-pk-payment-networks.enum.ts
  packages/react-native-payments/src/@standard/ios/mapping/ios-payment-method-data-data.interface.ts
  packages/react-native-payments/src/@standard/ios/request/ios-payment-data-request.ts
  packages/react-native-payments/src/@standard/ios/response/ios-pk-payment.ts
  packages/react-native-payments/src/@standard/ios/response/ios-pk-token.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
  packages/react-native-payments/src/class/payment-response/payment-response.ts
  packages/react-native-payments/src/interface/payment-response-address.interface.ts
  packages/react-native-payments/src/interface/payment-response-details.interface.ts
  packages/react-native-payments/src/interface/payment-response.interface.ts
Due: yarn eslint --fix, yarn prettier --write

feat: working version ios and android
  packages/react-native-payments-example/src/App.tsx
  packages/react-native-payments/ios/Payments.h
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/package.json
  packages/react-native-payments/src/@standard/ios/request/ios-payment-data-request.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

feat: working version ios and android
  packages/react-native-payments/package.json
  packages/react-native-payments/src/@standard/ios/mapping/ios-payment-method-data-data.interface.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

feat: working version ios and android
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

feat: working version ios and android
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/android/src/oldarch/PaymentsSpec.java
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed react-native types deps, and bumped other deps
  .jscpd.json
  .yarn/cache/@testing-library-jest-native-npm-4.0.13-7d76ff48db-093b79c80a.zip
  .yarn/cache/@testing-library-react-native-npm-8.0.0-c53d89e22a-15cb8deea5.zip
  .yarn/cache/@types-react-native-npm-0.64.33-4e134e56ce-f34a9eb678.zip
  .yarn/cache/@types-react-npm-17.0.62-71b39eedea-428a5aff44.zip
  .yarn/cache/@types-react-test-renderer-npm-17.0.2-71899ad95b-0be325798b.zip
  .yarn/cache/pretty-format-npm-27.5.1-cd7d49696f-cf610cffcb.zip
  .yarn/cache/react-test-renderer-npm-17.0.2-1086717127-e6b5c6ed2a.zip
  .yarn/cache/scheduler-npm-0.20.2-90beaecfba-c4b35cf967.zip
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/react-native-payments-example/src/App.tsx
  packages/react-native-payments/src/@standard/w3c/payment-details-update.ts
  packages/react-native-payments/src/NativePayments.ts
  packages/react-native-payments/src/error/type.error.ts
  packages/react-native-payments/src/interface/payment-address.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

chore: fixed react-native types deps, and bumped other deps
  .yarn/cache/@testing-library-jest-native-npm-5.4.2-1985821586-0c9e868a07.zip
  .yarn/cache/@testing-library-react-native-npm-12.1.3-33f365167c-afc472bdf1.zip
Due: none

chore: fixed static code checks
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed static code checks
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
Due: none

chore: fixed canMakePayment implementation for android
  packages/react-native-payments-example/src/App.tsx
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/android/src/oldarch/PaymentsSpec.java
Due: yarn eslint --fix, yarn prettier --write

chore: fixed canMakePayment implementation for android
  packages/react-native-payments/readme.md
Due: yarn prettier --write

chore: fixed canMakePayment implementation for android
  packages/react-native-payments-example/src/App.tsx
Due: yarn eslint --fix, yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
