Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat: added cs util, docs, tests
  packages/shared/readme.md
  packages/shared/src/cs.spec.ts
  packages/shared/src/cs.ts
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat: added Flex.rowRevese and Flex.columnReverse
  packages/fast-style/src/enum/flex-direction.enum.ts
  packages/fast-style/src/flex.spec.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

docs: improved fast-style docs
  packages/fast-style/readme.md
Due: git add ., yarn prettier

feat: added isDefined to shared
  packages/shared/readme.md
  packages/shared/src/is-defined.spec.ts
  packages/shared/src/is-defined.ts
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat: sahred - added platform constants and styles
  packages/shared/package.json
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/platform-style.spec.ts
  packages/shared/src/platform-style.ts
  packages/shared/src/platform.ts
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat: shared - added setTestId util
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/is-defined.ts
  packages/shared/src/platform-style.spec.ts
  packages/shared/src/platform-style.ts
  packages/shared/src/platform.mock.ts
  packages/shared/src/set-test-id.spec.ts
  packages/shared/src/set-test-id.ts
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat: lint fixes
  packages/hoverable/src/component/hover-image.ts
  packages/hoverable/src/component/hover-scroll-view.ts
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.0.17
  lerna.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/object-field-tree/package.json
  packages/shared/package.json
Due: none

feat: changed root docs
  README.md
Due: git add ., yarn prettier

fix: removed TS alias as it breaks npm version, fixed ts-lint
  packages/fast-style/package.json
  packages/fast-style/tslint.json
  packages/hoverable/package.json
  packages/hoverable/src/component/hover-image.ts
  packages/hoverable/src/component/hover-scroll-view.ts
  packages/hoverable/src/component/hover-text.ts
  packages/hoverable/src/component/hover-touchable-highlight.ts
  packages/hoverable/src/component/hover-touchable-opacity.ts
  packages/hoverable/src/component/hover-touchable-without-feedback.ts
  packages/hoverable/src/component/hover-view.ts
  packages/hoverable/tsconfig.json
  packages/hoverable/tslint.json
  packages/object-field-tree/package.json
  packages/shared/package.json
  packages/shared/tslint.json
  tslint.json
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add .

fix: removed TS alias as it breaks npm version, fixed ts-lint
  tslint.json
Due: none

v0.0.18
  lerna.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/object-field-tree/package.json
  packages/shared/package.json
Due: none

fix: disabled lerna publishing
  babel.config.js
  lerna.json
Due: none

fix: configuring version publication on master merge
  .travis.yml
  lerna.json
Due: none

fix: configuring version publication on master merge
  .travis.yml
Due: none

fix: reverted babel.config.js
  babel.config.js
Due: none

docs: updated shared docs
  packages/shared/readme.md
Due: git add ., yarn prettier

Fixes npm version (#9)
  .travis.yml
  README.md
  lerna.json
  packages/fast-style/package.json
  packages/fast-style/tslint.json
  packages/hoverable/package.json
  packages/hoverable/src/component/hover-image.ts
  packages/hoverable/src/component/hover-scroll-view.ts
  packages/hoverable/src/component/hover-text.ts
  packages/hoverable/src/component/hover-touchable-highlight.ts
  packages/hoverable/src/component/hover-touchable-opacity.ts
  packages/hoverable/src/component/hover-touchable-without-feedback.ts
  packages/hoverable/src/component/hover-view.ts
  packages/hoverable/tsconfig.json
  packages/hoverable/tslint.json
  packages/object-field-tree/package.json
  packages/shared/package.json
  packages/shared/readme.md
  packages/shared/tslint.json
  tslint.json
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat: fixed types
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/platform-style.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

Fixed types for real-world use cases (#10)
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/platform-style.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

feat: fix version publication
  .travis.yml
Due: none

Fix version publication (#11)
  .travis.yml
Due: none

v0.1.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: git add ., yarn prettier

fix: ci build only master
  .travis.yml
Due: none

Platform package (#12)
  .huskyrc
  .travis.yml
  package.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/hoverable/tsconfig.json
  packages/object-field-tree/tsconfig.json
  packages/platform/.gitignore
  packages/platform/babel.config.js
  packages/platform/jest.config.js
  packages/platform/package.json
  packages/platform/readme.md
  packages/platform/src/index.ts
  packages/platform/src/platform-style.spec.ts
  packages/platform/src/platform-style.ts
  packages/platform/src/platform.mock.ts
  packages/platform/src/platform.ts
  packages/platform/src/set-test-id.spec.ts
  packages/platform/src/set-test-id.ts
  packages/platform/tsconfig.json
  packages/platform/tslint.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/tsconfig.json
  tsconfig.json
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

v0.1.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: git add ., yarn prettier

docs: splitted docs
  packages/platform/readme.md
  packages/shared/readme.md
Due: git add ., yarn prettier

docs: updated platform
  packages/platform/readme.md
Due: git add ., yarn prettier

Doc updates (#13)
  packages/platform/readme.md
  packages/shared/readme.md
Due: git add ., yarn prettier

v0.1.2
  CHANGELOG.md
  lerna.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: git add ., yarn prettier

Path conditions:
  yarn tslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: any of: packages/**/*.{ts,tsx}
  git add .: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
  yarn prettier: any of: *.{md, json}
