Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

docs(nestjs-rxjs-metrics): added docs
  packages/nestjs-rxjs-metrics/readme.md
Due: yarn prettier --write

feat(nestjs-typed-config): new package added
  README.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/.eslintrc.js
  packages/nestjs-typed-config/.gitignore
  packages/nestjs-typed-config/babel.config.js
  packages/nestjs-typed-config/jest.config.js
  packages/nestjs-typed-config/package.json
  packages/nestjs-typed-config/readme.md
  packages/nestjs-typed-config/src/api-config.module.ts
  packages/nestjs-typed-config/src/api-config.service.ts
  packages/nestjs-typed-config/src/env.type.ts
  packages/nestjs-typed-config/src/index.ts
  packages/nestjs-typed-config/tsconfig.build.json
  packages/nestjs-typed-config/tsconfig.json
  packages/redux-loadable/package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

chore: fixed review
  packages/nestjs-rxjs-metrics/readme.md
Due: yarn prettier --write

chore: fixed review
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed review
  packages/nestjs-typed-config/src/index.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.module.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-metrics): added labels support, fixed metrics did not start error (#56)
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-metrics/src/interface/metrics-module-options.interface.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-service.interface.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.spec.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.spec.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.ts
  packages/nestjs-rxjs-metrics/src/type/histogram-record.type.ts
  packages/nestjs-rxjs-metrics/src/type/labels-config.type.ts
  packages/nestjs-rxjs-metrics/src/type/summary-record.type.ts
  packages/nestjs-rxjs-metrics/src/util/create-metrics-record.util.ts
Due: yarn eslint --fix, yarn prettier --write

v0.9.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

test: add unit tests for typed config module and service and add docs
  packages/nestjs-typed-config/package.json
  packages/nestjs-typed-config/readme.md
  packages/nestjs-typed-config/src/nest-js-typed-config.module.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.module.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-typed-config): add missing code language flag to readme.md
  packages/nestjs-typed-config/readme.md
Due: yarn prettier --write

feat(nestjs-typed-config): new package added (#57)
  README.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/.eslintrc.js
  packages/nestjs-typed-config/.gitignore
  packages/nestjs-typed-config/babel.config.js
  packages/nestjs-typed-config/jest.config.js
  packages/nestjs-typed-config/package.json
  packages/nestjs-typed-config/readme.md
  packages/nestjs-typed-config/src/env.type.ts
  packages/nestjs-typed-config/src/index.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.module.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.module.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
  packages/nestjs-typed-config/tsconfig.build.json
  packages/nestjs-typed-config/tsconfig.json
  packages/redux-loadable/package.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.10.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

fix(nestjs-typed-config): added support for numbers,booleans,enums values
  packages/nestjs-typed-config/src/nest-js-typed-config.module.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.module.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
Due: yarn eslint --fix, yarn prettier --write

v0.10.1
  CHANGELOG.md
  lerna.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
Due: yarn prettier --write

fix(shared): added isNotEmptyArray util
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/is-not-empty-array/is-not-empty-array.ts
Due: yarn eslint --fix, yarn prettier --write

fix(shared): added isNotEmptyArray util
  packages/shared/readme.md
Due: yarn prettier --write

feat: updated dev deps, fixed eslint issues
  .eslintrc.js
  README.md
  package.json
  packages/hoverable/src/hover.props.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-module-options.interface.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.module.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
  packages/redux-loadable/src/interface/loading-state.interface.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat: updated dev deps, fixed eslint issues
  .eslintrc.js
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
Due: yarn eslint --fix, yarn prettier --write

feat: updated dev deps, fixed eslint issues
  .eslintrc.js
  README.md
  package.json
  packages/fast-style/src/enum/flex-align-items.enum.ts
  packages/fast-style/src/enum/flex-direction.enum.ts
  packages/fast-style/src/enum/flex-justify-content.enum.ts
  packages/nestjs-rxjs-logger/src/app-log-level.enum.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.module.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

Update packages/shared/readme.md
  packages/shared/readme.md
Due: yarn prettier --write

chore: fixed review
  packages/shared/readme.md
  packages/shared/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

feat(redux-loadable): added loadingReset util, fixed returning state copy from utils
  packages/redux-loadable/readme.md
  packages/redux-loadable/src/index.ts
  packages/redux-loadable/src/utils/loading-failed.util.ts
  packages/redux-loadable/src/utils/loading-finished.util.ts
  packages/redux-loadable/src/utils/loading-reset.util.spec.ts
  packages/redux-loadable/src/utils/loading-reset.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: increased jest coverage threshold
  jest.config.js
Due: none

feat(shared): added isNotEmptyArray util (#65)
  jest.config.js
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/is-not-empty-array/is-not-empty-array.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed review
  packages/redux-loadable/src/utils/loading-failed.util.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed review
  packages/redux-loadable/src/utils/loading-failed.util.spec.ts
  packages/redux-loadable/src/utils/loading-finished.util.spec.ts
  packages/redux-loadable/src/utils/loading-reset.util.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed coverage to meet travis
  jest.config.js
Due: none

feat(redux-loadable): added loadingReset util, fixed copying state object (#67)
  jest.config.js
  packages/redux-loadable/readme.md
  packages/redux-loadable/src/index.ts
  packages/redux-loadable/src/utils/loading-failed.util.spec.ts
  packages/redux-loadable/src/utils/loading-failed.util.ts
  packages/redux-loadable/src/utils/loading-finished.util.spec.ts
  packages/redux-loadable/src/utils/loading-finished.util.ts
  packages/redux-loadable/src/utils/loading-reset.util.spec.ts
  packages/redux-loadable/src/utils/loading-reset.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat: updated dev deps, fixed eslint issues (#66)
  .eslintrc.js
  README.md
  package.json
  packages/fast-style/src/enum/flex-align-items.enum.ts
  packages/fast-style/src/enum/flex-direction.enum.ts
  packages/fast-style/src/enum/flex-justify-content.enum.ts
  packages/hoverable/src/hover.props.ts
  packages/nestjs-rxjs-logger/src/app-log-level.enum.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-module-options.interface.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.module.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.spec.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
  packages/redux-loadable/src/interface/loading-state.interface.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.11.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

feat: added wdio package
  README.md
  packages/wdio/.eslintrc.js
  packages/wdio/.gitignore
  packages/wdio/babel.config.js
  packages/wdio/jest.config.js
  packages/wdio/package.json
  packages/wdio/readme.md
  packages/wdio/src/add-wdio-commands.ts
  packages/wdio/src/capability/index.ts
  packages/wdio/src/capability/is-android.capability.ts
  packages/wdio/src/capability/is-browser.capability.ts
  packages/wdio/src/capability/is-ios.capability.ts
  packages/wdio/src/command/clear-input.command.ts
  packages/wdio/src/command/index.ts
  packages/wdio/src/command/mobile/open-deep-link.command.ts
  packages/wdio/src/command/mobile/relative-click.command.ts
  packages/wdio/src/command/slow-input.command.ts
  packages/wdio/src/command/test-id-index.command.ts
  packages/wdio/src/command/test-id.command.ts
  packages/wdio/src/command/test-ids.command.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/visible.component.ts
  packages/wdio/src/index.ts
  packages/wdio/src/selector/android-testid.selector.ts
  packages/wdio/src/selector/index.ts
  packages/wdio/src/selector/ios-testid.selector.ts
  packages/wdio/src/selector/mobile-testid.selector.ts
  packages/wdio/src/selector/test-id.selector.ts
  packages/wdio/src/selector/web-testid.selector.ts
  packages/wdio/src/type/index.ts
  packages/wdio/src/type/selector-context.type.ts
  packages/wdio/src/wdio.d.ts
  packages/wdio/tsconfig.build.json
  packages/wdio/tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat: added wdio package
  packages/wdio/readme.md
Due: yarn prettier --write

feat: added wdio package
  packages/wdio/src/wdio.d.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added swipe command
  packages/wdio/src/add-wdio-commands.ts
  packages/wdio/src/command/swipe.command.ts
  packages/wdio/src/command/test-id-index.command.ts
  packages/wdio/src/command/test-id.command.ts
  packages/wdio/src/command/test-ids.command.ts
  packages/wdio/src/type/index.ts
  packages/wdio/src/type/selector-context.type.ts
  packages/wdio/src/type/swipe-direction.type.ts
  packages/wdio/src/wdio.d.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): normalized testID naming
  packages/wdio/src/command/test-id.command.ts
  packages/wdio/src/command/test-ids.command.ts
  packages/wdio/src/selector/android-testid.selector.ts
  packages/wdio/src/selector/ios-testid.selector.ts
  packages/wdio/src/selector/mobile-testid.selector.ts
  packages/wdio/src/selector/test-id.selector.ts
  packages/wdio/src/selector/web-testid.selector.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): normalized testID naming
  packages/wdio/src/command/test-id-index.command.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): normalized testID naming
  packages/wdio/src/component/visible.component.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed wdio.d.ts copy
  packages/wdio/package.json
Due: none

fix(wdio): fixed wdio.d.ts import
  packages/wdio/src/wdio.d.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed review
  packages/wdio/src/command/mobile/open-deep-link.command.ts
Due: yarn eslint --fix, yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
