Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

ci: added release-it config to root package.json
  package.json
Due: none

v0.59.5
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

revert: lerna
  package.json
Due: none

chore: release v0.59.6 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

fix: codecov badge
  README.md
Due: yarn prettier --write

Update README.md
  README.md
Due: yarn prettier --write

fix: added codecov flags
  codecov.yml
Due: none

fix: added codecov flags (#157)
  codecov.yml
Due: none

fix: added codecov flags, added master branch codecov
  .github/workflows/release.yml
  codecov.yml
Due: none

feat: added codecov to master, fixed flags (#158)
  .github/workflows/release.yml
  codecov.yml
Due: none

feat: improved bundled size by removing tsbuildinfo from the dist on build script
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/shared/package.json
  packages/wdio/package.json
Due: none

chore: release v0.60.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

feat: added sort-package-json to lint-staged
  .lintstagedrc
  packages/shared/package.json
Due: none

chore: release v0.61.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

feat(shared): added IsNotEmptyArray<T> type, improved isNotEmptyArray typeguard
  packages/shared/readme.md
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
  packages/shared/src/type/is-not-empty-array-type/is-not-empty-array.type.md
  packages/shared/src/type/is-not-empty-array-type/is-not-empty-array.type.ts
  packages/shared/src/type/maybe-type/maybe.type.md
Due: yarn eslint --fix, yarn prettier --write

doce(shared): added IsNotEmptyArray<T> type
  packages/shared/readme.md
Due: yarn prettier --write

chore: fixed lint
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed docs
  packages/shared/src/type/is-not-empty-array-type/is-not-empty-array.type.md
Due: yarn prettier --write

feat(shared): added IsNotEmptyArray<T> type, improved isNotEmptyArray (#159)
  packages/shared/readme.md
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
  packages/shared/src/type/is-not-empty-array-type/is-not-empty-array.type.md
  packages/shared/src/type/is-not-empty-array-type/is-not-empty-array.type.ts
  packages/shared/src/type/maybe-type/maybe.type.md
Due: yarn eslint --fix, yarn prettier --write

chore: release v0.62.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

chore: docs change for the release
  packages/shared/readme.md
Due: yarn prettier --write

fix(shared): improved isNotEmptyArray types
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: yarn eslint --fix, yarn prettier --write

fix(shared): improved isNotEmptyArray types (#162)
  packages/shared/readme.md
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v0.62.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

fix(shared): improved isEmptyArray types
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.md
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v0.62.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

ci: added stale issues action
  .github/workflows/pull-request.yaml
Due: none

chore: release v0.62.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
Due: yarn prettier --write

fix(nestjs-typed-config): fixed file env variable name should end with _FILE
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-typed-config): fixed file env variable name should end with _FILE (#165)
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v0.62.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
Due: yarn prettier --write

feat: added react-eslint-plugin
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-6.13.2-c060495a4b-e50cbbe710.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-6.14.0-cf3dccf1da-ec688fd71b.zip
  .yarn/cache/@typescript-eslint-parser-npm-6.13.2-9c530a45b0-aeafc414d2.zip
  .yarn/cache/@typescript-eslint-parser-npm-6.14.0-b05bb8f265-5fbe8d7431.zip
  .yarn/cache/@typescript-eslint-rule-tester-npm-6.14.0-9f18da1ab9-ed9b9dcd1f.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-6.13.2-55a7e50cba-ff8fd64ddf.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-6.14.0-2737e43e16-0b577d42db.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-6.13.2-8f2d61b409-ba54e57461.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-6.14.0-31cbab8534-09988f2527.zip
  .yarn/cache/@typescript-eslint-types-npm-6.13.2-a52f397aba-4493ff06fa.zip
  .yarn/cache/@typescript-eslint-types-npm-6.14.0-2f9024a803-624e6c5227.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-6.13.2-044930d241-0c18ee5ef5.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-6.14.0-7b7d4eea91-495d761646.zip
  .yarn/cache/@typescript-eslint-utils-npm-6.13.2-246994db2d-b66bcf2a94.zip
  .yarn/cache/@typescript-eslint-utils-npm-6.14.0-647650f908-36e8501cb8.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-6.13.2-6c18cdb3be-4b4def7acd.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-6.14.0-6e4784842b-fc593c4e94.zip
  package.json
  packages/react-eslint-plugin/.eslintrc.js
  packages/react-eslint-plugin/.gitignore
  packages/react-eslint-plugin/LICENSE.md
  packages/react-eslint-plugin/babel.config.js
  packages/react-eslint-plugin/jest.config.js
  packages/react-eslint-plugin/package.json
  packages/react-eslint-plugin/readme.md
  packages/react-eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
  packages/react-eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
  packages/react-eslint-plugin/tsconfig.build-cjs.json
  packages/react-eslint-plugin/tsconfig.build-esm.json
  packages/react-eslint-plugin/tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

docs(react-eslint-plugin): added doc
  packages/react-eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.md
Due: yarn prettier --write

chore(react-eslint-plugin): finishing
  packages/react-eslint-plugin/.eslintrc.js
  packages/react-eslint-plugin/src/index.ts
  packages/react-eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
  packages/react-eslint-plugin/tsconfig.build-esm.json
Due: yarn eslint --fix, yarn prettier --write

chore: updated eslint deps
  .yarn/cache/@eslint-js-npm-8.55.0-ec5eb0638e-fa33ef619f.zip
  .yarn/cache/@eslint-js-npm-8.56.0-b1de08cbff-5804130574.zip
  .yarn/cache/eslint-compat-utils-npm-0.1.2-361c6992b1-2315d9db81.zip
  .yarn/cache/eslint-config-standard-with-typescript-npm-40.0.0-7d3aa8daa2-3d78c0c28d.zip
  .yarn/cache/eslint-config-standard-with-typescript-npm-43.0.0-0694887481-a12c7f5ead.zip
  .yarn/cache/eslint-npm-8.55.0-7e84babe85-83f82a6045.zip
  .yarn/cache/eslint-npm-8.56.0-6eec398a41-883436d1e8.zip
  .yarn/cache/eslint-plugin-es-x-npm-7.2.0-3f501a6c34-eece76ef6b.zip
  .yarn/cache/eslint-plugin-es-x-npm-7.5.0-77e84d6e5d-e770e57df7.zip
  .yarn/cache/eslint-plugin-import-npm-2.29.0-9cd6da0b0a-19ee541fb9.zip
  .yarn/cache/eslint-plugin-import-npm-2.29.1-b94305f7dc-e65159aef8.zip
  .yarn/cache/eslint-plugin-n-npm-16.3.1-2e273281c6-915d80f16e.zip
  .yarn/cache/eslint-plugin-n-npm-16.4.0-92f4e13572-de5b2ca458.zip
  .yarn/cache/tsconfig-paths-npm-3.14.2-90ce75420d-a6162eaa1a.zip
  .yarn/cache/tsconfig-paths-npm-3.15.0-ff68930e0e-59f35407a3.zip
  package.json
  packages/react-eslint-plugin/src/index.ts
  packages/react-eslint-plugin/src/rules/index.ts
  packages/react-eslint-plugin/tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write
