Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

ci: rewrite codecov.yml flags and wire OIDC upload (#482)
  .github/workflows/pr.yml
  codecov.yml
Due: none

build: raise supported node floor to 22 (#511)
  .github/workflows/pr.yml
  .nvmrc
  package.json
  packages/decorators-core/package.json
  packages/eslint-plugin/package.json
  packages/fast-style/package.json
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/package.json
  packages/log-decorator/package.json
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments-example/apps/bare/package.json
  packages/react-native-payments-example/apps/expo/package.json
  packages/react-native-payments-example/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
Due: yarn sort-package-json

ci: cancel a closed pull request's queued workflow runs
  .github/workflows/pr-closed-cleanup.yml
Due: none

docs: add codecov flag badges to package readmes (#506)
  packages/fast-style/readme.md
  packages/nestjs-rxjs-lock/readme.md
  packages/nestjs-rxjs-logger/readme.md
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-typed-config/readme.md
  packages/nestjs-webpack-swc/readme.md
  packages/object-field-tree/readme.md
  packages/platform/readme.md
  packages/redux-loadable/readme.md
  packages/rxjs-errors/readme.md
  packages/shared/readme.md
  packages/wdio/readme.md
Due: yarn prettier --write

docs: add codecov flag badges to decorator and nestjs-enterprise readmes
  packages/decorators-core/readme.md
  packages/eslint-plugin/readme.md
  packages/histogram-metric-decorator/readme.md
  packages/lock-decorator/readme.md
  packages/log-decorator/readme.md
  packages/nestjs-enterprise/readme.md
Due: yarn prettier --write

docs: add codecov flag badges to decorator and nestjs-enterprise readmes (#519)
  packages/decorators-core/readme.md
  packages/eslint-plugin/readme.md
  packages/histogram-metric-decorator/readme.md
  packages/lock-decorator/readme.md
  packages/log-decorator/readme.md
  packages/nestjs-enterprise/readme.md
Due: yarn prettier --write

docs(react-native-payments): fix token/error/native-capability accuracy gaps
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/docs/api/android-payment-method-data.md
  packages/react-native-payments/docs/api/android-payment-method-token.md
  packages/react-native-payments/docs/api/android-payment-response.md
  packages/react-native-payments/docs/api/ios-payment-method-data.md
  packages/react-native-payments/docs/api/ios-pk-merchant-capability.md
  packages/react-native-payments/docs/api/ios-pk-token.md
  packages/react-native-payments/docs/api/payment-details-modifier.md
  packages/react-native-payments/docs/api/payments-error.md
  packages/react-native-payments/docs/guides/change-events.md
  packages/react-native-payments/docs/guides/errors.md
  packages/react-native-payments/docs/guides/migrate-from-upstream.md
  packages/react-native-payments/docs/guides/modifiers.md
  packages/react-native-payments/docs/guides/testing.md
  packages/react-native-payments/llms-full.txt
Due: yarn prettier --write

chore: release v2.12.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/decorators-core/CHANGELOG.md
  packages/decorators-core/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/histogram-metric-decorator/CHANGELOG.md
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/CHANGELOG.md
  packages/lock-decorator/package.json
  packages/log-decorator/CHANGELOG.md
  packages/log-decorator/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: fix run cancellation pagination and branch encoding
  .github/workflows/pr-closed-cleanup.yml
Due: none

docs: deepen per-package agent architecture notes
  packages/decorators-core/AGENTS.md
  packages/eslint-plugin/AGENTS.md
  packages/fast-style/AGENTS.md
  packages/histogram-metric-decorator/AGENTS.md
  packages/lock-decorator/AGENTS.md
  packages/log-decorator/AGENTS.md
  packages/nestjs-enterprise/AGENTS.md
  packages/nestjs-rxjs-lock/AGENTS.md
  packages/nestjs-rxjs-logger/AGENTS.md
  packages/nestjs-rxjs-metrics/AGENTS.md
  packages/nestjs-rxjs-redis/AGENTS.md
  packages/nestjs-typed-config/AGENTS.md
  packages/nestjs-webpack-swc/AGENTS.md
  packages/object-field-tree/AGENTS.md
  packages/platform/AGENTS.md
  packages/react-native-payments-example/AGENTS.md
  packages/redux-loadable/AGENTS.md
  packages/rxjs-errors/AGENTS.md
  packages/shared/AGENTS.md
  packages/wdio/AGENTS.md
Due: yarn prettier --write

ci: scope cancellation to the closed pull request's own runs
  .github/workflows/pr-closed-cleanup.yml
Due: none

docs: bring package readmes to per-export parity
  packages/decorators-core/readme.md
  packages/fast-style/readme.md
  packages/histogram-metric-decorator/readme.md
  packages/lock-decorator/readme.md
  packages/log-decorator/readme.md
  packages/nestjs-enterprise/readme.md
  packages/nestjs-rxjs-lock/readme.md
  packages/nestjs-rxjs-logger/readme.md
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-typed-config/readme.md
  packages/object-field-tree/readme.md
  packages/platform/readme.md
  packages/redux-loadable/readme.md
  packages/rxjs-errors/readme.md
  packages/wdio/readme.md
Due: yarn prettier --write

docs(react-native-payments): fix remaining PaymentsError/token/address gaps
  packages/react-native-payments/docs/api/android-payment-method-token.md
  packages/react-native-payments/docs/api/payment-response.md
  packages/react-native-payments/docs/api/payments-error.md
  packages/react-native-payments/llms-full.txt
Due: yarn prettier --write

ci: cancel a closed pull request's queued workflow runs (#518)
  .github/workflows/pr-closed-cleanup.yml
Due: none

chore: release v2.12.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

docs: fix automated-review findings in package AGENTS.md
  packages/log-decorator/AGENTS.md
  packages/nestjs-rxjs-lock/AGENTS.md
  packages/nestjs-rxjs-metrics/AGENTS.md
  packages/nestjs-rxjs-redis/AGENTS.md
  packages/nestjs-webpack-swc/AGENTS.md
  packages/react-native-payments-example/AGENTS.md
  packages/redux-loadable/AGENTS.md
Due: yarn prettier --write

docs(lock-decorator,nestjs-enterprise): correct store-vs-library error semantics
  packages/lock-decorator/readme.md
  packages/nestjs-enterprise/readme.md
Due: yarn prettier --write

ci(react-native-payments-example): stop android-actions/setup-android's unscoped license walk
  .github/workflows/android-maestro.yml
Due: none

docs: tag remaining bare fenced code blocks in package AGENTS.md
  packages/decorators-core/AGENTS.md
  packages/eslint-plugin/AGENTS.md
  packages/fast-style/AGENTS.md
  packages/histogram-metric-decorator/AGENTS.md
  packages/lock-decorator/AGENTS.md
  packages/log-decorator/AGENTS.md
  packages/nestjs-enterprise/AGENTS.md
  packages/nestjs-rxjs-lock/AGENTS.md
  packages/nestjs-rxjs-logger/AGENTS.md
  packages/nestjs-rxjs-metrics/AGENTS.md
  packages/nestjs-rxjs-redis/AGENTS.md
  packages/nestjs-typed-config/AGENTS.md
  packages/nestjs-webpack-swc/AGENTS.md
  packages/object-field-tree/AGENTS.md
  packages/platform/AGENTS.md
  packages/react-native-payments-example/AGENTS.md
  packages/redux-loadable/AGENTS.md
  packages/rxjs-errors/AGENTS.md
  packages/shared/AGENTS.md
  packages/wdio/AGENTS.md
Due: yarn prettier --write

docs: fix example-code defects across readme snippets
  packages/lock-decorator/readme.md
  packages/log-decorator/readme.md
  packages/nestjs-enterprise/readme.md
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-typed-config/readme.md
  packages/redux-loadable/readme.md
Due: yarn prettier --write

docs: deepen per-package agent architecture notes (#523)
  packages/decorators-core/AGENTS.md
  packages/eslint-plugin/AGENTS.md
  packages/fast-style/AGENTS.md
  packages/histogram-metric-decorator/AGENTS.md
  packages/lock-decorator/AGENTS.md
  packages/log-decorator/AGENTS.md
  packages/nestjs-enterprise/AGENTS.md
  packages/nestjs-rxjs-lock/AGENTS.md
  packages/nestjs-rxjs-logger/AGENTS.md
  packages/nestjs-rxjs-metrics/AGENTS.md
  packages/nestjs-rxjs-redis/AGENTS.md
  packages/nestjs-typed-config/AGENTS.md
  packages/nestjs-webpack-swc/AGENTS.md
  packages/object-field-tree/AGENTS.md
  packages/platform/AGENTS.md
  packages/react-native-payments-example/AGENTS.md
  packages/redux-loadable/AGENTS.md
  packages/rxjs-errors/AGENTS.md
  packages/shared/AGENTS.md
  packages/wdio/AGENTS.md
Due: yarn prettier --write

docs: bring package readmes to per-export parity (#524)
  packages/decorators-core/readme.md
  packages/fast-style/readme.md
  packages/histogram-metric-decorator/readme.md
  packages/lock-decorator/readme.md
  packages/log-decorator/readme.md
  packages/nestjs-enterprise/readme.md
  packages/nestjs-rxjs-lock/readme.md
  packages/nestjs-rxjs-logger/readme.md
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-typed-config/readme.md
  packages/object-field-tree/readme.md
  packages/platform/readme.md
  packages/redux-loadable/readme.md
  packages/rxjs-errors/readme.md
  packages/wdio/readme.md
Due: yarn prettier --write

ci(react-native-payments-example): fix APK packaging pipefail and empty upload artifact
  .github/workflows/android-maestro.yml
Due: none

ci(react-native-payments-example): clear stale Base.app before restoring the native cache
  .github/workflows/ios-maestro.yml
Due: none

ci(react-native-payments-example): pin seed-native-cache actions and align with sibling fixes
  .github/workflows/seed-native-cache.yml
Due: none

ci(react-native-payments-example): add NDK/cmake host-arch diagnostic step
  .github/workflows/android-maestro.yml
Due: none

ci(react-native-payments-example): move the Android canary to the macOS fleet
  .github/workflows/android-maestro.yml
  .github/workflows/seed-native-cache.yml
Due: none

chore: release v2.12.6 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/decorators-core/CHANGELOG.md
  packages/decorators-core/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/histogram-metric-decorator/CHANGELOG.md
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/CHANGELOG.md
  packages/lock-decorator/package.json
  packages/log-decorator/CHANGELOG.md
  packages/log-decorator/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

fix(react-native-payments-example): resolve bare's gradle-plugin/codegen from the workspace, not the stale hoisted root
  packages/react-native-payments-example/apps/bare/android/app/build.gradle
  packages/react-native-payments-example/apps/bare/android/settings.gradle
Due: none

fix(react-native-payments-example): point bare's hermesCommand at the workspace-root hermes-compiler
  packages/react-native-payments-example/apps/bare/android/app/build.gradle
Due: none

ci(react-native-payments-example): fix cache-hit upload gap and dependency-bump trigger blind spot
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/seed-native-cache.yml
Due: none

ci(react-native-payments-example): run android e2e via redroid on the linux runner
  .github/workflows/android-maestro.yml
Due: none

fix(react-native-payments-example): self-heal Redroid prewarm gap and fix device-state hang
  .github/workflows/android-maestro.yml
Due: none

build: add repository.directory and reconcile package metadata
  package.json
  packages/decorators-core/package.json
  packages/eslint-plugin/package.json
  packages/fast-style/package.json
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/package.json
  packages/log-decorator/package.json
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/shared/package.json
  packages/wdio/package.json
Due: yarn sort-package-json

ci(react-native-payments-example): pin a boot-verified Redroid tag and force animation scales off
  .github/workflows/android-maestro.yml
Due: none

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
  yarn sort-package-json: any of: package.json
