Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
    'package.json': ['yarn sort-package-json']
}

ci: fixed binary deps
  .gitignore
Due: none

ci: fixed binary deps
  .yarn/cache/fsevents-patch-19706e7e35-10.zip
Due: none

chore: release v0.65.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: strict typing
  packages/react-native-payments/src/NativePayments.ts
Due: yarn eslint --fix, yarn prettier --write

fix: strict typing (#175)
  packages/react-native-payments/src/NativePayments.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v0.65.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(platform): fixed platform deps
  .yarn/cache/@react-native-async-storage-async-storage-npm-1.19.0-d9362064de-540265fcc4.zip
  .yarn/cache/merge-options-npm-3.0.4-f2ee6b8ea0-d86ddb3dd6.zip
  .yarn/cache/redux-persist-npm-6.0.0-56dad69feb-d3bf03fe8f.zip
  packages/platform/package.json
  packages/platform/readme.md
  packages/react-native-payments-example/rnw-community-react-native-payments.mock.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

fix(platform): fixed platform deps
  packages/react-native-payments-example/rnw-community-react-native-payments.mock.ts
Due: yarn eslint --fix, yarn prettier --write

fix(platform): fixed dependencies (#177)
  .yarn/cache/@react-native-async-storage-async-storage-npm-1.19.0-d9362064de-540265fcc4.zip
  .yarn/cache/merge-options-npm-3.0.4-f2ee6b8ea0-d86ddb3dd6.zip
  .yarn/cache/redux-persist-npm-6.0.0-56dad69feb-d3bf03fe8f.zip
  packages/platform/package.json
  packages/platform/readme.md
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: release v0.65.5 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(nestjs-rxjs-lock): fixed platform deps
  packages/nestjs-rxjs-lock/package.json
  packages/react-native-payments-example/ios/Podfile.lock
  yarn.lock
Due: yarn sort-package-json

fix(nestjs-rxjs-lock): fixed platform deps (#178)
  packages/nestjs-rxjs-lock/package.json
  packages/react-native-payments-example/ios/Podfile.lock
  yarn.lock
Due: yarn sort-package-json

chore: release v0.65.6 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
Due: yarn prettier --write, yarn sort-package-json

fix: typo
  packages/wdio/src/webdriverio.d.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v0.66.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(wdio): added roadmap and todos
  packages/wdio/readme.md
Due: yarn prettier --write

ci: migration to knip, turbo update
  .knip.json
  .ts-prunerc.js
  .yarn/cache/turbo-npm-1.11.2-962060ebae-778c13b4ed.zip
  .yarn/cache/turbo-npm-1.12.4-609fa9981a-c58920f24a.zip
  package.json
  packages/eslint-plugin/src/rules/index.ts
  packages/react-native-payments-example/__tests__/App.test.tsx
  packages/react-native-payments/.github/workflows/ci.yml
  packages/react-native-payments/src/@standard/w3c/payment-details-update.ts
  packages/wdio/src/wdio.mock.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

ci: added *:force scripts
  package.json
Due: yarn sort-package-json

chore: release v0.67.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: added *:force scripts (#181)
  package.json
Due: yarn sort-package-json

update ios response
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/@standard/ios/response/ios-cn-postal-address.ts
  packages/react-native-payments/src/@standard/ios/response/ios-pk-payment.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
  packages/react-native-payments/src/interface/payment-response-address.interface.ts
  packages/react-native-payments/src/interface/payment-response-details.interface.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprice): added new package
  packages/nestjs-enterprise/.eslintrc.js
  packages/nestjs-enterprise/.gitignore
  packages/nestjs-enterprise/LICENSE.md
  packages/nestjs-enterprise/babel.config.js
  packages/nestjs-enterprise/jest.config.js
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/readme.md
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/type/error-log-function.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/post-log-function.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/pre-log-function.type.ts
  packages/nestjs-enterprise/tsconfig.build-cjs.json
  packages/nestjs-enterprise/tsconfig.build-esm.json
  packages/nestjs-enterprise/tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(nestjs-enterprice): added adding log tests
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/type/decorated-method.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/method-decorator.type.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprice): added adding log tests
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprice): added adding log tests
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprice): added adding log tests
  packages/nestjs-enterprise/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprice): added adding log tests
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/readme.md
Due: yarn prettier --write, yarn sort-package-json

feat(nestjs-rxjs-redis): bump ioredis
  .yarn/cache/@nestjs-modules-ioredis-npm-1.0.1-ff9cf68bdf-909dadffc4.zip
  .yarn/cache/@nestjs-modules-ioredis-npm-1.2.4-5f48595638-5589f84f2e.zip
  .yarn/cache/@nestjs-modules-ioredis-npm-2.0.2-39505ded2c-f21ebfcf83.zip
  .yarn/cache/@nestjs-modules-ioredis-patch-c616562a7d-d1f87de284.zip
  .yarn/cache/@nestjs-terminus-npm-10.2.0-9e24c129e0-e320e51e6a.zip
  .yarn/cache/ansi-align-npm-3.0.1-8e6288d20a-4c7e8b6a10.zip
  .yarn/cache/boxen-npm-5.1.2-364ee34f2f-bc3d3d88d7.zip
  .yarn/cache/check-disk-space-npm-3.4.0-78a4169ea3-73130c32e2.zip
  .yarn/cache/cli-boxes-npm-2.2.1-7125a5ba44-be79f8ec23.zip
  .yarn/cache/ioredis-npm-5.4.1-c96e18ae67-9043b812ac.zip
  .yarn/cache/widest-line-npm-3.1.0-717bf2680b-03db6c9d0a.zip
  .yarn/patches/@nestjs-modules-ioredis-npm-1.0.1-ff9cf68bdf.patch
  package.json
  packages/nestjs-rxjs-redis/package.json
  yarn.lock
Due: yarn sort-package-json

feat(nestjs-rxjs-lock): bump ioredis
  .yarn/cache/@nestjs-core-npm-10.3.8-836a9acc6a-62aebc3a5f.zip
  .yarn/cache/@nestjs-modules-ioredis-npm-1.2.4-5f48595638-5589f84f2e.zip
  .yarn/cache/@nuxtjs-opencollective-npm-0.3.2-72db6b3551-0512871f42.zip
  .yarn/cache/consola-npm-2.15.3-7b4cf44fed-ba5b3c6960.zip
  .yarn/cache/ioredis-npm-5.3.2-58471071b1-0140f055ef.zip
  .yarn/cache/path-to-regexp-npm-3.2.0-daf7bbd038-3c86811e0d.zip
  packages/nestjs-rxjs-lock/package.json
  yarn.lock
Due: yarn sort-package-json

feat(nestjs-rxjs-redis,nestjs-rxjs-lock): bump ioredis and related modules (#191)
  .yarn/cache/@nestjs-core-npm-10.3.8-836a9acc6a-62aebc3a5f.zip
  .yarn/cache/@nestjs-modules-ioredis-npm-1.0.1-ff9cf68bdf-909dadffc4.zip
  .yarn/cache/@nestjs-modules-ioredis-npm-2.0.2-39505ded2c-f21ebfcf83.zip
  .yarn/cache/@nestjs-modules-ioredis-patch-c616562a7d-d1f87de284.zip
  .yarn/cache/@nestjs-terminus-npm-10.2.0-9e24c129e0-e320e51e6a.zip
  .yarn/cache/@nuxtjs-opencollective-npm-0.3.2-72db6b3551-0512871f42.zip
  .yarn/cache/ansi-align-npm-3.0.1-8e6288d20a-4c7e8b6a10.zip
  .yarn/cache/boxen-npm-5.1.2-364ee34f2f-bc3d3d88d7.zip
  .yarn/cache/check-disk-space-npm-3.4.0-78a4169ea3-73130c32e2.zip
  .yarn/cache/cli-boxes-npm-2.2.1-7125a5ba44-be79f8ec23.zip
  .yarn/cache/consola-npm-2.15.3-7b4cf44fed-ba5b3c6960.zip
  .yarn/cache/ioredis-npm-5.3.2-58471071b1-0140f055ef.zip
  .yarn/cache/ioredis-npm-5.4.1-c96e18ae67-9043b812ac.zip
  .yarn/cache/path-to-regexp-npm-3.2.0-daf7bbd038-3c86811e0d.zip
  .yarn/cache/widest-line-npm-3.1.0-717bf2680b-03db6c9d0a.zip
  .yarn/patches/@nestjs-modules-ioredis-npm-1.0.1-ff9cf68bdf.patch
  package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-redis/package.json
  yarn.lock
Due: yarn sort-package-json

chore: release v0.68.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(nestjs-enterprise): added doc
  packages/nestjs-enterprise/src/decorator/log/log-decorator.md
Due: yarn prettier --write

docs(nestjs-enterprise): added doc
  packages/nestjs-enterprise/readme.md
  packages/nestjs-enterprise/src/decorator/log/log-decorator.md
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
Due: yarn eslint --fix, yarn prettier --write

test(nestjs-enterprise): fixed coverage
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

test(nestjs-enterprise): fixed coverage
  packages/nestjs-enterprise/jest.config.js
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

test(nestjs-enterprise): fixed coverage
  packages/nestjs-enterprise/jest.config.js
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
Due: yarn eslint --fix, yarn prettier --write
