Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-logger): moved old wrong named operators to deprecated wrong named class
  packages/nestjs-rxjs-logger/src/index.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger.module.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-logger): moved old wrong named operators to deprecated wrong named class
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-logger): moved old wrong named operators to deprecated wrong named class
  jest.config.js
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-metrics): added package
  package.json
  packages/nestjs-rxjs-metrics/.eslintrc.js
  packages/nestjs-rxjs-metrics/.gitignore
  packages/nestjs-rxjs-metrics/babel.config.js
  packages/nestjs-rxjs-metrics/jest.config.js
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-metrics/src/index.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-module-options.interface.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-service.interface.ts
  packages/nestjs-rxjs-metrics/src/metrics-service.mixin.ts
  packages/nestjs-rxjs-metrics/src/nest-js-rxjs-metrics.module.ts
  packages/nestjs-rxjs-metrics/src/type/histogram-record.type.ts
  packages/nestjs-rxjs-metrics/src/type/metrics-config.type.ts
  packages/nestjs-rxjs-metrics/src/type/summary-record.type.ts
  packages/nestjs-rxjs-metrics/src/util/create-metrics-record.util.ts
  packages/nestjs-rxjs-metrics/src/util/rxjs-operator.util.ts
  packages/nestjs-rxjs-metrics/tsconfig.build.json
  packages/nestjs-rxjs-metrics/tsconfig.json
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-rxjs-redis): review changes
  .eslintrc.js
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
Due: yarn eslint --fix, yarn prettier --write

New NestJS Redis RxJS module (#44)
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  jest.config.js
  package.json
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger.module.ts
  packages/nestjs-rxjs-redis/.eslintrc.js
  packages/nestjs-rxjs-redis/.gitignore
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/babel.config.js
  packages/nestjs-rxjs-redis/jest.config.js
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-rxjs-redis/src/index.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
  packages/nestjs-rxjs-redis/tsconfig.build.json
  packages/nestjs-rxjs-redis/tsconfig.json
  packages/redux-loadable/src/selectors/loading-state.selector.spec.ts
  packages/redux-loadable/src/utils/loading-failed.util.spec.ts
  packages/redux-loadable/src/utils/loading-finished.util.spec.ts
  packages/redux-loadable/src/utils/loading-started.util.spec.ts
  packages/shared/src/type-guard/is-defined/is-defined.spec.ts
  packages/shared/src/type-guard/is-empty-string/is-empty-string.spec.ts
  packages/shared/src/type-guard/is-error/is-error.spec.ts
  packages/shared/src/type-guard/is-not-empty-string/is-not-empty-string.spec.ts
  packages/shared/src/type-guard/is-string/is-string.spec.ts
  packages/shared/src/util/get-error-message/get-error-message.spec.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.7.1
  CHANGELOG.md
  lerna.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

fix(nestjs-rxjs-redis): fixed redismodule import
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-metrics/src/metrics-service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-redis): added redismodule forRootAsync support
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-redis): added redismodule forRootAsync support
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-redis): added redismodule forRootAsync support
  packages/nestjs-rxjs-redis/CHANGELOG.md
Due: yarn prettier --write

feat(nestjs-rxjs-redis): added redismodule forRootAsync support
  packages/nestjs-rxjs-metrics/src/nest-js-rxjs-metrics.module.ts
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
Due: yarn eslint --fix, yarn prettier --write

NestJS RxJS metrics module (#45)
  CHANGELOG.md
  package.json
  packages/hoverable/CHANGELOG.md
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger.module.ts
  packages/nestjs-rxjs-metrics/.eslintrc.js
  packages/nestjs-rxjs-metrics/.gitignore
  packages/nestjs-rxjs-metrics/babel.config.js
  packages/nestjs-rxjs-metrics/jest.config.js
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-metrics/src/index.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-module-options.interface.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-service.interface.ts
  packages/nestjs-rxjs-metrics/src/metrics-service.mixin.ts
  packages/nestjs-rxjs-metrics/src/metrics-service.spec.ts
  packages/nestjs-rxjs-metrics/src/nest-js-rxjs-metrics.module.ts
  packages/nestjs-rxjs-metrics/src/type/histogram-record.type.ts
  packages/nestjs-rxjs-metrics/src/type/metrics-config.type.ts
  packages/nestjs-rxjs-metrics/src/type/summary-record.type.ts
  packages/nestjs-rxjs-metrics/src/util/create-metrics-record.util.ts
  packages/nestjs-rxjs-metrics/src/util/rxjs-operator.util.ts
  packages/nestjs-rxjs-metrics/tsconfig.build.json
  packages/nestjs-rxjs-metrics/tsconfig.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
  packages/redux-loadable/CHANGELOG.md
  packages/shared/CHANGELOG.md
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-rxjs-metrics): fixed deps
  packages/nestjs-rxjs-metrics/package.json
Due: none

fixed Travis-CI (#46)
  packages/nestjs-rxjs-metrics/package.json
Due: none

docs: added links to new packages
  README.md
Due: yarn prettier --write

docs: fixed main travis badge
  README.md
Due: yarn prettier --write

docs: updated package description
  README.md
Due: yarn prettier --write

v0.7.2
  CHANGELOG.md
  lerna.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

test(nestjs-rxjs-metrics): added unit tests
  jest.config.js
  packages/nestjs-rxjs-metrics/src/metrics-service.mixin.ts
  packages/nestjs-rxjs-metrics/src/metrics-service.spec.ts
  packages/nestjs-rxjs-metrics/src/util/create-metrics-record.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat: added TS new strict rules
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  tsconfig.json
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-rxjs-metrics): fixed naming
  packages/nestjs-rxjs-metrics/src/index.ts
  packages/nestjs-rxjs-metrics/src/metrics-service.spec.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service.mixin.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-redis): core module workaround for nestjs-redis async module
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-core.module.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

NestJS RxJS Metrics - added unit tests (#47)
  README.md
  jest.config.js
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-metrics/src/index.ts
  packages/nestjs-rxjs-metrics/src/metrics-service.spec.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service.mixin.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.ts
  packages/nestjs-rxjs-metrics/src/util/create-metrics-record.util.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-core.module.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.7.3
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-redis): import nestjs-redis, fix nestjs-redis service injection
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-core.module.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-redis): import nestjs-redis, fix nestjs-redis service injection (#48)
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-core.module.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
Due: yarn eslint --fix, yarn prettier --write

v0.7.4
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
Due: yarn prettier --write

fix: fixed ts emit decorator metadata
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/platform/src/platform/platform.mock.ts
  packages/redux-loadable/src/index.ts
  tsconfig.json
Due: yarn eslint --fix, yarn prettier --write

fix: typescript decorator related issues
  .travis.yml
  package.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/hoverable/src/index.ts
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/redux-loadable/package.json
  packages/shared/package.json
  tsconfig.build.json
  tsconfig.json
Due: yarn eslint --fix, yarn prettier --write

fix: typescript decorator related issues
  .travis.yml
  README.md
  package.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/hoverable/src/index.ts
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/redux-loadable/package.json
  packages/shared/package.json
  tsconfig.build.json
  tsconfig.json
Due: yarn eslint --fix, yarn prettier --write

Typescript emit decorators metadata fix (#50)
  .travis.yml
  CHANGELOG.md
  README.md
  package.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/hoverable/src/index.ts
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/platform/src/platform/platform.mock.ts
  packages/redux-loadable/package.json
  packages/redux-loadable/src/index.ts
  packages/shared/package.json
  tsconfig.build.json
  tsconfig.json
Due: yarn eslint --fix, yarn prettier --write

v0.7.5
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

feat(nestjs-rxjs-metrics): added new typed api
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-metrics/src/index.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-module-options.interface.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service.mixin.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.spec.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-metrics): added new typed api (#51)
  CHANGELOG.md
  jest.config.js
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-metrics/src/index.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-module-options.interface.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service.mixin.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.spec.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.ts
  packages/nestjs-rxjs-redis/CHANGELOG.md
Due: yarn eslint --fix, yarn prettier --write

v0.8.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

feat(nestjs-rxjs-metrics): added labels support, fixed multiple summary/histogram start/end call
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-metrics/src/interface/metrics-module-options.interface.ts
  packages/nestjs-rxjs-metrics/src/interface/metrics-service.interface.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.spec.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.spec.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.ts
  packages/nestjs-rxjs-metrics/src/type/histogram-record.type.ts
  packages/nestjs-rxjs-metrics/src/type/labels-config.type.ts
  packages/nestjs-rxjs-metrics/src/type/summary-record.type.ts
  packages/nestjs-rxjs-metrics/src/util/create-metrics-record.util.ts
Due: yarn eslint --fix, yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
