Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

fix(react-native-collapsible-header): align motion tests with review
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.spec.support.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-collapsible-header/src/utils/assert-valid-collapsible-header-config.util.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-collapsible-header): handle endpoint fade thresholds
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.spec.util.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.tsx
Due: yarn eslint --fix, yarn prettier --write

test(react-native-collapsible-header): keep fixtures inside specs
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-motion.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.spec.util.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.tsx
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-collapsible-header): document composable motion
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/CHANGELOG.md
  packages/react-native-collapsible-header/readme.md
Due: yarn prettier --write

fix(react-native-collapsible-header): handle collapsed endpoint translation
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-motion.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.tsx
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-screen-chrome): plan stacked extraction
  docs/superpowers/plans/2026-08-07-react-native-screen-chrome.md
Due: yarn prettier --write

docs: define screen chrome package design
  docs/superpowers/specs/2026-08-07-react-native-screen-chrome-design.md
Due: yarn prettier --write

build(react-native-screen-chrome): scaffold publishable package
  .yarn/cache/react-native-easing-gradient-npm-1.1.1-36afac07b2-70a2750340.zip
  packages/react-native-screen-chrome/LICENSE.md
  packages/react-native-screen-chrome/babel.config.cjs
  packages/react-native-screen-chrome/jest-setup.cjs
  packages/react-native-screen-chrome/jest.config.cjs
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/tsconfig.build-cjs.json
  packages/react-native-screen-chrome/tsconfig.build-esm.json
  packages/react-native-screen-chrome/tsconfig.json
  packages/react-native-screen-chrome/tsconfig.nodenext-check.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(react-native-screen-chrome): add validated chrome configuration
  packages/react-native-screen-chrome/jest.config.cjs
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/src/constant/screen-chrome-default-config.constant.ts
  packages/react-native-screen-chrome/src/constant/screen-chrome-default-config.constant.web.ts
  packages/react-native-screen-chrome/src/constant/screen-chrome-shared-default-config.constant.ts
  packages/react-native-screen-chrome/src/context/screen-chrome.context.ts
  packages/react-native-screen-chrome/src/enum/color-scheme.enum.ts
  packages/react-native-screen-chrome/src/hook/use-screen-chrome.hook.ts
  packages/react-native-screen-chrome/src/hook/use-screen-chrome.spec.tsx
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/interface/screen-chrome-color-set.interface.ts
  packages/react-native-screen-chrome/src/interface/screen-chrome-config-overrides.interface.ts
  packages/react-native-screen-chrome/src/interface/screen-chrome-config.interface.ts
  packages/react-native-screen-chrome/src/interface/screen-chrome-context-value.interface.ts
  packages/react-native-screen-chrome/src/interface/screen-chrome-mask-stop.interface.ts
  packages/react-native-screen-chrome/src/type/edge-fade-position.type.ts
  packages/react-native-screen-chrome/src/utils/assert-valid-screen-chrome-config.spec.ts
  packages/react-native-screen-chrome/src/utils/assert-valid-screen-chrome-config.util.ts
  packages/react-native-screen-chrome/src/utils/merge-screen-chrome-config.spec.ts
  packages/react-native-screen-chrome/src/utils/merge-screen-chrome-config.util.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(react-native-screen-chrome): coordinate chrome scrolling
  packages/react-native-screen-chrome/src/hook/use-screen-chrome-scroll-handler.hook.ts
  packages/react-native-screen-chrome/src/hook/use-screen-chrome.spec.tsx
  packages/react-native-screen-chrome/src/hook/use-scroll-fade-style.hook.ts
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/interface/screen-chrome-context-value.interface.ts
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.tsx
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-screen-chrome): support React 18 provider consumers
  packages/react-native-screen-chrome/src/hook/use-screen-chrome.spec.tsx
  packages/react-native-screen-chrome/src/interface/screen-chrome-context-value.interface.ts
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.tsx
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-screen-chrome): integrate package publication
  .github/workflows/pr.yml
  AGENTS.md
  README.md
  codecov.yml
  knip.json
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/readme.md
  scripts/publint.sh
  scripts/smoke-esm.mjs
Due: yarn prettier --write

build(react-native-screen-chrome): preserve native dependency analysis
  knip.json
Due: none

docs(react-native-collapsible-header): exclude internal planning artifacts
  docs/superpowers/plans/2026-08-07-react-native-collapsible-header-extension.md
  docs/superpowers/plans/2026-08-07-react-native-collapsible-header.md
  docs/superpowers/specs/2026-08-07-react-native-collapsible-header-design.md
Due: yarn prettier --write

fix(react-native-collapsible-header): keep partial motion overrides safe
  README.md
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-motion.spec.tsx
  packages/react-native-collapsible-header/src/utils/resolve-collapsible-header-motion-config.util.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-screen-chrome): clear detached object refs
  packages/react-native-screen-chrome/src/utils/merge-refs.spec.ts
  packages/react-native-screen-chrome/src/utils/merge-refs.util.ts
Due: yarn eslint --fix, yarn prettier --write

ci: isolate packed-package type validation
  .github/workflows/pr.yml
Due: none

fix(react-native-screen-chrome): ship masked view type shim
  packages/react-native-screen-chrome/src/type/masked-view-module.type.d.ts
Due: yarn eslint --fix, yarn prettier --write

ci: resolve stacked smoke packages locally
  .github/workflows/pr.yml
Due: none

test(eslint-plugin): cover JSX logic branches
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
Due: yarn eslint --fix, yarn prettier --write

ci: bump mobile-ci to v1.0.1 (fixes android sdk setup and ios entitlements)
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr-closed-cleanup.yml
Due: none

chore: remove stale SDD reports
  .superpowers/sdd/2026-08-01-epic-372-rnp-revival-orchestration/task-436-report.md
  .superpowers/sdd/2026-08-01-epic-372-rnp-revival-orchestration/task-444-report.md
Due: yarn prettier --write

chore: remove stale SDD reports (#548)
  .superpowers/sdd/2026-08-01-epic-372-rnp-revival-orchestration/task-436-report.md
  .superpowers/sdd/2026-08-01-epic-372-rnp-revival-orchestration/task-444-report.md
Due: yarn prettier --write

ci: build Android on the macOS pool, test on linux redroid; bump mobile-ci to v1.1.0
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr-closed-cleanup.yml
Due: none

fix(bare-android): resolve @react-native/gradle-plugin from the correct nested node_modules
  packages/react-native-payments-example/apps/bare/android/settings.gradle
Due: none

ci: bump mobile-ci pins to v1.2.0
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr-closed-cleanup.yml
Due: none

fix(android): set react.root for bare app to fix Hermesc detection
  .github/workflows/pr-closed-cleanup.yml
  packages/react-native-payments-example/apps/bare/android/app/build.gradle
Due: none

fix(android): point hermesCommand at hoisted hermes-compiler instead of overriding root
  packages/react-native-payments-example/apps/bare/android/app/build.gradle
Due: none

ci: bump mobile-ci to v1.3.0
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr-closed-cleanup.yml
Due: none

fix(react-native-payments-example): dismiss the GMS-unsupported dialog on launch
  packages/react-native-payments-example/e2e/readme.md
  packages/react-native-payments-example/e2e/subflows/launch_and_wait_for_probe.yaml
Due: yarn prettier --write

fix(react-native-payments-example): ground the GMS dialog claim in logcat evidence
  packages/react-native-payments-example/e2e/readme.md
Due: yarn prettier --write

fix(react-native-payments-example): fix construct-vs-invoke wording in e2e readme
  packages/react-native-payments-example/e2e/readme.md
Due: yarn prettier --write

fix(react-native-collapsible-header): enforce finite geometry
  packages/react-native-collapsible-header/src/assert/assert-valid-collapsible-header-geometry.assert.ts
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.tsx
Due: yarn eslint --fix, yarn prettier --write

refactor(react-native-screen-chrome): simplify public chrome API
  .gitignore
  docs/superpowers/plans/2026-08-07-react-native-screen-chrome.md
  docs/superpowers/specs/2026-08-07-react-native-screen-chrome-design.md
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/collapsible-header-large-title/collapsible-header-large-title.tsx
  packages/react-native-screen-chrome/src/collapsible-header-leading/collapsible-header-leading.tsx
  packages/react-native-screen-chrome/src/collapsible-header-slot/collapsible-header-slot.tsx
  packages/react-native-screen-chrome/src/collapsible-header-small-title/collapsible-header-small-title.tsx
  packages/react-native-screen-chrome/src/collapsible-header-trailing/collapsible-header-trailing.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-screen-chrome/src/constant/momentum-velocity-epsilon.constant.ts
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.web.tsx
  packages/react-native-screen-chrome/src/edge-fade/utils/build-background-image/build-background-image.util.spec.ts
  packages/react-native-screen-chrome/src/edge-fade/utils/build-background-image/build-background-image.util.ts
  packages/react-native-screen-chrome/src/edge-fade/utils/get-edge-fade-visuals/get-edge-fade-visuals.util.spec.ts
  packages/react-native-screen-chrome/src/edge-fade/utils/get-edge-fade-visuals/get-edge-fade-visuals.util.ts
  packages/react-native-screen-chrome/src/hook/use-screen-chrome-scroll-handler.hook.ts
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.tsx
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.tsx
  packages/react-native-screen-chrome/src/utils/get-collapsible-header-slots.spec.tsx
  packages/react-native-screen-chrome/src/utils/get-collapsible-header-slots.util.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(react-native-screen-chrome): reduce chrome API indirection
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/hook/use-screen-chrome.hook.ts
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/screen-chrome-content/screen-chrome-content.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-content/screen-chrome-content.styles.ts
  packages/react-native-screen-chrome/src/screen-chrome-content/screen-chrome-content.tsx
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.tsx
  packages/react-native-screen-chrome/src/utils/merge-refs.spec.ts
  packages/react-native-screen-chrome/src/utils/merge-refs.util.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

fix(react-native-screen-chrome): align stacked dependency graph
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/src/edge-fade/hook/use-edge-fade-opacity-style.hook.ts
  packages/react-native-screen-chrome/src/hook/use-scroll-fade-style.hook.ts
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.tsx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

fix(react-native-screen-chrome): preserve Expo example dependencies
  knip.json
Due: none

ci: bump mobile-ci to v1.4.0
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr-closed-cleanup.yml
Due: none

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
  yarn sort-package-json: any of: package.json
