Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

refactor(wdio): refactored get-visible-component, added selector object
  jest.config.js
  packages/wdio/src/type/visible-component-with-selectors.type.ts
  packages/wdio/src/util/get-visible-component/get-visible-component.spec.ts
Due: yarn eslint --fix, yarn prettier --write

v0.23.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): added selector context to createVisibleComponent as mandatory argument
  packages/wdio/src/component/visible.component.ts
  packages/wdio/src/type/enum.type.ts
  packages/wdio/src/type/visible-component-with-selectors-ctor.type.ts
  packages/wdio/src/util/create-visible-component/create-visible-component.ts
  packages/wdio/src/util/get-visible-component/get-visible-component.spec.ts
  packages/wdio/src/util/get-visible-component/get-visible-component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.24.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

revert(wdio): reverted enum types
  packages/wdio/src/util/get-visible-component/get-visible-component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.24.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

revert(wdio): fixed Enum type, finally
  packages/wdio/src/type/enum.type.ts
  packages/wdio/src/type/index.ts
  packages/wdio/src/util/create-visible-component/create-visible-component.ts
  packages/wdio/src/util/get-visible-component/get-visible-component.spec.ts
  packages/wdio/src/util/get-visible-component/get-visible-component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.24.2
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): added ability to not pass root selector/el to VisibleComponent
  jest.config.js
  packages/wdio/src/component/visible.component.ts
  packages/wdio/src/util/create-visible-component/create-visible-component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.24.3
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed createVisibleComponent second argument to accept string
  packages/wdio/src/util/create-visible-component/create-visible-component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.24.4
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed getVisibleComponent to accept empty root
  jest.config.js
  packages/wdio/src/type/selector-object.type.ts
  packages/wdio/src/util/get-visible-component/get-visible-component.spec.ts
  packages/wdio/src/util/get-visible-component/get-visible-component.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed getVisibleComponent to accept empty root
  packages/wdio/src/type/selector-object.type.ts
Due: yarn eslint --fix, yarn prettier --write

ci: fixed lerna publish command
  .travis.yml
Due: none

v0.24.5
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed VisibleComponent without root behaviour
  jest.config.js
  packages/wdio/src/component/visible.component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.24.6
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

docs(wdio): added docs
  packages/platform/package.json
  packages/wdio/package.json
  packages/wdio/readme.md
Due: yarn prettier --write

v0.24.7
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

docs(wdio): added docs
  packages/wdio/readme.md
Due: yarn prettier --write

v0.24.8
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): added typesafe getSafelyRootEl to VisibleComponent
  packages/wdio/src/component/visible.component.ts
  packages/wdio/src/type/visible-component-with-selectors-ctor.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.24.9
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

docs(wdio): added typesafe getSafelyRootEl to VisibleComponent
  packages/wdio/readme.md
Due: yarn prettier --write

v0.24.10
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): changed openDeepLink command arguments
  jest.config.js
  packages/wdio/src/command/mobile/open-deep-link.command.ts
  packages/wdio/src/wdio.d.ts
Due: yarn eslint --fix, yarn prettier --write

v0.25.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): refactored VisibleComponent root methods to match wdio element method
  jest.config.js
  packages/wdio/src/command/mobile/open-deep-link.command.ts
  packages/wdio/src/component/visible.component.ts
  packages/wdio/src/util/get-visible-component/get-visible-component.spec.ts
Due: yarn eslint --fix, yarn prettier --write

v0.26.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

refactor(wdio): refactored VisibleComponent
  jest.config.js
  packages/wdio/.eslintrc.js
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/create-component/create-component.ts
  packages/wdio/src/component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/get-component/get-component.spec.ts
  packages/wdio/src/component/get-component/get-component.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/visible.component.ts
  packages/wdio/src/type/component-with-selectors.type.ts
  packages/wdio/src/type/index.ts
  packages/wdio/src/type/selector-object.type.ts
  packages/wdio/src/type/visible-component-with-selectors-ctor.type.ts
  packages/wdio/src/type/visible-component-with-selectors.type.ts
  packages/wdio/src/util/create-visible-component/create-visible-component.ts
  packages/wdio/src/util/get-visible-component/get-visible-component.ts
  packages/wdio/src/util/index.ts
  packages/wdio/tsconfig.build.json
Due: yarn eslint --fix, yarn prettier --write

v0.26.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed RootedComponent types
  packages/wdio/src/component/create-component/create-component.ts
  packages/wdio/src/component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/get-component/get-component.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/type/component-with-selectors.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.26.2
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): adde prebuild clear
  packages/wdio/package.json
Due: none

v0.26.3
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed getting selector object
  packages/wdio/src/component/component/component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.26.4
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed slowInputCommand for android
  packages/wdio/src/command/slow-input.command.ts
Due: yarn eslint --fix, yarn prettier --write
