Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

fix(react-native-payments): guard Android Google Pay calls against unavailable Play services
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/docs/platforms/android.md
Due: yarn prettier --write

fix(react-native-payments-example): stop asserting below-the-fold event log elements before scrolling
  packages/react-native-payments-example/e2e/flows/can_make_payment_probe.yaml
  packages/react-native-payments-example/e2e/readme.md
  packages/react-native-payments-example/e2e/subflows/launch_and_wait_for_probe.yaml
Due: yarn prettier --write

chore(shared): remove non-compliant comments per repo comments policy
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array-of/is-not-empty-array-of.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/boolean/is-boolean/is-boolean.spec.ts
  packages/shared/src/type-guard/generic/is-defined/is-defined.ts
  packages/shared/src/type-guard/generic/is-promise/is-promise.ts
  packages/shared/src/util/cs/cs.ts
  packages/shared/src/util/empty-fn/empty-fn.ts
  packages/shared/src/util/get-defined/get-defined.ts
  packages/shared/src/util/get-error-message/get-error-message.ts
Due: yarn eslint --fix, yarn prettier --write

chore(eslint-plugin): remove non-compliant comment per repo comments policy
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
Due: yarn eslint --fix, yarn prettier --write

chore(lock-decorator): restore lint-required ts-expect-error descriptions
  packages/lock-decorator/src/factory/create-exclusive-lock-decorator/create-exclusive-lock-decorator.spec.ts
  packages/lock-decorator/src/factory/create-sequential-lock-decorator/create-sequential-lock-decorator.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore(platform): remove non-compliant comments per repo comments policy
  packages/platform/src/platform-style/platform-style.spec.ts
  packages/platform/src/platform-style/platform-style.ts
Due: yarn eslint --fix, yarn prettier --write

chore(object-field-tree): remove non-compliant comments per repo comments policy
  packages/object-field-tree/src/index.spec.ts
  packages/object-field-tree/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

chore(redux-loadable): remove non-compliant comments per repo comments policy
  packages/redux-loadable/src/interface/loading-state.interface.ts
  packages/redux-loadable/src/selectors/loading-state.selector.ts
  packages/redux-loadable/src/utils/loading-failed.util.ts
  packages/redux-loadable/src/utils/loading-finished.util.ts
  packages/redux-loadable/src/utils/loading-reset.util.ts
  packages/redux-loadable/src/utils/loading-started.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore(wdio): remove non-compliant comments per repo comments policy
  packages/wdio/src/add-wdio-commands.ts
  packages/wdio/src/command/clear-input.command.ts
  packages/wdio/src/command/mobile/open-deep-link.command.ts
  packages/wdio/src/component$/get-exteded-component$/get-extended-component$.ts
  packages/wdio/src/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/selector/android-testid.selector.ts
  packages/wdio/src/selector/ios-testid.selector.ts
  packages/wdio/src/util/get-platform/get-platform.util.native.ts
  packages/wdio/src/util/get-platform/get-platform.util.ts
  packages/wdio/src/util/get-test-id/get-test-id.ts
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.ts
  packages/wdio/src/util/set-test-id/set-test-id.ts
  packages/wdio/src/wdio.d.ts
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-webpack-swc): remove non-compliant comments per repo comments policy
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod.config.ts
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-typed-config): remove non-compliant comments per repo comments policy
  packages/nestjs-typed-config/src/nest-js-typed-config.module.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-rxjs-lock): remove non-compliant comments per repo comments policy
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.ts
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-rxjs-metrics): remove non-compliant comments per repo comments policy
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics.module.ts
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-rxjs-logger): remove non-compliant comments per repo comments policy
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-rxjs-redis): remove non-compliant comments per repo comments policy
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-enterprise): remove non-compliant comments per repo comments policy
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lockable.service.ts
  packages/nestjs-enterprise/src/decorator/lock/util/execute-lock-promise.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/get-redlock-service.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/validate-redlock.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore(react-native-payments-example): remove non-compliant comments per repo comments policy
  packages/react-native-payments-example/src/payment/method-data/android-payment-method-data.ts
  packages/react-native-payments-example/src/payment/method-data/ios-payment-method-data.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): resolve canMakePayment without Play Services (#552)
  packages/react-native-payments-example/e2e/flows/can_make_payment_probe.yaml
  packages/react-native-payments-example/e2e/readme.md
  packages/react-native-payments-example/e2e/subflows/launch_and_wait_for_probe.yaml
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/docs/platforms/android.md
Due: yarn prettier --write

chore: release v2.12.11 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(react-native-payments): correct PKPaymentToken doc link and retry() TSDoc
  packages/react-native-payments/src/@standard/ios/response/ios-pk-token.ts
  packages/react-native-payments/src/@standard/w3c/payment-validation-errors.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): clearInputCommand fallback reads input value and sends Backspace
  packages/wdio/src/command/clear-input.command.ts
Due: yarn eslint --fix, yarn prettier --write

ci: bump mobile-ci to v1.4.2
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr-closed-cleanup.yml
Due: none

docs(wdio): describe the clearInput fallback as reading the input value
  packages/wdio/readme.md
Due: yarn prettier --write

chore(deps): resolve npm security advisories via resolutions
  .yarn/cache/ip-address-npm-10.4.0-6a90d50243-8a286dd112.zip
  .yarn/cache/ip-address-npm-9.0.5-9fa024d42a-1ed81e0672.zip
  .yarn/cache/js-yaml-npm-4.1.1-86ec786790-a52d0519f0.zip
  .yarn/cache/jsbn-npm-1.1.0-1da0181838-bebe7ae829.zip
  .yarn/cache/sprintf-js-npm-1.1.3-b99efd75b2-e7587128c4.zip
  .yarn/cache/tar-npm-7.5.1-7b414f7fec-4848cd2fa2.zip
  .yarn/cache/tar-npm-7.5.11-c176cc1bb0-fb2e77ee85.zip
  .yarn/cache/tar-npm-7.5.22-4f603e5fa8-129606384b.zip
  .yarn/cache/tar-npm-7.5.7-053aec5a88-0d6938dd32.zip
  package.json
  yarn.lock
Due: yarn sort-package-json

ci: bound mobile e2e steps so a dead device cannot hold the fleet
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

ci: bound mobile e2e steps so a dead device cannot hold the fleet (#557)
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

docs(react-native-collapsible-header): describe the post-build extension rewrite in package AGENTS.md
  packages/react-native-collapsible-header/AGENTS.md
Due: yarn prettier --write

chore(deps): resolve nanoid npm security advisory via resolutions
  .yarn/cache/nanoid-npm-3.3.16-dbca216f06-8004af92b5.zip
  .yarn/cache/nanoid-npm-3.3.18-3dd24ff2e6-1b3b4fdac8.zip
  package.json
  yarn.lock
Due: yarn sort-package-json

chore(deps): resolve npm security advisories via resolutions (#556)
  .yarn/cache/ip-address-npm-10.4.0-6a90d50243-8a286dd112.zip
  .yarn/cache/ip-address-npm-9.0.5-9fa024d42a-1ed81e0672.zip
  .yarn/cache/js-yaml-npm-4.1.1-86ec786790-a52d0519f0.zip
  .yarn/cache/jsbn-npm-1.1.0-1da0181838-bebe7ae829.zip
  .yarn/cache/nanoid-npm-3.3.16-dbca216f06-8004af92b5.zip
  .yarn/cache/nanoid-npm-3.3.18-3dd24ff2e6-1b3b4fdac8.zip
  .yarn/cache/sprintf-js-npm-1.1.3-b99efd75b2-e7587128c4.zip
  .yarn/cache/tar-npm-7.5.1-7b414f7fec-4848cd2fa2.zip
  .yarn/cache/tar-npm-7.5.11-c176cc1bb0-fb2e77ee85.zip
  .yarn/cache/tar-npm-7.5.22-4f603e5fa8-129606384b.zip
  .yarn/cache/tar-npm-7.5.7-053aec5a88-0d6938dd32.zip
  package.json
  yarn.lock
Due: yarn sort-package-json

chore: add the project icon
  .github/icon.png
Due: none

chore: add t3 project file with the project icon
  t3.json
Due: none

chore: add t3 project file with the project icon (#560)
  .github/icon.png
  t3.json
Due: none

chore(deps): group dependabot major bumps and switch to monthly cadence
  .github/dependabot.yml
Due: none

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
  yarn sort-package-json: any of: package.json
