Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

chore: fixed review
  packages/wdio/src/command/slow-input.command.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): removed package from jest coverage
  packages/wdio/jest.config.js
Due: none

fix(wdio,platform): moved setTestID implementation to wdio, renamed
  packages/platform/package.json
  packages/platform/readme.md
  packages/platform/src/set-test-id/set-test-id.spec.ts
  packages/platform/src/set-test-id/set-test-id.ts
  packages/wdio/readme.md
  packages/wdio/src/command/mobile/open-deep-link.command.ts
  packages/wdio/src/config/index.ts
  packages/wdio/src/config/web-selector.config.ts
  packages/wdio/src/index.ts
  packages/wdio/src/interface/android-test-id-props.interface.ts
  packages/wdio/src/interface/index.ts
  packages/wdio/src/interface/ios-test-id-props.interface.ts
  packages/wdio/src/interface/web-test-id-props.interface.ts
  packages/wdio/src/selector/web-testid.selector.ts
  packages/wdio/src/util/get-platform.util.ts
  packages/wdio/src/util/index.ts
  packages/wdio/src/util/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed ci review
  packages/wdio/src/command/swipe.command.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed ci review
  packages/wdio/tsconfig.json
Due: none

fix(wdio): fixed ci review
  packages/platform/src/set-test-id/set-test-id.spec.ts
  packages/platform/src/set-test-id/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed jest coverage threshold
  jest.config.js
Due: none

docs: fixed main doc
  README.md
Due: yarn prettier --write

v0.12.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed setTestID typing for usage in components
  packages/wdio/src/interface/android-test-id-props.interface.ts
  packages/wdio/src/interface/index.ts
  packages/wdio/src/interface/ios-test-id-props.interface.ts
  packages/wdio/src/interface/test-id-props.interface.ts
  packages/wdio/src/interface/web-test-id-props.interface.ts
  packages/wdio/src/util/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed setTestID typing for usage in components
  packages/wdio/src/util/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added getTestId util
  packages/wdio/src/util/get-test-id.ts
  packages/wdio/src/util/index.ts
Due: yarn eslint --fix, yarn prettier --write

fix: fixed old eslint errors
  package.json
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed setTestID typings (#72)
  CHANGELOG.md
  package.json
  packages/fast-style/CHANGELOG.md
  packages/hoverable/CHANGELOG.md
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.ts
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/src/nest-js-typed-config.service.ts
  packages/object-field-tree/CHANGELOG.md
  packages/platform/CHANGELOG.md
  packages/redux-loadable/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/wdio/CHANGELOG.md
  packages/wdio/src/interface/android-test-id-props.interface.ts
  packages/wdio/src/interface/index.ts
  packages/wdio/src/interface/test-id-props.interface.ts
  packages/wdio/src/interface/web-test-id-props.interface.ts
  packages/wdio/src/util/get-test-id.ts
  packages/wdio/src/util/index.ts
  packages/wdio/src/util/set-test-id.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.12.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): added default getTestID value for common use cases
  packages/wdio/src/util/get-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added setPropTestID util for simplicity
  packages/wdio/src/util/index.ts
  packages/wdio/src/util/set-prop-test-id.ts
  packages/wdio/src/util/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added setPropTestID helper for React components (#73)
  CHANGELOG.md
  packages/fast-style/CHANGELOG.md
  packages/hoverable/CHANGELOG.md
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-typed-config/CHANGELOG.md
  packages/object-field-tree/CHANGELOG.md
  packages/platform/CHANGELOG.md
  packages/redux-loadable/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/wdio/CHANGELOG.md
  packages/wdio/src/util/get-test-id.ts
  packages/wdio/src/util/index.ts
  packages/wdio/src/util/set-prop-test-id.ts
  packages/wdio/src/util/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

v0.13.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat: removed CHANGELOG from jscpd
  .jscpd.json
Due: none

feat: added github release option to lerna
  .travis.yml
Due: none

feat: improved page size by removing tsbuildinfo
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/redux-loadable/package.json
  packages/shared/package.json
  packages/wdio/package.json
Due: none

fix(wdio): made testId field optional to match RN types
  packages/wdio/src/interface/android-test-id-props.interface.ts
  packages/wdio/src/interface/ios-test-id-props.interface.ts
  packages/wdio/src/interface/test-id-props.interface.ts
  packages/wdio/src/interface/web-test-id-props.interface.ts
  packages/wdio/src/util/get-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): added defaultTestID arg to setPropTestID
  packages/wdio/src/util/get-test-id.ts
  packages/wdio/src/util/set-prop-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

fix: fixed project config
  lerna.json
  package.json
  packages/wdio/src/index.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat(rxjs-errors): create filterWithError function
  packages/object-field-tree/readme.md
  packages/rxjs-errors/.eslintrc.js
  packages/rxjs-errors/.gitignore
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/babel.config.js
  packages/rxjs-errors/jest.config.js
  packages/rxjs-errors/package.json
  packages/rxjs-errors/readme.md
  packages/rxjs-errors/src/filter-with-exception.operator.spec.ts
  packages/rxjs-errors/src/filter-with-exception.operator.ts
  packages/rxjs-errors/src/index.ts
  packages/rxjs-errors/src/rethrow-exception.operator.spec.ts
  packages/rxjs-errors/src/rethrow-exception.operator.ts
  packages/rxjs-errors/src/rxjs-filter-error.ts
  packages/rxjs-errors/tsconfig.build.json
  packages/rxjs-errors/tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

fix(rxjs-errors): review comments
  packages/rxjs-errors/package.json
  packages/rxjs-errors/readme.md
  packages/rxjs-errors/src/filter-with-exception.operator.ts
  packages/rxjs-errors/src/index.ts
  packages/rxjs-errors/src/rethrow-exception.operator.spec.ts
  packages/rxjs-errors/src/rethrow-exception.operator.ts
Due: yarn eslint --fix, yarn prettier --write

fix(rxjs-errors): review comments
  README.md
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/readme.md
Due: yarn prettier --write

fix(hoverable): fixed jest config
  packages/hoverable/jest.config.js
Due: none

v0.14.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed commands export
  packages/wdio/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed slow input command signature
  packages/wdio/src/wdio.d.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): added open deep link command to Browser types
  packages/wdio/src/wdio.d.ts
Due: yarn eslint --fix, yarn prettier --write

v0.14.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): added build command to concat types
  package.json
  packages/wdio/build.js
  packages/wdio/package.json
  yarn.lock
Due: none

fix(wdio): added build command to concat types
  packages/wdio/build.js
Due: none

ci: removed duplicated yarn ci command from deploy
  package.json
  packages/wdio/build.js
Due: none

v0.14.2
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(rxjs-errors): review comments
  packages/rxjs-errors/src/filter-with-exception.operator.spec.ts
  packages/rxjs-errors/src/rethrow-exception.operator.spec.ts
Due: yarn eslint --fix, yarn prettier --write
