Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
    'package.json': ['yarn sort-package-json']
}

ci: boot redroid 15.0.0_64only from the fleet's prewarmed /data (#545) (#579)
  .github/workflows/android-maestro.yml
  packages/react-native-collapsible-header-example/apps/bare/android/app/build.gradle
  packages/react-native-payments-example/apps/bare/android/app/build.gradle
Due: none

ci: install the pinned maestro release instead of trusting a mismatched host binary
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

ci: run the android suite against a GMS-enabled redroid image
  .github/workflows/android-maestro.yml
Due: none

fix(react-native-collapsible-header): snap when the released scroll settles instead of on momentum events
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/src/provider/collapsible-header-provider/collapsible-header-provider.tsx
  packages/react-native-collapsible-header/src/util/create-collapsible-header-scroll-worklets/create-collapsible-header-scroll-worklets.spec.ts
  packages/react-native-collapsible-header/src/util/create-collapsible-header-scroll-worklets/create-collapsible-header-scroll-worklets.ts
Due: yarn eslint --fix, yarn prettier --write

test(react-native-payments-example): adapt the android flows to the GMS redroid device
  packages/react-native-payments-example/e2e/flows/app_launch.yaml
  packages/react-native-payments-example/e2e/flows/dismiss_abort_reject_state.yaml
  packages/react-native-payments-example/e2e/flows/reset_new_request_state_transitions.yaml
  packages/react-native-payments-example/e2e/flows/sheet_opens_on_show.yaml
  packages/react-native-payments-example/e2e/readme.md
  packages/react-native-payments-example/e2e/subflows/show_request.yaml
Due: yarn prettier --write

test(react-native-collapsible-header-example): land the snap drag decisively inside the collapse range
  packages/react-native-collapsible-header-example/e2e/flows/freeze_preserves_collapsed_state.yaml
  packages/react-native-collapsible-header-example/e2e/flows/settings_freeze_preserves_collapsed_state.yaml
  packages/react-native-collapsible-header-example/e2e/flows/snap_to_nearest_endpoint.yaml
Due: none

fix(react-native-payments-example): keep bottom content clear of the edge-to-edge navigation bar
  packages/react-native-payments-example/e2e/flows/reset_new_request_state_transitions.yaml
  packages/react-native-payments-example/src/component/app.tsx
  packages/react-native-payments-example/src/constant/demo-style.ts
Due: yarn eslint --fix, yarn prettier --write

ci: survive grep SIGPIPE in plumbing detection and reclaim stale maestro install locks
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

chore(react-native-collapsible-header): drop stale bundled copy from screen-chrome branch
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/CHANGELOG.md
  packages/react-native-collapsible-header/LICENSE.md
  packages/react-native-collapsible-header/babel.config.js
  packages/react-native-collapsible-header/jest-setup.js
  packages/react-native-collapsible-header/jest.config.js
  packages/react-native-collapsible-header/package.json
  packages/react-native-collapsible-header/readme.md
  packages/react-native-collapsible-header/src/assert/assert-collapsible-header-progress.assert.ts
  packages/react-native-collapsible-header/src/assert/assert-finite-collapsible-header-motion-value.assert.ts
  packages/react-native-collapsible-header/src/assert/assert-valid-collapsible-header-config.assert.ts
  packages/react-native-collapsible-header/src/assert/assert-valid-collapsible-header-geometry.assert.ts
  packages/react-native-collapsible-header/src/assert/assert-valid-collapsible-header-motion-config.assert.ts
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header-motion.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-collapsible-header/src/collapsible-header/collapsible-header.tsx
  packages/react-native-collapsible-header/src/collapsible-header/use-collapsible-header-animated-layers.ts
  packages/react-native-collapsible-header/src/config/default-collapsible-header-motion.config.ts
  packages/react-native-collapsible-header/src/config/resolve-collapsible-header-motion.config.ts
  packages/react-native-collapsible-header/src/index.ts
  packages/react-native-collapsible-header/src/interface/collapsible-header-animation-config.interface.ts
  packages/react-native-collapsible-header/src/interface/collapsible-header-motion-config.interface.ts
  packages/react-native-collapsible-header/src/interface/collapsible-header-props.interface.ts
  packages/react-native-collapsible-header/src/type/collapsible-header-geometry.type.ts
  packages/react-native-collapsible-header/tsconfig.build-cjs.json
  packages/react-native-collapsible-header/tsconfig.build-esm.json
  packages/react-native-collapsible-header/tsconfig.json
  packages/react-native-collapsible-header/tsconfig.nodenext-check.json
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(react-native-collapsible-header): reduced-motion-aware snap and generic scrollable support
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/llms.txt
  packages/react-native-collapsible-header/readme.md
  packages/react-native-collapsible-header/src/index.ts
  packages/react-native-collapsible-header/src/interface/collapsible-header-scroll-worklets-config.interface.ts
  packages/react-native-collapsible-header/src/interface/collapsible-header-scroll.interface.ts
  packages/react-native-collapsible-header/src/provider/collapsible-header-provider/collapsible-header-provider-reduced-motion.spec.tsx
  packages/react-native-collapsible-header/src/provider/collapsible-header-provider/collapsible-header-provider-scrollables.spec.tsx
  packages/react-native-collapsible-header/src/provider/collapsible-header-provider/collapsible-header-provider.tsx
  packages/react-native-collapsible-header/src/type/collapsible-header-scroll-ref.type.ts
  packages/react-native-collapsible-header/src/util/create-collapsible-header-scroll-worklets/create-collapsible-header-scroll-worklets.spec.ts
  packages/react-native-collapsible-header/src/util/create-collapsible-header-scroll-worklets/create-collapsible-header-scroll-worklets.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(react-native-screen-chrome): delegate motion, scroll and snap to collapsible-header
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.integration.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.styles.ts
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.tsx
  packages/react-native-screen-chrome/src/constant/momentum-velocity-epsilon.constant.ts
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.web.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/hook/use-edge-fade-blur-props.hook.ts
  packages/react-native-screen-chrome/src/edge-fade/hook/use-edge-fade-opacity-style.hook.ts
  packages/react-native-screen-chrome/src/hook/use-screen-chrome.hook.ts
  packages/react-native-screen-chrome/src/hook/use-screen-chrome.spec.tsx
  packages/react-native-screen-chrome/src/hook/use-scroll-fade-style.hook.ts
  packages/react-native-screen-chrome/src/hook/use-scroll-fade-style.spec.ts
  packages/react-native-screen-chrome/src/interface/screen-chrome-context-value.interface.ts
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider-boundaries.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.tsx
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.tsx
  packages/react-native-screen-chrome/src/utils/get-collapsible-header-motion.spec.ts
  packages/react-native-screen-chrome/src/utils/get-collapsible-header-motion.util.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

build(react-native-screen-chrome): migrate to react-native-builder-bob with React Compiler output
  knip.json
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/babel.config.bob.js
  packages/react-native-screen-chrome/babel.config.js
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.tsx
  packages/react-native-screen-chrome/src/type/masked-view-module.type.d.ts
  packages/react-native-screen-chrome/tsconfig.build-cjs.json
  packages/react-native-screen-chrome/tsconfig.build-esm.json
  packages/react-native-screen-chrome/tsconfig.build.json
  packages/react-native-screen-chrome/tsconfig.nodenext-check.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

docs(react-native-screen-chrome): add per-export readme sections and fix dead anchors
  packages/react-native-screen-chrome/readme.md
Due: yarn prettier --write

fix(react-native-screen-chrome): keep scroll wiring package-owned in ScreenChromeScrollView
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.tsx
Due: yarn eslint --fix, yarn prettier --write

test(react-native-screen-chrome): assert behaviour and require assertions in every case
  packages/react-native-screen-chrome/src/collapsible-header-backdrop/collapsible-header-backdrop.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.web.spec.tsx
  packages/react-native-screen-chrome/src/index.spec.ts
  packages/react-native-screen-chrome/src/screen-chrome-frame/screen-chrome-frame.spec.tsx
  packages/react-native-screen-chrome/src/util/assert-valid-screen-chrome-config/assert-valid-screen-chrome-config.spec.ts
  packages/react-native-screen-chrome/src/util/merge-screen-chrome-config/merge-screen-chrome-config.spec.ts
  packages/react-native-screen-chrome/src/util/merge-scroll-content-inset/merge-scroll-content-inset.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.14.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-collapsible-header-example/CHANGELOG.md
  packages/react-native-collapsible-header-example/package.json
  packages/react-native-collapsible-header/CHANGELOG.md
  packages/react-native-collapsible-header/package.json
Due: yarn prettier --write, yarn sort-package-json

test(eslint-plugin): cover logical-AND prop and handler call cases in no-complex-jsx-logic
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-screen-chrome): reserve the safe-area top inset in header height
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.tsx
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-screen-chrome): align expo-blur floor and Android blur targeting
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/src/edge-fade/edge-fade-props.interface.ts
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.web.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.web.tsx
  packages/react-native-screen-chrome/src/edge-fade/hooks/use-edge-fade-blur-props.hook.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

test(react-native-screen-chrome): assert generated fade values without directive comments
  packages/react-native-screen-chrome/src/edge-fade/util/edge-fade-get-mask-stops/edge-fade-get-mask-stops.util.spec.ts
  packages/react-native-screen-chrome/src/edge-fade/util/get-edge-fade-visuals/get-edge-fade-visuals.util.spec.ts
  packages/react-native-screen-chrome/src/screen-chrome-scroll-view/screen-chrome-scroll-view.spec.tsx
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-screen-chrome): document header geometry, blur limits, and stable config
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/edge-fade/edge-fade-scroll-animation.interface.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(react-native-screen-chrome): inline single-use fade indirection and duplicate mask guards
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.tsx
  packages/react-native-screen-chrome/src/edge-fade/util/edge-fade-get-mask-stops/edge-fade-get-mask-stops.util.spec.ts
  packages/react-native-screen-chrome/src/edge-fade/util/edge-fade-get-mask-stops/edge-fade-get-mask-stops.util.ts
  packages/react-native-screen-chrome/src/edge-fade/util/get-edge-fade-visuals/get-edge-fade-visuals.util.spec.ts
  packages/react-native-screen-chrome/src/edge-fade/util/get-edge-fade-visuals/get-edge-fade-visuals.util.ts
  packages/react-native-screen-chrome/src/util/assert-valid-screen-chrome-config/assert-valid-screen-chrome-config.util.ts
Due: yarn eslint --fix, yarn prettier --write

test(react-native-screen-chrome): collapse duplicated header and provider spec fixtures
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-provider/screen-chrome-provider.spec.tsx
Due: yarn eslint --fix, yarn prettier --write

refactor(react-native-screen-chrome): align chrome components with composition and rendering idioms
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.styles.ts
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.web.tsx
  packages/react-native-screen-chrome/src/edge-fade/util/edge-fade-get-band-metrics/edge-fade-get-band-metrics.util.ts
Due: yarn eslint --fix, yarn prettier --write

docs: require answering every review thread, human and automated, before merge
  AGENTS.md
Due: yarn prettier --write

chore: release v2.14.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(turborepo): bump turbo to 2.10.10 and sync official skill
  .agents/skills/turborepo/SKILL.md
  .agents/skills/turborepo/command/turborepo.md
  .agents/skills/turborepo/references/best-practices/RULE.md
  .agents/skills/turborepo/references/best-practices/dependencies.md
  .agents/skills/turborepo/references/best-practices/packages.md
  .agents/skills/turborepo/references/best-practices/structure.md
  .agents/skills/turborepo/references/caching/RULE.md
  .agents/skills/turborepo/references/caching/gotchas.md
  .agents/skills/turborepo/references/caching/remote-cache.md
  .agents/skills/turborepo/references/ci/RULE.md
  .agents/skills/turborepo/references/ci/github-actions.md
  .agents/skills/turborepo/references/ci/vercel.md
  .agents/skills/turborepo/references/cli/commands.md
  .agents/skills/turborepo/references/configuration/RULE.md
  .agents/skills/turborepo/references/configuration/global-options.md
  .agents/skills/turborepo/references/configuration/gotchas.md
  .agents/skills/turborepo/references/configuration/tasks.md
  .agents/skills/turborepo/references/environment/RULE.md
  .agents/skills/turborepo/references/environment/gotchas.md
  .agents/skills/turborepo/references/environment/modes.md
  .agents/skills/turborepo/references/filtering/RULE.md
  .agents/skills/turborepo/references/filtering/patterns.md
  .agents/skills/turborepo/references/watch/RULE.md
  .yarn/cache/turbo-npm-2.10.10-a6d07eb360-0064f916c4.zip
  package.json
  turbo.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore(turborepo): drop unreferenced turbo 2.10.8 cache zip
  .yarn/cache/turbo-npm-2.10.8-f3980f208c-a6b1f9abc9.zip
Due: none

chore(turborepo): drop devEngines.packageManager
  package.json
Due: yarn sort-package-json

chore(deps): sync screen-chrome expo-blur peer range in lockfile
  yarn.lock
Due: none

fix(react-native-screen-chrome): require two mask stops and document the expo-blur ceiling
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/util/assert-valid-screen-chrome-config/assert-valid-screen-chrome-config.spec.ts
  packages/react-native-screen-chrome/src/util/assert-valid-screen-chrome-config/assert-valid-screen-chrome-config.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-screen-chrome): static header container and header metrics api
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/hooks/use-screen-chrome-header-metrics/use-screen-chrome-header-metrics.hook.ts
  packages/react-native-screen-chrome/src/hooks/use-screen-chrome-header-metrics/use-screen-chrome-header-metrics.spec.tsx
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/interface/screen-chrome-header-metrics.interface.ts
  packages/react-native-screen-chrome/src/screen-chrome-header/screen-chrome-header.spec.tsx
  packages/react-native-screen-chrome/src/screen-chrome-header/screen-chrome-header.styles.ts
  packages/react-native-screen-chrome/src/screen-chrome-header/screen-chrome-header.tsx
  packages/react-native-screen-chrome/src/util/get-screen-chrome-header-metrics/get-screen-chrome-header-metrics.spec.ts
  packages/react-native-screen-chrome/src/util/get-screen-chrome-header-metrics/get-screen-chrome-header-metrics.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-screen-chrome): motion override and slot passthrough with contract pins
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/collapsible-header-slot/collapsible-header-slot.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header-slot/collapsible-header-slot.tsx
  packages/react-native-screen-chrome/src/collapsible-header-title-slot/collapsible-header-title-slot.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header-title-slot/collapsible-header-title-slot.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.spec.tsx
  packages/react-native-screen-chrome/src/collapsible-header/collapsible-header.tsx
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-screen-chrome-example): declare native peer dependencies in both app shells
  packages/react-native-screen-chrome-example/apps/bare/package.json
  packages/react-native-screen-chrome-example/apps/expo/package.json
  yarn.lock
Due: yarn sort-package-json
