Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
    'package.json': ['yarn sort-package-json']
}

feat(decorators-core): resource interfaces + promise/observable engine factories
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.ts
  packages/decorators-core/src/engine/create-observable-interceptor/create-observable-interceptor.spec.ts
  packages/decorators-core/src/engine/create-observable-interceptor/create-observable-interceptor.ts
  packages/decorators-core/src/engine/create-promise-interceptor/create-promise-interceptor.spec.ts
  packages/decorators-core/src/engine/create-promise-interceptor/create-promise-interceptor.ts
  packages/decorators-core/src/engine/run-interception/run-interception.ts
  packages/decorators-core/src/index.ts
  packages/decorators-core/src/interface/create-observable-interceptor-options.interface.ts
  packages/decorators-core/src/interface/create-promise-interceptor-options.interface.ts
  packages/decorators-core/src/interface/resource-handle.interface.ts
  packages/decorators-core/src/interface/resource-observable.interface.ts
  packages/decorators-core/src/interface/resource.interface.ts
  packages/decorators-core/src/rxjs/index.ts
  packages/decorators-core/src/type/observable-emission.type.ts
  packages/decorators-core/src/util/resolve-fallback-class-name/resolve-fallback-class-name.ts
  packages/decorators-core/src/util/safe-release-observable/safe-release-observable.ts
  packages/decorators-core/src/util/safe-release/safe-release.ts
  packages/decorators-core/src/util/swallow/swallow.ts
Due: yarn eslint --fix, yarn prettier --write

feat(lock-decorator): adapters + factory rewrites on unified engine
  packages/lock-decorator/package.json
  packages/lock-decorator/src/factory/create-exclusive-lock-decorator-observable/create-exclusive-lock-decorator-observable.ts
  packages/lock-decorator/src/factory/create-exclusive-lock-decorator/create-exclusive-lock-decorator.spec.ts
  packages/lock-decorator/src/factory/create-sequential-lock-decorator-observable/create-sequential-lock-decorator-observable.ts
  packages/lock-decorator/src/factory/create-sequential-lock-decorator/create-sequential-lock-decorator.spec.ts
  packages/lock-decorator/src/index.ts
  packages/lock-decorator/src/util/bridge-signal/bridge-signal.ts
  packages/lock-decorator/src/util/create-lock-resource-observable/create-lock-resource-observable.ts
  packages/lock-decorator/src/util/create-lock-resource/create-lock-resource.ts
  packages/lock-decorator/src/util/run-with-lock-rxjs/run-with-lock-rxjs.ts
  packages/lock-decorator/src/util/run-with-lock/run-with-lock.spec.ts
  packages/lock-decorator/src/util/run-with-lock/run-with-lock.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

fix(decorators-core): prevent onError double-fire under promise shell + resource
  packages/decorators-core/src/engine/create-promise-interceptor/create-promise-interceptor.spec.ts
  packages/decorators-core/src/engine/create-promise-interceptor/create-promise-interceptor.ts
  packages/lock-decorator/tsconfig.build-cjs.json
Due: yarn eslint --fix, yarn prettier --write

fix(decorators-core): drop redundant ResourceInterface type argument in specs
  packages/decorators-core/src/engine/create-observable-interceptor/create-observable-interceptor.spec.ts
  packages/decorators-core/src/engine/create-promise-interceptor/create-promise-interceptor.spec.ts
Due: yarn eslint --fix, yarn prettier --write

refactor: remove runWithLock\$ from lock-decorator public API
  packages/decorators-core/src/engine/create-promise-interceptor/create-promise-interceptor.ts
  packages/lock-decorator/src/index.ts
  packages/lock-decorator/src/util/run-with-lock-rxjs/run-with-lock-rxjs.spec.ts
  packages/lock-decorator/src/util/run-with-lock-rxjs/run-with-lock-rxjs.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators-core): remove empty /rxjs subpath
  knip.json
  packages/decorators-core/package.json
  packages/decorators-core/src/rxjs/index.ts
  packages/decorators-core/src/type/observable-emission.type.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

refactor(histogram-metric-decorator): drop inMemoryHistogramTransport from public surface
  packages/histogram-metric-decorator/AGENTS.md
  packages/histogram-metric-decorator/readme.md
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.spec.ts
  packages/histogram-metric-decorator/src/index.ts
  packages/histogram-metric-decorator/src/interface/in-memory-histogram-transport.interface.ts
  packages/histogram-metric-decorator/src/interface/in-memory-observation.interface.ts
  packages/histogram-metric-decorator/src/transport/in-memory-histogram-transport.mock.spec.ts
  packages/histogram-metric-decorator/src/transport/in-memory-histogram-transport.mock.ts
  packages/histogram-metric-decorator/src/transport/in-memory-histogram-transport.ts
  packages/histogram-metric-decorator/tsconfig.build-cjs.json
  packages/histogram-metric-decorator/tsconfig.build-esm.json
Due: yarn eslint --fix, yarn prettier --write

refactor(lock-decorator): drop createInMemoryLockStore from public surface
  packages/lock-decorator/AGENTS.md
  packages/lock-decorator/readme.md
  packages/lock-decorator/src/factory/create-exclusive-lock-decorator/create-exclusive-lock-decorator.spec.ts
  packages/lock-decorator/src/factory/create-sequential-lock-decorator/create-sequential-lock-decorator.spec.ts
  packages/lock-decorator/src/index.ts
  packages/lock-decorator/src/interface/in-memory-lock-store.interface.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.mock.spec.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.mock.ts
  packages/lock-decorator/tsconfig.build-cjs.json
  packages/lock-decorator/tsconfig.build-esm.json
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators-core)!: move GetResultType into log-decorator
  packages/decorators-core/AGENTS.md
  packages/decorators-core/readme.md
  packages/decorators-core/src/index.ts
  packages/log-decorator/AGENTS.md
  packages/log-decorator/src/create-log-decorator/create-log-decorator.ts
  packages/log-decorator/src/type/get-result.type.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators-core)!: InterceptorMiddleware is a function type, not a 1-method interface
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.spec.ts
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.ts
  packages/decorators-core/src/interface/interceptor-middleware.interface.ts
  packages/histogram-metric-decorator/src/util/create-histogram-middleware/create-histogram-middleware.ts
  packages/lock-decorator/src/util/create-lock-middleware-observable/create-lock-middleware-observable.ts
  packages/lock-decorator/src/util/create-lock-middleware/create-lock-middleware.ts
  packages/log-decorator/AGENTS.md
  packages/log-decorator/src/index.ts
  packages/log-decorator/src/util/create-log-middleware/create-log-middleware.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators-core)!: collapse middlewares array to single middleware
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.spec.ts
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.ts
  packages/decorators-core/src/interface/create-interceptor-options.interface.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.ts
  packages/lock-decorator/src/factory/create-exclusive-lock-decorator-observable/create-exclusive-lock-decorator-observable.ts
  packages/lock-decorator/src/factory/create-exclusive-lock-decorator/create-exclusive-lock-decorator.ts
  packages/lock-decorator/src/factory/create-sequential-lock-decorator-observable/create-sequential-lock-decorator-observable.ts
  packages/lock-decorator/src/factory/create-sequential-lock-decorator/create-sequential-lock-decorator.ts
  packages/log-decorator/src/create-log-decorator/create-log-decorator.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(log-decorator): inline createLogMiddleware into createLogDecorator
  packages/log-decorator/AGENTS.md
  packages/log-decorator/src/create-log-decorator/create-log-decorator.ts
  packages/log-decorator/src/util/create-log-middleware/create-log-middleware.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(histogram-metric-decorator): inline createHistogramMiddleware into createHistogramMetricDecorator
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.ts
  packages/histogram-metric-decorator/src/util/create-histogram-middleware/create-histogram-middleware.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(lock-decorator): inline bridgeSignal into its only caller
  packages/lock-decorator/src/util/bridge-signal/bridge-signal.ts
  packages/lock-decorator/src/util/create-lock-middleware-observable/create-lock-middleware-observable.ts
Due: yarn eslint --fix, yarn prettier --write

docs(shared): add wait.md per-entity doc to match sibling convention
  packages/shared/src/util/wait/wait.md
Due: yarn prettier --write

docs(decorators-core): rewrite readme for the middleware primitive
  packages/decorators-core/readme.md
Due: yarn prettier --write

docs(lock-decorator): document four factories + raw middleware, drop runWithLock\$
  packages/lock-decorator/readme.md
Due: yarn prettier --write

docs(log-decorator): Observable is handled internally, not via strategies
  packages/log-decorator/readme.md
Due: yarn prettier --write

docs(histogram-metric-decorator): Observable is inline, document onLabelsError
  packages/histogram-metric-decorator/readme.md
Due: yarn prettier --write

docs(shared): fix type-guards intro grammar and remove redundant sentence
  packages/shared/readme.md
Due: yarn prettier --write

refactor(histogram-metric-decorator): inline in-memory transport fixture into its spec
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.spec.ts
  packages/histogram-metric-decorator/src/transport/in-memory-histogram-transport.mock.spec.ts
  packages/histogram-metric-decorator/src/transport/in-memory-histogram-transport.mock.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(lock-decorator): inline in-memory store fixture into factory specs
  packages/lock-decorator/src/factory/create-exclusive-lock-decorator/create-exclusive-lock-decorator.spec.ts
  packages/lock-decorator/src/factory/create-sequential-lock-decorator/create-sequential-lock-decorator.spec.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.mock.spec.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.mock.ts
Due: yarn eslint --fix, yarn prettier --write

docs(agents): codify the no-test-only-files-in-src rule
  AGENTS.md
Due: yarn prettier --write

refactor(log-decorator): drop duration / performance concerns — that is the histogram decorator's job
  packages/log-decorator/CHANGELOG.md
  packages/log-decorator/readme.md
  packages/log-decorator/src/create-log-decorator/create-log-decorator.spec.ts
  packages/log-decorator/src/create-log-decorator/create-log-decorator.ts
  packages/log-decorator/src/type/error-log-input.type.ts
  packages/log-decorator/src/type/post-log-input.type.ts
  packages/nestjs-enterprise/src/decorator/log/log-decorator.md
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(lock-decorator): use isEmptyString shared guard in resolveLockKey's empty-key assertion
  packages/lock-decorator/src/util/resolve-lock-key/resolve-lock-key.ts
Due: yarn eslint --fix, yarn prettier --write

ci: drop flaky npm@latest self-upgrade and bump deprecated actions
  .github/workflows/release.yml
Due: none

fix: republish broken v2.0.0 tarballs through lerna's normal pipeline
  lerna.json
Due: none

fix(decorators-core): use absolute URLs for readme cross-links
  packages/decorators-core/readme.md
Due: yarn prettier --write

chore: release v2.0.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/decorators-core/CHANGELOG.md
  packages/decorators-core/package.json
  packages/histogram-metric-decorator/CHANGELOG.md
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/CHANGELOG.md
  packages/lock-decorator/package.json
  packages/log-decorator/CHANGELOG.md
  packages/log-decorator/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(decorators-core): correct inaccurate "zero runtime dependencies" claim
  packages/decorators-core/readme.md
Due: yarn prettier --write

fix(log-decorator): use absolute URL for decorators-core readme cross-link
  packages/log-decorator/readme.md
Due: yarn prettier --write

fix(histogram-metric-decorator): use absolute URLs for readme cross-links
  packages/histogram-metric-decorator/readme.md
Due: yarn prettier --write

fix(lock-decorator): fix broken MIT license readme link
  packages/lock-decorator/readme.md
Due: yarn prettier --write

chore: upgrade lerna from 9.0.4 to 9.0.7
  .yarn/cache/@lerna-create-npm-9.0.4-90ee4d6272-1e11885e30.zip
  .yarn/cache/@types-minimatch-npm-3.0.5-802bb0797f-c41d136f67.zip
  .yarn/cache/array-differ-npm-3.0.0-ddc0d89007-117edd9df5.zip
  .yarn/cache/arrify-npm-2.0.1-38c408f77c-067c4c1afd.zip
  .yarn/cache/ci-info-npm-4.3.1-8b1cdd917c-9dc952bef6.zip
  .yarn/cache/detect-indent-npm-5.0.0-123fa3fd0b-61763211da.zip
  .yarn/cache/get-port-npm-5.1.1-2f6074007a-0162663ffe.zip
  .yarn/cache/is-stream-npm-2.0.0-1401f82ad7-4dc47738e2.zip
  .yarn/cache/lerna-npm-9.0.4-4226a73bfa-eae8d858ba.zip
  .yarn/cache/lerna-npm-9.0.7-5c4c499b0f-71d0e92e8c.zip
  .yarn/cache/make-dir-npm-4.0.0-ec3cd921cc-bf0731a2dd.zip
  .yarn/cache/minimatch-npm-3.0.5-a20094d35f-8f97074911.zip
  .yarn/cache/minimatch-npm-3.1.4-5c2bfccba3-8d679c9df6.zip
  .yarn/cache/multimatch-npm-5.0.0-9938abf6fa-82c8030a53.zip
  .yarn/cache/pify-npm-5.0.0-f5abe8ab8d-443e3e198a.zip
  .yarn/cache/sort-keys-npm-2.0.0-4f517eb415-255f9fb393.zip
  .yarn/cache/tar-npm-7.5.11-c176cc1bb0-fb2e77ee85.zip
  .yarn/cache/temp-dir-npm-1.0.0-5828254ce3-cb2b58ddfb.zip
  .yarn/cache/type-fest-npm-0.4.1-bf35530fbf-ee6c77378a.zip
  .yarn/cache/uuid-npm-11.1.0-61d0d08928-d2da43b49b.zip
  .yarn/cache/write-json-file-npm-3.2.0-965d80a41e-2b97ce2027.zip
  .yarn/cache/write-pkg-npm-4.0.0-731dd7a942-7864d44370.zip
  package.json
  yarn.lock
Due: yarn sort-package-json

fix: align yarn.lock with package.json caret range for lerna
  yarn.lock
Due: none

chore: release v2.0.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/decorators-core/CHANGELOG.md
  packages/decorators-core/package.json
  packages/histogram-metric-decorator/CHANGELOG.md
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/CHANGELOG.md
  packages/lock-decorator/package.json
  packages/log-decorator/CHANGELOG.md
  packages/log-decorator/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: modernize pull-request workflow to match release.yml action versions
  .github/workflows/pull-request.yaml
Due: none
