Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

chore: release v2.5.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: release v2.6.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(react-native-payments): string-only shipping amounts and W3C names on DOMException
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/error/dom.exception.ts
  packages/react-native-payments/src/util/validate-shipping-options.util.ts
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-payments): changelog credit, badge fixes, OTA warning, bot-findings merge policy
  AGENTS.md
  packages/react-native-payments/CHANGELOG.md
Due: yarn prettier --write

fix(react-native-payments): normalize native user cancellation to an AbortError DOMException
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/util/is-native-user-cancellation.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.6.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(react-native-payments-example): embed JS bundle for canary builds
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .yarn/cache/hermes-estree-npm-0.23.1-b96541fb28-b7ad78f530.zip
  .yarn/cache/hermes-estree-npm-0.25.0-107a1ecabc-970abf1596.zip
  .yarn/cache/hermes-estree-npm-0.25.1-d7752f3952-7b1eca98b2.zip
  .yarn/cache/hermes-estree-npm-0.35.0-36cd428a6e-d10283d018.zip
  .yarn/cache/hermes-estree-npm-0.36.0-9cb1a99f19-76f3fec970.zip
  .yarn/cache/hermes-estree-npm-0.36.1-45bdbb2915-8860c65f3a.zip
  .yarn/cache/hermes-parser-npm-0.23.1-031eeefaa0-de88df4f23.zip
  .yarn/cache/hermes-parser-npm-0.25.0-e1390dc294-752838dd07.zip
  .yarn/cache/hermes-parser-npm-0.25.1-832deac23b-805efc0569.zip
  .yarn/cache/hermes-parser-npm-0.35.0-0093806764-62be25fa41.zip
  .yarn/cache/hermes-parser-npm-0.36.0-9180d4e988-81150c00bd.zip
  .yarn/cache/hermes-parser-npm-0.36.1-71826ad409-fd87da5b8f.zip
  package.json
  yarn.lock
Due: yarn sort-package-json

fix(react-native-payments-example): build payments plugin before expo prebuild
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

ci(react-native-payments-example): drive canary builds with xcodebuild/gradle
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

ci(react-native-payments-example): build shared JS deps for bare leg too
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

chore: release v2.7.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

test(react-native-payments-example): redesign iOS flows around PassKit sandbox
  packages/react-native-payments-example/e2e/flows/async_update_toggle_state.yaml
  packages/react-native-payments-example/e2e/flows/dismiss_abort_reject_state.yaml
  packages/react-native-payments-example/e2e/flows/reset_new_request_state_transitions.yaml
  packages/react-native-payments-example/e2e/flows/sheet_opens_on_show.yaml
  packages/react-native-payments-example/e2e/flows/shipping_listener_wiring_disabled.yaml
  packages/react-native-payments-example/e2e/flows/shipping_listener_wiring_enabled.yaml
  packages/react-native-payments-example/e2e/readme.md
  packages/react-native-payments-example/e2e/subflows/dismiss_ios_sheet.yaml
Due: yarn prettier --write

ci: add CodeRabbit review configuration tuned to repo conventions
  .coderabbit.yaml
  AGENTS.md
Due: yarn prettier --write

ci: cover tsx sources in CodeRabbit instructions; make bot-finding triage loop explicit
  .coderabbit.yaml
  AGENTS.md
Due: yarn prettier --write

docs: genericize the automated-review merge policy wording
  AGENTS.md
Due: yarn prettier --write

test(react-native-payments-example): wait for the sheet dismiss control before tapping it
  .superpowers/sdd/2026-08-01-epic-372-rnp-revival-orchestration/task-444-report.md
  packages/react-native-payments-example/e2e/subflows/dismiss_ios_sheet.yaml
Due: yarn prettier --write

ci: gate maestro e2e on turborepo affected graph and run it on pull requests
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

ci: pin turbo to the locked version and fail status checks when detection fails
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

chore: release v2.7.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: seed a fingerprinted native-app cache for payments canaries
  .github/workflows/seed-native-cache.yml
  .gitignore
Due: none

ci(react-native-payments-example): split iOS canary into build/test with sharded Maestro
  .github/workflows/ios-maestro.yml
Due: none

ci(react-native-payments-example): split Android canary into build/test with sharded Maestro
  .github/workflows/android-maestro.yml
Due: none

fix(react-native-payments): align error taxonomy with the W3C spec
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
  packages/react-native-payments/src/class/payment-response/payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/payment-response.ts
  packages/react-native-payments/src/enum/payments-error.enum.ts
  packages/react-native-payments/src/error/constructor.error.ts
  packages/react-native-payments/src/error/dom.exception.ts
  packages/react-native-payments/src/error/payments.error.ts
  packages/react-native-payments/src/util/format-payments-error-message.util.ts
  packages/react-native-payments/src/util/parse-json-or-throw.util.ts
  packages/react-native-payments/src/util/validate-android-transaction-info.util.ts
  packages/react-native-payments/src/util/validate-display-items.util.ts
  packages/react-native-payments/src/util/validate-shipping-options.util.ts
  packages/react-native-payments/src/util/validate-total.util.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): triage error-taxonomy PR review findings
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
  packages/react-native-payments/src/error/constructor.error.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/util/parse-json-or-throw.util.ts
Due: yarn eslint --fix, yarn prettier --write

ci: pin fingerprint/toolchain versions and harden cache correctness
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/seed-native-cache.yml
Due: none

docs(react-native-payments): add llms.txt agent doc index
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/llms.txt
  packages/react-native-payments/package.json
  packages/react-native-payments/readme.md
Due: yarn prettier --write, yarn sort-package-json

docs(react-native-payments): document web platform contract, name the DOM passthrough types
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.web.ts
  packages/react-native-payments/src/class/payment-response/payment-response.web.ts
  packages/react-native-payments/src/type/web-payment-request-constructor.type.ts
  packages/react-native-payments/src/type/web-payment-response-constructor.type.ts
Due: yarn eslint --fix, yarn prettier --write

test(react-native-payments): assert ConstructorError identity for constructor validation failures
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.7.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(react-native-payments): guard the web passthrough for nullish, not null
  packages/react-native-payments/readme.md
Due: yarn prettier --write

chore: release v2.7.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(react-native-payments): implement PaymentDetailsModifier support
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/w3c/payment-details-modifier.ts
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/interface/resolved-payment-details.interface.ts
  packages/react-native-payments/src/util/resolve-payment-details-modifier.util.ts
  packages/react-native-payments/src/util/validate-details-update.util.ts
  packages/react-native-payments/src/util/validate-modifiers.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-payments): add PaymentResponse retry() and toJSON()
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/android/src/oldarch/PaymentsSpec.java
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/@standard/w3c/payment-validation-errors.ts
  packages/react-native-payments/src/NativePayments.ts
  packages/react-native-payments/src/class/native-payments/native-payments.spec.ts
  packages/react-native-payments/src/class/native-payments/native-payments.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
  packages/react-native-payments/src/class/payment-response/payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/payment-response.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/interface/native-payments-retry.interface.ts
  packages/react-native-payments/src/interface/payment-response-json.interface.ts
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-payments): document PaymentResponse retry() and toJSON()
  packages/react-native-payments/readme.md
Due: yarn prettier --write

fix(react-native-payments): admit undefined in the web passthrough types
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.web.ts
  packages/react-native-payments/src/class/payment-response/payment-response.web.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): reject complete() after PaymentResponse.retry()
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-response/payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

test(react-native-payments): use hasAssertions and drop non-pragma comments
  packages/react-native-payments/src/class/payment-response/payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/payment-response.ts
  packages/react-native-payments/src/interface/payment-response-json.interface.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.8.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: release v2.8.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
  yarn sort-package-json: any of: package.json
