Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

v0.1.8
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/hoverable/src/with-hover.hoc.tsx
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

refactor: added folders
  packages/fast-style/src/flex/flex.spec.ts
  packages/fast-style/src/flex/flex.ts
  packages/fast-style/src/font/font.spec.ts
  packages/fast-style/src/font/font.ts
  packages/fast-style/src/index.ts
  packages/hoverable/src/component/hover-image.ts
  packages/hoverable/src/component/hover-scroll-view.ts
  packages/hoverable/src/component/hover-text.ts
  packages/hoverable/src/component/hover-touchable-highlight.ts
  packages/hoverable/src/component/hover-touchable-opacity.ts
  packages/hoverable/src/component/hover-touchable-without-feedback.ts
  packages/hoverable/src/component/hover-view.ts
  packages/hoverable/src/index.ts
  packages/hoverable/src/with-hover/with-hover.hoc.tsx
  packages/hoverable/src/with-hover/with-hover.spec.tsx
  packages/platform/src/index.ts
  packages/platform/src/platform-style/platform-style.spec.ts
  packages/platform/src/platform-style/platform-style.ts
  packages/platform/src/platform/platform.mock.ts
  packages/platform/src/platform/platform.ts
  packages/platform/src/set-test-id/set-test-id.spec.ts
  packages/platform/src/set-test-id/set-test-id.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

feat: lintstaged config update
  .lintstagedrc
Due: none

revert: returned deleted files
  packages/platform/src/platform-style/platform-style.spec.ts
  packages/platform/src/platform-style/platform-style.ts
  packages/platform/src/set-test-id/set-test-id.spec.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

revert: fixed type
  packages/shared/src/util/cs/cs.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

feat: added conventional commit lerna scope
  .eslintignore
  .travis.yml
  commitlint.config.js
  package.json
  tslint.json
  yarn.lock
Due: none

feat: added conventional commit lerna scope
  jest.config.js
Due: none

feat: fixed coverage
  packages/hoverable/src/with-hover/with-hover.hoc.tsx
Due: yarn tslint --fix, yarn prettier --write, git add .

feat: fixed coverage
  jest.config.js
Due: none

docs: fixed main readme
  README.md
Due: git add ., yarn prettier

docs: added MIT license, closes #7
  LICENSE.md
Due: git add ., yarn prettier

v0.1.9
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: git add ., yarn prettier

docs: updated title
  README.md
Due: git add ., yarn prettier

feat: test commit
  README.md
Due: git add ., yarn prettier

feat: test commit
  README.md
  packages/shared/readme.md
Due: git add ., yarn prettier

v0.2.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: git add ., yarn prettier

fix: removed spec.* files from npm version
  packages/fast-style/package.json
  packages/fast-style/tsconfig.json
  packages/hoverable/package.json
  packages/hoverable/tsconfig.json
  packages/object-field-tree/package.json
  packages/object-field-tree/tsconfig.json
  packages/platform/package.json
  packages/platform/tsconfig.json
  packages/shared/package.json
  packages/shared/tsconfig.json
Due: none

fix(platform): removed dead code feat(platform): added ts script for checking typescript feat(platform): modified typescript build config to avoid publishing specs
  packages/platform/package.json
  packages/platform/src/platform-style/platform-style.ts
  packages/platform/tsconfig.build.json
  packages/platform/tsconfig.json
Due: yarn tslint --fix, yarn prettier --write, git add .

feat: added find deadcode to CI feat: added ts script for checking typescript feat: separated generic typescript config for checking and building packages
  .ts-prunerc.js
  package.json
  tsconfig.build.json
  tsconfig.json
Due: none

fix(shared): fixed classtype export feat(shared): added ts script for checking typescript feat(shared): modified typescript build config to avoid publishing specs
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/tsconfig.build.json
  packages/shared/tsconfig.json
Due: yarn tslint --fix, yarn prettier --write, git add .

feat(object-field-tree): added ts script for checking typescript feat(object-field-tree): modified typescript build config to avoid publishing specs
  packages/object-field-tree/package.json
  packages/object-field-tree/tsconfig.build.json
  packages/object-field-tree/tsconfig.json
Due: none

feat(hoverable): added ts script for checking typescript feat(hoverable): modified typescript build config to avoid publishing specs
  packages/hoverable/package.json
  packages/hoverable/tsconfig.build.json
  packages/hoverable/tsconfig.json
Due: none

feat(fast-style): added ts script for checking typescript feat(fast-style): modified typescript build config to avoid publishing specs
  packages/fast-style/package.json
  packages/fast-style/tsconfig.build.json
  packages/fast-style/tsconfig.json
Due: none

revert(shared): test commit
  packages/shared/readme.md
Due: git add ., yarn prettier

fix: fixed prettier to write md,json files
  .lintstagedrc
Due: none

fix: fixed CI script
  package.json
Due: none

fix(fast-style): fixed ts config for eslint
  packages/fast-style/tsconfig.json
Due: none

fix(platform): fixed ts config for eslint
  packages/platform/tsconfig.json
Due: none

v0.3.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: git add ., yarn prettier

fix(platform): fixed ClassType
  packages/shared/src/type/class.type.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

fix(platform): fixed EmptyFn
  packages/shared/src/type/empty-fn.type.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

fix: updated ci script to build packages
  package.json
Due: none

fix(platform): fixed ClassType (#31)
  package.json
  packages/shared/src/type/class.type.ts
  packages/shared/src/type/empty-fn.type.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.3.1
  CHANGELOG.md
  lerna.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: git add ., yarn prettier

fix(shared): fixed OnEventFn type
  packages/shared/src/type/on-event-fn.type.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

On event type fix (#32)
  packages/shared/src/type/on-event-fn.type.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

Path conditions:
  yarn tslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: any of: packages/**/*.{ts,tsx}
  git add .: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
  yarn prettier: any of: *.{md, json}
