Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

docs: refactored docs
  packages/shared/docs/type-guard/array.type-guard.md
  packages/shared/docs/type-guard/generic.type-guard.md
  packages/shared/docs/type-guard/number.type-guard.md
  packages/shared/docs/type-guard/string.type-guard.md
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.md
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.md
  packages/shared/src/type-guard/generic/is-defined/is-defined.md
  packages/shared/src/type-guard/generic/is-error/is-error.md
  packages/shared/src/type-guard/number/is-number/is-number.md
  packages/shared/src/type-guard/number/is-positive-number/is-positive-number.md
  packages/shared/src/type-guard/string/is-empty-string/is-empty-string.md
  packages/shared/src/type-guard/string/is-not-empty-string/is-not-empty-string.md
  packages/shared/src/type-guard/string/is-string/is-string.md
  packages/shared/src/type/class-type/class.type.md
  packages/shared/src/type/class-type/class.type.ts
  packages/shared/src/type/empty-fn-type/empty-fn.type.md
  packages/shared/src/type/empty-fn-type/empty-fn.type.ts
  packages/shared/src/type/enum-type/enum.type.md
  packages/shared/src/type/enum-type/enum.type.ts
  packages/shared/src/type/maybe-type/maybe-type.md
  packages/shared/src/type/maybe-type/maybe.type.ts
  packages/shared/src/type/on-event-fn-type/on-event-fn.type.md
  packages/shared/src/type/on-event-fn-type/on-event-fn.type.ts
  packages/shared/src/util/cs/cs.md
  packages/shared/src/util/empty-fn/empty-fn.md
  packages/shared/src/util/empty-fn/empty-fn.ts
  packages/shared/src/util/get-defined-async/get-defined-async.md
  packages/shared/src/util/get-defined/get-defined.md
  packages/shared/src/util/get-error-message/get-error-message.md
Due: yarn eslint --fix, yarn prettier --write

v0.57.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat: create dependabot.yml
  .github/dependabot.yml
Due: none

Update README.md
  README.md
Due: yarn prettier --write

feat: create dependabot.yml (#152)
  .github/dependabot.yml
Due: none

Update readme.md
  packages/shared/readme.md
Due: yarn prettier --write

docs(shared): added utils description
  packages/shared/readme.md
Due: yarn prettier --write

v0.57.2
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

docs(shared): updated description, no-ci
  packages/shared/readme.md
Due: yarn prettier --write

v0.57.3
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat: addded turbo improvements
  turbo.json
Due: none

feat: addded turbo improvements
  jest.config.js
  turbo.json
Due: none

feat: addded turbo improvements
  README.md
  jest.config.js
  packages/fast-style/jest.config.js
  packages/nestjs-webpack-swc/package.json
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
Due: yarn prettier --write

docs: added todos
  README.md
  packages/wdio/readme.md
Due: yarn prettier --write

feat: improving coverage
  get-jest.config.js
  packages/nestjs-rxjs-lock/src/index.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-module/nestjs-rxjs-lock.module.spec.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-module/nestjs-rxjs-lock.module.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.spec.ts
  packages/nestjs-rxjs-logger/src/enum/app-log-level.enum.ts
  packages/nestjs-rxjs-logger/src/index.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-module/nestjs-rxjs-logger.module.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-module/nestjs-rxjs-logger.module.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/platform/jest.config.js
  packages/platform/readme.md
  packages/platform/src/get-env/get-env.spec.ts
  packages/platform/src/get-env/get-env.ts
  packages/platform/src/get-env/get-env.web.spec.ts
  packages/platform/src/get-env/get-env.web.ts
  packages/platform/src/index.ts
  packages/platform/src/platform-style/platform-style.spec.ts
  packages/platform/src/storage/storage.ts
  packages/platform/src/storage/storage.web.ts
Due: yarn eslint --fix, yarn prettier --write

feat: improved test coverage
  get-jest.config.js
  packages/hoverable/jest.config.js
  packages/rxjs-errors/src/operator/filter-with-exception-operator/filter-with-exception.operator.spec.ts
  packages/rxjs-errors/src/operator/rethrow-exception-operator/rethrow-exception.operator.spec.ts
  turbo.json
Due: yarn eslint --fix, yarn prettier --write

ci: added gitlab pull-request workflow
  .github/workflows/pull-request.yaml
Due: none

chore: fixed lint errors
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/rxjs-errors/src/operator/rethrow-exception-operator/rethrow-exception.operator.spec.ts
Due: yarn eslint --fix, yarn prettier --write

ci: added turbo and codecov credentials
  .github/workflows/pull-request.yaml
Due: none

ci: added deps cache
  .github/workflows/pull-request.yaml
Due: none

ci: jest coverage in each package
  get-jest.config.js
Due: none

ci: jest coverage in each package
  .github/workflows/pull-request.yaml
  turbo.json
Due: none

ci: jest coverage in each package
  .github/workflows/pull-request.yaml
Due: none

ci: added release workflow
  .github/workflows/pull-request.yaml
  .github/workflows/release.yml
  package.json
Due: none

ci: removed travis support
  .travis.yml
Due: none

ci: fixed master push workflow
  .github/workflows/release.yml
Due: none

ci: fixed master push workflow
  .github/workflows/release.yaml
  packages/wdio/readme.md
Due: yarn prettier --write

ci: fixed master push workflow
  .github/workflows/release.yaml
Due: none

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
