Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

refactor(nestjs-enterprise): remove leftover lock-service-store.adapter.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-service-store.adapter.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators): spread-form callbacks, drop log sanitizer/measureDuration, add wait util
  AGENTS.md
  packages/histogram-metric-decorator/src/transport/in-memory-histogram-transport.interface.ts
  packages/lock-decorator/src/rxjs/run-with-lock-rxjs/run-with-lock-rxjs.spec.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.spec.ts
  packages/lock-decorator/src/util/run-with-lock/run-with-lock.spec.ts
  packages/log-decorator/readme.md
  packages/log-decorator/src/create-legacy-log.spec.ts
  packages/log-decorator/src/create-log-interceptor.ts
  packages/log-decorator/src/create-log-options.interface.ts
  packages/log-decorator/src/create-log.spec.ts
  packages/log-decorator/src/default-sanitizer.spec.ts
  packages/log-decorator/src/default-sanitizer.ts
  packages/log-decorator/src/error-log-input.type.ts
  packages/log-decorator/src/index.ts
  packages/log-decorator/src/post-log-input.type.ts
  packages/log-decorator/src/pre-log-input.type.ts
  packages/log-decorator/src/sanitizer-fn.type.ts
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/type/error-log-function.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/post-log-function.type.ts
  packages/shared/src/index.ts
  packages/shared/src/util/wait/wait.spec.ts
  packages/shared/src/util/wait/wait.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators): drop stage-3 support; legacy decorators only
  AGENTS.md
  packages/decorators-core/src/engine/create-interceptor/create-interceptor-options.interface.ts
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.spec.ts
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.ts
  packages/decorators-core/src/index.ts
  packages/histogram-metric-decorator/readme.md
  packages/histogram-metric-decorator/src/factory/create-histogram-metric.spec.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric.ts
  packages/histogram-metric-decorator/src/factory/create-legacy-histogram-metric.spec.ts
  packages/histogram-metric-decorator/src/factory/create-legacy-histogram-metric/create-legacy-histogram-metric.spec.ts
  packages/histogram-metric-decorator/src/factory/create-legacy-histogram-metric/create-legacy-histogram-metric.ts
  packages/histogram-metric-decorator/src/index.ts
  packages/lock-decorator/readme.md
  packages/lock-decorator/src/factory/create-exclusive-lock/create-exclusive-lock.spec.ts
  packages/lock-decorator/src/factory/create-exclusive-lock/create-exclusive-lock.ts
  packages/lock-decorator/src/factory/create-legacy-exclusive-lock/create-legacy-exclusive-lock.spec.ts
  packages/lock-decorator/src/factory/create-legacy-sequential-lock/create-legacy-sequential-lock.spec.ts
  packages/lock-decorator/src/factory/create-sequential-lock/create-sequential-lock.spec.ts
  packages/lock-decorator/src/factory/create-sequential-lock/create-sequential-lock.ts
  packages/lock-decorator/src/factory/multi-factory.spec.ts
  packages/lock-decorator/src/index.ts
  packages/lock-decorator/src/type/stage3-decorator.type.ts
  packages/log-decorator/readme.md
  packages/log-decorator/src/console-transport/console-transport.spec.ts
  packages/log-decorator/src/console-transport/console-transport.ts
  packages/log-decorator/src/create-legacy-log.spec.ts
  packages/log-decorator/src/create-legacy-log/create-legacy-log.spec.ts
  packages/log-decorator/src/create-legacy-log/create-legacy-log.ts
  packages/log-decorator/src/create-log.spec.ts
  packages/log-decorator/src/create-log.ts
  packages/log-decorator/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators): honest types + doc cleanup
  packages/decorators-core/AGENTS.md
  packages/decorators-core/readme.md
  packages/histogram-metric-decorator/readme.md
  packages/histogram-metric-decorator/src/factory/create-histogram-metric/create-histogram-metric.spec.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric/create-histogram-metric.ts
  packages/histogram-metric-decorator/src/interface/create-histogram-metric-options.interface.ts
  packages/lock-decorator/readme.md
  packages/lock-decorator/src/factory/create-sequential-lock/create-sequential-lock.spec.ts
  packages/lock-decorator/src/factory/create-sequential-lock/create-sequential-lock.ts
  packages/lock-decorator/src/interface/create-lock-options.interface.ts
  packages/log-decorator/AGENTS.md
  packages/log-decorator/readme.md
  packages/nestjs-enterprise/AGENTS.md
Due: yarn eslint --fix, yarn prettier --write

chore(lock-decorator): drop now-unused decorators-core dep + sync docs
  knip.json
  packages/lock-decorator/AGENTS.md
  packages/lock-decorator/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

refactor(decorators): honest metadata + tighter boundaries
  AGENTS.md
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/src/util/resolve-lock-key/resolve-lock-key.spec.ts
  packages/lock-decorator/src/util/resolve-lock-key/resolve-lock-key.ts
  packages/log-decorator/AGENTS.md
  packages/log-decorator/package.json
  packages/log-decorator/src/util/create-log-interceptor.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

refactor(decorators): adopt shared primitives (EmptyFn/emptyFn + guards)
  packages/decorators-core/src/engine/build-context/build-context.ts
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.ts
  packages/decorators-core/src/engine/run-interception/run-interception.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.ts
  packages/lock-decorator/src/util/resolve-lock-key/resolve-lock-key.ts
  packages/lock-decorator/src/util/run-with-lock-rxjs/run-with-lock-rxjs.ts
  packages/lock-decorator/src/util/run-with-lock/run-with-lock.ts
  packages/log-decorator/package.json
  packages/log-decorator/src/util/create-log-interceptor.ts
  packages/nestjs-enterprise/src/decorator/lock/util/execute-lock-observable.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/execute-lock-promise.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/run-pre-lock.util.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

refactor(decorators): honest docs + empty-string hook fix + type narrowing
  AGENTS.md
  packages/histogram-metric-decorator/AGENTS.md
  packages/log-decorator/AGENTS.md
  packages/log-decorator/src/create-log/create-log.spec.ts
  packages/log-decorator/src/create-log/create-log.ts
  packages/log-decorator/src/util/create-log-interceptor.ts
  packages/nestjs-enterprise/AGENTS.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.md
Due: yarn eslint --fix, yarn prettier --write

test(log-decorator): prove callback type narrowing at compile time
  packages/log-decorator/src/create-log/create-log.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(decorators): automatic type narrowing from decorated method signatures
  packages/decorators-core/src/engine/run-interception/run-interception.spec.ts
  packages/decorators-core/src/strategy/observable-strategy/observable.strategy.ts
  packages/decorators-core/src/strategy/promise-strategy/promise.strategy.ts
  packages/histogram-metric-decorator/package.json
  packages/histogram-metric-decorator/src/factory/create-histogram-metric/create-histogram-metric.ts
  packages/lock-decorator/AGENTS.md
  packages/lock-decorator/readme.md
  packages/lock-decorator/src/factory/create-exclusive-lock/create-exclusive-lock.spec.ts
  packages/lock-decorator/src/factory/create-exclusive-lock/create-exclusive-lock.ts
  packages/lock-decorator/src/factory/create-sequential-lock/create-sequential-lock.spec.ts
  packages/lock-decorator/src/factory/create-sequential-lock/create-sequential-lock.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.ts
  packages/lock-decorator/src/type/promise-method-decorator.type.ts
  packages/log-decorator/package.json
  packages/log-decorator/readme.md
  packages/log-decorator/src/create-log/create-log.spec.ts
  packages/log-decorator/src/create-log/create-log.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

refactor(decorators): use shared's MethodDecoratorType directly, no re-exports
  AGENTS.md
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.spec.ts
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.ts
  packages/decorators-core/src/index.ts
  packages/decorators-core/src/type/method-decorator.type.ts
  packages/log-decorator/src/create-log/create-log.spec.ts
  packages/log-decorator/src/create-log/create-log.ts
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators-core): hoist GetResultType; log-decorator reuses it
  packages/decorators-core/src/index.ts
  packages/decorators-core/src/type/get-result.type.ts
  packages/log-decorator/readme.md
  packages/log-decorator/src/create-log/create-log.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

docs: SOTA-refresh readmes across the decorator suite
  packages/decorators-core/readme.md
  packages/histogram-metric-decorator/readme.md
  packages/lock-decorator/readme.md
Due: yarn prettier --write

feat(decorators): unified HistogramMetric + Log proof-of-unification
  packages/decorators-core/src/index.ts
  packages/decorators-core/src/strategy/completion-observable-strategy/completion-observable.strategy.spec.ts
  packages/decorators-core/src/strategy/completion-observable-strategy/completion-observable.strategy.ts
  packages/histogram-metric-decorator/package.json
  packages/histogram-metric-decorator/readme.md
  packages/histogram-metric-decorator/src/factory/create-histogram-metric/create-histogram-metric.spec.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric/create-histogram-metric.ts
  packages/log-decorator/src/create-log/create-log.spec.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

refactor(nestjs-enterprise): Log is a direct createLog binding, no wrapper
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators): rename factories to *Decorator suffix; simplify adapters
  packages/histogram-metric-decorator/AGENTS.md
  packages/histogram-metric-decorator/readme.md
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.spec.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.ts
  packages/histogram-metric-decorator/src/index.ts
  packages/lock-decorator/AGENTS.md
  packages/lock-decorator/readme.md
  packages/lock-decorator/src/factory/create-exclusive-lock-decorator/create-exclusive-lock-decorator.spec.ts
  packages/lock-decorator/src/factory/create-exclusive-lock-decorator/create-exclusive-lock-decorator.ts
  packages/lock-decorator/src/factory/create-sequential-lock-decorator/create-sequential-lock-decorator.spec.ts
  packages/lock-decorator/src/factory/create-sequential-lock-decorator/create-sequential-lock-decorator.ts
  packages/lock-decorator/src/index.ts
  packages/log-decorator/AGENTS.md
  packages/log-decorator/readme.md
  packages/log-decorator/src/create-log-decorator/create-log-decorator.spec.ts
  packages/log-decorator/src/create-log-decorator/create-log-decorator.ts
  packages/log-decorator/src/index.ts
  packages/nestjs-enterprise/AGENTS.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

chore(decorators): parallel audit fixes
  packages/decorators-core/package.json
  packages/histogram-metric-decorator/AGENTS.md
  packages/nestjs-enterprise/AGENTS.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/src/decorator/log/log-decorator.md
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: remove accidentally committed .claude/scheduled_tasks.lock
  .claude/scheduled_tasks.lock
Due: none

docs: alignment pass — 9 items from audit
  AGENTS.md
  packages/decorators-core/AGENTS.md
  packages/histogram-metric-decorator/readme.md
  packages/log-decorator/readme.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
  packages/shared/AGENTS.md
  packages/shared/readme.md
Due: yarn prettier --write

refactor(nestjs-enterprise): compile-time Observable constraint on lock factories
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(decorators-core): inline engine helpers, use ?? syncStrategy fallback
  knip.json
  packages/decorators-core/src/engine/run-interception/run-interception.spec.ts
  packages/decorators-core/src/engine/run-interception/run-interception.ts
Due: yarn eslint --fix, yarn prettier --write

feat(decorators-core)!: honest rxjs peer via /rxjs subpath split
  knip.json
  packages/decorators-core/package.json
  packages/decorators-core/src/index.ts
  packages/decorators-core/src/rxjs/index.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.ts
  packages/log-decorator/src/create-log-decorator/create-log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  tsconfig.build-cjs.json
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

Revert "feat(decorators-core)!: honest rxjs peer via /rxjs subpath split"
  knip.json
  packages/decorators-core/package.json
  packages/decorators-core/src/index.ts
  packages/decorators-core/src/rxjs/index.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.ts
  packages/log-decorator/src/create-log-decorator/create-log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  tsconfig.build-cjs.json
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

refactor(decorators-core): strategy coordinator — uniform sync/Promise/Observable dispatch
  packages/decorators-core/AGENTS.md
  packages/decorators-core/readme.md
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.spec.ts
  packages/decorators-core/src/engine/create-interceptor/create-interceptor.ts
  packages/decorators-core/src/engine/run-interception/run-interception.spec.ts
  packages/decorators-core/src/engine/run-interception/run-interception.ts
  packages/decorators-core/src/index.ts
  packages/decorators-core/src/strategy/promise-strategy/promise.strategy.ts
  packages/decorators-core/src/strategy/sync-strategy/sync.strategy.spec.ts
  packages/decorators-core/src/strategy/sync-strategy/sync.strategy.ts
Due: yarn eslint --fix, yarn prettier --write

feat(decorators-core)!: rxjs strategies moved to /rxjs subpath
  knip.json
  packages/decorators-core/package.json
  packages/decorators-core/readme.md
  packages/decorators-core/src/index.ts
  packages/decorators-core/src/rxjs/index.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.ts
  packages/histogram-metric-decorator/tsconfig.build-cjs.json
  packages/log-decorator/src/create-log-decorator/create-log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/tsconfig.build-cjs.json
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

fix(lock-decorator): runWithLock$ honors AbortSignal end-to-end
  packages/lock-decorator/src/util/run-with-lock-rxjs/run-with-lock-rxjs.spec.ts
  packages/lock-decorator/src/util/run-with-lock-rxjs/run-with-lock-rxjs.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprise): @HistogramMetric forwards labels; instanceof Histogram guard
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-enterprise): lock decorators do not swallow method-thrown LockBusyError
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.ts
Due: yarn eslint --fix, yarn prettier --write

chore: narrow TS peer, add knip entries, fix ESLint pathGroups
  eslint.config.mjs
  knip.json
  packages/decorators-core/package.json
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/package.json
Due: yarn sort-package-json

feat(decorators-core): enforce strategy sync-throw contract
  packages/decorators-core/src/engine/run-interception/run-interception.spec.ts
  packages/decorators-core/src/engine/run-interception/run-interception.ts
  packages/decorators-core/src/strategy/completion-observable-strategy/completion-observable.strategy.md
  packages/decorators-core/src/strategy/completion-observable-strategy/completion-observable.strategy.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(lock-decorator): Error.cause support, timeoutMs validation, deterministic tests
  packages/lock-decorator/src/error/lock-acquire-timeout-error/lock-acquire-timeout.error.spec.ts
  packages/lock-decorator/src/error/lock-acquire-timeout-error/lock-acquire-timeout.error.ts
  packages/lock-decorator/src/error/lock-busy-error/lock-busy.error.spec.ts
  packages/lock-decorator/src/error/lock-busy-error/lock-busy.error.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.spec.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.ts
  packages/lock-decorator/src/util/assert-valid-timeout-ms/assert-valid-timeout-ms.spec.ts
  packages/lock-decorator/src/util/assert-valid-timeout-ms/assert-valid-timeout-ms.ts
  packages/lock-decorator/src/util/resolve-lock-key/resolve-lock-key.spec.ts
  packages/lock-decorator/src/util/resolve-lock-key/resolve-lock-key.ts
Due: yarn eslint --fix, yarn prettier --write

feat(histogram-metric-decorator): crash-safe labels resolver with onLabelsError hook
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.spec.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.ts
  packages/histogram-metric-decorator/src/interface/create-histogram-metric-options.interface.ts
Due: yarn eslint --fix, yarn prettier --write

feat(log-decorator)!: thread durationMs through postLog/errorLog callbacks
  packages/log-decorator/CHANGELOG.md
  packages/log-decorator/package.json
  packages/log-decorator/readme.md
  packages/log-decorator/src/create-log-decorator/create-log-decorator.spec.ts
  packages/log-decorator/src/type/error-log-input.type.ts
  packages/log-decorator/src/type/post-log-input.type-test.ts
  packages/log-decorator/src/type/post-log-input.type.ts
  packages/log-decorator/src/util/create-log-interceptor.ts
  packages/nestjs-enterprise/src/decorator/log/log-decorator.md
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(nestjs-enterprise): histogram config mismatch detection via per-registry WeakMap
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

chore: sync yarn.lock after TS peer range narrow
  yarn.lock
Due: none

fix: address PR bot comments and lint compliance across touched packages
  packages/decorators-core/src/engine/run-interception/run-interception.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.spec.ts
  packages/histogram-metric-decorator/src/factory/create-histogram-metric-decorator/create-histogram-metric-decorator.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.spec.ts
  packages/lock-decorator/src/store/create-in-memory-lock-store/create-in-memory-lock-store.ts
  packages/lock-decorator/src/util/assert-valid-timeout-ms/assert-valid-timeout-ms.spec.ts
  packages/lock-decorator/src/util/assert-valid-timeout-ms/assert-valid-timeout-ms.ts
  packages/lock-decorator/src/util/resolve-lock-key/resolve-lock-key.ts
  packages/log-decorator/src/create-log-decorator/create-log-decorator.spec.ts
  packages/log-decorator/src/type/post-log-input.type-test.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-tracking.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

fix(knip): register log-decorator type-test as entry point
  knip.json
Due: none

refactor(decorators-core): inline runStrategy back into runInterception
  packages/decorators-core/src/engine/run-interception/run-interception.ts
Due: yarn eslint --fix, yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
  yarn sort-package-json: any of: package.json
