Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn tslint --fix",
        "yarn prettier --write",
        "git add ."
    ],
    "*.{md, json}": [
        "yarn prettier",
        "git add ."
    ],
}

feat: added async storage
  packages/platform/package.json
  packages/platform/readme.md
  packages/platform/src/index.ts
  packages/platform/src/storage/storage.ts
  packages/platform/src/storage/storage.web.ts
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat: added getEnv util for environment variables
  packages/platform/package.json
  packages/platform/readme.md
  packages/platform/src/env/env.ts
  packages/platform/src/env/env.web.ts
  packages/platform/src/index.ts
  tsconfig.json
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

fix: ci deps yarn install
  .travis.yml
Due: none

New platform package utils (#14)
  .travis.yml
  packages/platform/package.json
  packages/platform/readme.md
  packages/platform/src/env/env.ts
  packages/platform/src/env/env.web.ts
  packages/platform/src/index.ts
  packages/platform/src/storage/storage.ts
  packages/platform/src/storage/storage.web.ts
  tsconfig.json
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

v0.1.3
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
Due: git add ., yarn prettier

fix: ci deps yarn install
  packages/platform/src/storage/storage.spec.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

feat: updated @rnw-community/hoverable dependencies
  yarn.lock
Due: none

fix: updated @rnw-community/hoverable dependencies
  yarn.lock
Due: none

fix: updated @rnw-community/hoverable dependencies
  packages/fast-style/package.json
  packages/hoverable/package.json
Due: none

fix: fixed fast-style package.json
  packages/fast-style/package.json
Due: none

fix: fixed package.json
  packages/fast-style/package.json
Due: none

fix: package.json
  packages/fast-style/package.json
Due: none

v0.1.4
  CHANGELOG.md
  lerna.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
Due: git add ., yarn prettier

Update readme.md
  packages/platform/readme.md
Due: git add ., yarn prettier

v0.1.5
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
Due: git add ., yarn prettier

feat(platform): deprecated storage, updated deps
  packages/platform/package.json
  packages/platform/readme.md
  packages/platform/src/storage/storage.ts
  packages/platform/src/storage/storage.web.ts
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat(state): added generic request state package
  package.json
  packages/state/.gitignore
  packages/state/babel.config.js
  packages/state/jest.config.js
  packages/state/package.json
  packages/state/readme.md
  packages/state/src/crud-state.ts
  packages/state/src/index.ts
  packages/state/src/initial.spec.ts
  packages/state/src/request-actions.ts
  packages/state/src/request-epic.spec.ts
  packages/state/src/request-epic.ts
  packages/state/src/request-reducers.ts
  packages/state/src/request-state.interface.ts
  packages/state/src/request.spec.ts
  packages/state/src/type.ts
  packages/state/tsconfig.json
  packages/state/tslint.json
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat(state): added createRequestState() helper
  packages/state/src/create-request-state.ts
  packages/state/src/crud-state.ts
  packages/state/src/index.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

Update readme.md
  packages/state/readme.md
Due: git add ., yarn prettier

Failed request reducer fix
  packages/state/src/request-reducers.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

feat(state): refactored epics
  packages/state/babel.config.js
  packages/state/readme.md
  packages/state/src/create-request-state.ts
  packages/state/src/crud-state.ts
  packages/state/src/epic/concat-epic.spec.ts
  packages/state/src/epic/concat-epic.ts
  packages/state/src/epic/exhaust-epic.spec.ts
  packages/state/src/epic/exhaust-epic.ts
  packages/state/src/epic/request-epic.spec.ts
  packages/state/src/epic/request-epic.ts
  packages/state/src/epic/switch-epic.spec.ts
  packages/state/src/epic/switch-epic.ts
  packages/state/src/index.ts
  packages/state/src/initial-spec.ts
  packages/state/src/request-actions.ts
  packages/state/src/request-epic.ts
  packages/state/src/request-state.interface.ts
  packages/state/src/request.spec.ts
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat(state): added subscription epic with tests
  packages/state/src/epic/subscription-epic.spec.ts
  packages/state/src/epic/subscription-epic.ts
  packages/state/src/index.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

[@rnw-community/fast-style] font supports additional styles
  packages/fast-style/package.json
  packages/fast-style/src/font.spec.ts
  packages/fast-style/src/font.ts
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add .

[@rnw-community/fast-style] font supports additional styles
  packages/fast-style/src/font.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.1.6
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
Due: git add ., yarn prettier

Update README.md
  README.md
Due: git add ., yarn prettier

feat(state): added generic epic
  packages/state/src/index.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.1.7
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
Due: git add ., yarn prettier

chore: updated deps to latest versions
  package.json
  packages/hoverable/package.json
  packages/platform/package.json
  yarn.lock
Due: none

feat(shared): added new useful utils, types, type-guards, updated docs
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/is-defined/is-defined.spec.ts
  packages/shared/src/type-guard/is-defined/is-defined.ts
  packages/shared/src/type-guard/is-empty-string/is-empty-string.spec.ts
  packages/shared/src/type-guard/is-empty-string/is-empty-string.ts
  packages/shared/src/type-guard/is-error/is-error.spec.ts
  packages/shared/src/type-guard/is-error/is-error.ts
  packages/shared/src/type-guard/is-string/is-string.spec.ts
  packages/shared/src/type-guard/is-string/is-string.ts
  packages/shared/src/type/class.type.ts
  packages/shared/src/type/empty-fn.type.ts
  packages/shared/src/util/cs/cs.spec.ts
  packages/shared/src/util/cs/cs.ts
  packages/shared/src/util/empty-fn/empty-fn.spec.ts
  packages/shared/src/util/empty-fn/empty-fn.ts
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

chore: updated deps
  yarn.lock
Due: none

chore: updated deps
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/hoverable/src/with-hover.spec.tsx
  packages/platform/package.json
  packages/shared/src/util/empty-fn/empty-fn.spec.ts
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add .

fix(platform): fixed setTestId for android and ios
  packages/platform/src/set-test-id.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

chore(platform): added folders
  packages/platform/src/index.ts
  packages/platform/src/platform-style/platform-style.spec.ts
  packages/platform/src/platform-style/platform-style.ts
  packages/platform/src/set-test-id/set-test-id.spec.ts
  packages/platform/src/set-test-id/set-test-id.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

chore(platform): added folders
  packages/platform/src/platform-style/platform-style.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

chore(platform): fixed test
  packages/platform/src/platform-style/platform-style.spec.ts
  packages/platform/src/set-test-id/set-test-id.spec.ts
  packages/platform/src/set-test-id/set-test-id.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

Deps update and new shared entities (#28)
  package.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/hoverable/src/with-hover.spec.tsx
  packages/platform/package.json
  packages/platform/readme.md
  packages/platform/src/index.ts
  packages/platform/src/platform-style/platform-style.spec.ts
  packages/platform/src/platform-style/platform-style.ts
  packages/platform/src/set-test-id.spec.ts
  packages/platform/src/set-test-id/set-test-id.spec.ts
  packages/platform/src/set-test-id/set-test-id.ts
  packages/platform/src/storage/storage.ts
  packages/platform/src/storage/storage.web.ts
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/is-defined/is-defined.spec.ts
  packages/shared/src/type-guard/is-defined/is-defined.ts
  packages/shared/src/type-guard/is-empty-string/is-empty-string.spec.ts
  packages/shared/src/type-guard/is-empty-string/is-empty-string.ts
  packages/shared/src/type-guard/is-error/is-error.spec.ts
  packages/shared/src/type-guard/is-error/is-error.ts
  packages/shared/src/type-guard/is-string/is-string.spec.ts
  packages/shared/src/type-guard/is-string/is-string.ts
  packages/shared/src/type/class.type.ts
  packages/shared/src/type/empty-fn.type.ts
  packages/shared/src/util/cs/cs.spec.ts
  packages/shared/src/util/cs/cs.ts
  packages/shared/src/util/empty-fn/empty-fn.spec.ts
  packages/shared/src/util/empty-fn/empty-fn.ts
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier
