Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

v0.26.5
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(rxjs-errors): error ctor type in rethrowException
  packages/rxjs-errors/src/rethrow-exception.operator.ts
Due: yarn eslint --fix, yarn prettier --write

fix(rxjs-errors): add unit tests for exceptions with more than 1 argument
  packages/rxjs-errors/src/rethrow-exception.operator.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(rxjs-errors): error ctor type in rethrowException (#76)
  packages/rxjs-errors/src/rethrow-exception.operator.spec.ts
  packages/rxjs-errors/src/rethrow-exception.operator.ts
Due: yarn eslint --fix, yarn prettier --write

v0.26.6
  CHANGELOG.md
  lerna.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
Due: yarn prettier --write

fix(wdio): refactored, added test coverage
  jest.config.js
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/componnet.spec.ts
  packages/wdio/src/component/create-component/create-component.ts
  packages/wdio/src/component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/get-component/get-component.spec.ts
  packages/wdio/src/component/get-component/get-component.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-with-selectors.type.ts
  packages/wdio/src/component/type/index.ts
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
  packages/wdio/src/component/type/selector-methods.type.ts
  packages/wdio/src/component/type/selector-object.type.ts
  packages/wdio/src/component/type/wdio-types.type.ts
  packages/wdio/src/component/util/find-enum-root-selector.util.ts
  packages/wdio/src/component/util/index.ts
  packages/wdio/src/component/util/proxy-call.util.ts
  packages/wdio/src/type/component-with-selectors.type.ts
  packages/wdio/src/type/index.ts
  packages/wdio/src/type/selector-methods.type.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): refactored, added test coverage
  jest.config.js
  packages/wdio/src/component/component/componnet.spec.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/get-component/get-component.spec.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed ios openDeepLink command
  packages/wdio/src/command/mobile/open-deep-link.command.ts
Due: yarn eslint --fix, yarn prettier --write

v0.26.7
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed selectorMethods type
  packages/wdio/src/component/type/selector-methods.type.ts
Due: yarn eslint --fix, yarn prettier --write

wdio refactoring, and code coverage (#77)
  jest.config.js
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/componnet.spec.ts
  packages/wdio/src/component/create-component/create-component.ts
  packages/wdio/src/component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/get-component/get-component.spec.ts
  packages/wdio/src/component/get-component/get-component.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-with-selectors.type.ts
  packages/wdio/src/component/type/index.ts
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
  packages/wdio/src/component/type/selector-methods.type.ts
  packages/wdio/src/component/type/selector-object.type.ts
  packages/wdio/src/component/type/wdio-types.type.ts
  packages/wdio/src/component/util/find-enum-root-selector.util.ts
  packages/wdio/src/component/util/index.ts
  packages/wdio/src/component/util/proxy-call.util.ts
  packages/wdio/src/type/component-with-selectors.type.ts
  packages/wdio/src/type/index.ts
  packages/wdio/src/type/selector-methods.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.26.8
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed createRootedComponent return type
  packages/wdio/src/component/create-rooted-component/create-rooted-component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.26.9
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): improved openDeepLink for ios command
  packages/wdio/src/command/mobile/open-deep-link.command.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): added coverage to create utils
  packages/wdio/src/component/create-component/create-component.spec.ts
  packages/wdio/src/component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/get-component/get-component.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): added coverage to testID utils
  packages/wdio/src/util/get-test-id/get-test-id.spec.ts
  packages/wdio/src/util/get-test-id/get-test-id.ts
  packages/wdio/src/util/index.ts
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.spec.ts
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.ts
  packages/wdio/src/util/set-test-id/set-test-id.spec.ts
  packages/wdio/src/util/set-test-id/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): added coverage to testID utils
  packages/wdio/src/component/create-rooted-component/create-rooted-component.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): added coverage to testID utils
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
Due: yarn eslint --fix, yarn prettier --write

Update packages/wdio/src/util/get-test-id/get-test-id.spec.ts
  packages/wdio/src/util/get-test-id/get-test-id.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat: added nestjs-webpack-swc
  README.md
  packages/nestjs-webpack-swc/.eslintrc.js
  packages/nestjs-webpack-swc/.gitignore
  packages/nestjs-webpack-swc/babel.config.js
  packages/nestjs-webpack-swc/jest.config.js
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/readme.md
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod.config.ts
  packages/nestjs-webpack-swc/src/config/swc.config.ts
  packages/nestjs-webpack-swc/src/index.ts
  packages/nestjs-webpack-swc/src/typeorm/import-typeorm-webpack-migrations.util.ts
  packages/nestjs-webpack-swc/tsconfig.build.json
  packages/nestjs-webpack-swc/tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

test(wdio): added coverage (#78)
  packages/wdio/src/command/mobile/open-deep-link.command.ts
  packages/wdio/src/component/create-component/create-component.spec.ts
  packages/wdio/src/component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/get-component/get-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/util/get-test-id/get-test-id.spec.ts
  packages/wdio/src/util/get-test-id/get-test-id.ts
  packages/wdio/src/util/index.ts
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.spec.ts
  packages/wdio/src/util/set-prop-test-id/set-prop-test-id.ts
  packages/wdio/src/util/set-test-id/set-test-id.spec.ts
  packages/wdio/src/util/set-test-id/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

v0.26.10
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat: added nestjs-webpack-swc
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

docs(nestjs-webpack-swc): updated description
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

feat: added nestjs-webpack-swc (#79)
  README.md
  packages/nestjs-webpack-swc/.eslintrc.js
  packages/nestjs-webpack-swc/.gitignore
  packages/nestjs-webpack-swc/babel.config.js
  packages/nestjs-webpack-swc/jest.config.js
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/readme.md
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod.config.ts
  packages/nestjs-webpack-swc/src/config/swc.config.ts
  packages/nestjs-webpack-swc/src/index.ts
  packages/nestjs-webpack-swc/src/typeorm/import-typeorm-webpack-migrations.util.ts
  packages/nestjs-webpack-swc/tsconfig.build.json
  packages/nestjs-webpack-swc/tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

docs(nestjs-webpack-swc): updated install
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

v0.27.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(nestjs-webpack-swc): fixed deps
  packages/nestjs-webpack-swc/package.json
Due: none

v0.27.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

docs(nestjs-webpack-swc): updated configuration
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

v0.27.2
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

docs(nestjs-webpack-swc): updated issues
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

v0.27.3
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

docs(nestjs-webpack-swc): updated swc bindings guide
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

v0.27.4
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write
