Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

chore: release v2.19.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-screen-chrome-example/CHANGELOG.md
  packages/react-native-screen-chrome-example/package.json
  packages/react-native-screen-chrome/CHANGELOG.md
  packages/react-native-screen-chrome/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(eslint-plugin): stop importing package.json so the published entry loads
  AGENTS.md
  packages/eslint-plugin/AGENTS.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  scripts/smoke-esm.mjs
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

docs(eslint-plugin): drop the stale package.json import notes
  AGENTS.md
  packages/eslint-plugin/AGENTS.md
Due: yarn prettier --write

fix(eslint-plugin): stop importing package.json so the published entry loads (#641)
  AGENTS.md
  packages/eslint-plugin/AGENTS.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/index.ts
  scripts/smoke-esm.mjs
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

chore: release v2.19.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(eslint-plugin): support ESLint 10 and drop the unused typescript-eslint peer
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: yarn sort-package-json

fix(eslint-plugin): support ESLint 10 and drop the unused typescript-eslint peer (#642)
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: yarn sort-package-json

chore: release v2.19.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  pnpm-lock.yaml
Due: yarn prettier --write, yarn sort-package-json

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
  yarn sort-package-json: any of: package.json
