Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

v0.3.2
  CHANGELOG.md
  lerna.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

feat(shared): added isNotEmptyString typeguard
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/is-not-empty-string/is-not-empty-string.spec.ts
  packages/shared/src/type-guard/is-not-empty-string/is-not-empty-string.ts
Due: yarn eslint --fix, yarn prettier --write

Added isNotEmptyString type-guard (#33)
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/is-not-empty-string/is-not-empty-string.spec.ts
  packages/shared/src/type-guard/is-not-empty-string/is-not-empty-string.ts
Due: yarn eslint --fix, yarn prettier --write

v0.3.3
  CHANGELOG.md
  lerna.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

feat(shared): added getErrorMessage util
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/util/get-error-message/get-error-message.spec.ts
  packages/shared/src/util/get-error-message/get-error-message.ts
Due: yarn eslint --fix, yarn prettier --write

chore: updated deps
  jest.config.js
  package.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/hoverable/src/with-hover/with-hover.spec.tsx
  packages/platform/src/platform-style/platform-style.ts
  packages/shared/src/util/get-error-message/get-error-message.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

chore: review change
  packages/shared/src/util/get-error-message/get-error-message.spec.ts
Due: yarn eslint --fix, yarn prettier --write

ci: fixed travis config
  .travis.yml
Due: none

Added getErrorMessage util (#34)
  .travis.yml
  jest.config.js
  package.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/hoverable/src/with-hover/with-hover.spec.tsx
  packages/platform/src/platform-style/platform-style.ts
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/util/get-error-message/get-error-message.spec.ts
  packages/shared/src/util/get-error-message/get-error-message.ts
  tsconfig.json
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.3.4
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

docs: added docs
  README.md
Due: yarn prettier --write

Added npm links to each package (#35)
  README.md
Due: yarn prettier --write

feat(redux-loadable): added redux-loadable package
  .eslintrc.js
  packages/redux-loadable/.eslintrc.js
  packages/redux-loadable/.gitignore
  packages/redux-loadable/babel.config.js
  packages/redux-loadable/jest.config.js
  packages/redux-loadable/package.json
  packages/redux-loadable/readme.md
  packages/redux-loadable/src/index.ts
  packages/redux-loadable/src/interface/loading-state.interface.ts
  packages/redux-loadable/src/selectors/loading-state-slice-selector.type.ts
  packages/redux-loadable/src/selectors/loading-state.selector.spec.ts
  packages/redux-loadable/src/selectors/loading-state.selector.ts
  packages/redux-loadable/src/utils/loading-failed.util.spec.ts
  packages/redux-loadable/src/utils/loading-failed.util.ts
  packages/redux-loadable/src/utils/loading-finished.util.spec.ts
  packages/redux-loadable/src/utils/loading-finished.util.ts
  packages/redux-loadable/src/utils/loading-started.util.spec.ts
  packages/redux-loadable/src/utils/loading-started.util.ts
  packages/redux-loadable/tsconfig.build.json
  packages/redux-loadable/tsconfig.json
Due: yarn eslint --fix, yarn prettier --write

Update packages/redux-loadable/src/utils/loading-finished.util.spec.ts
  packages/redux-loadable/src/utils/loading-finished.util.spec.ts
Due: yarn eslint --fix, yarn prettier --write

Update packages/redux-loadable/src/utils/loading-failed.util.spec.ts
  packages/redux-loadable/src/utils/loading-failed.util.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore(redux-loadable): fixed review suggestions
  packages/redux-loadable/src/utils/loading-failed.util.spec.ts
  packages/redux-loadable/src/utils/loading-finished.util.spec.ts
Due: yarn eslint --fix, yarn prettier --write

docs(redux-loadable): added ts docs
  packages/redux-loadable/src/interface/loading-state.interface.ts
  packages/redux-loadable/src/selectors/loading-state.selector.ts
  packages/redux-loadable/src/utils/loading-failed.util.ts
  packages/redux-loadable/src/utils/loading-finished.util.ts
  packages/redux-loadable/src/utils/loading-started.util.ts
Due: yarn eslint --fix, yarn prettier --write

docs(redux-loadable): added ts docs
  packages/redux-loadable/src/interface/loading-state.interface.ts
Due: yarn eslint --fix, yarn prettier --write

docs(redux-loadable): added ts docs
  packages/redux-loadable/readme.md
Due: yarn prettier --write

ci: removed duplicated branch build
  .travis.yml
Due: none

feat(redux-loadable): added redux-loadable package (#36)
  .eslintrc.js
  .travis.yml
  packages/redux-loadable/.eslintrc.js
  packages/redux-loadable/.gitignore
  packages/redux-loadable/babel.config.js
  packages/redux-loadable/jest.config.js
  packages/redux-loadable/package.json
  packages/redux-loadable/readme.md
  packages/redux-loadable/src/index.ts
  packages/redux-loadable/src/interface/loading-state.interface.ts
  packages/redux-loadable/src/selectors/loading-state-slice-selector.type.ts
  packages/redux-loadable/src/selectors/loading-state.selector.spec.ts
  packages/redux-loadable/src/selectors/loading-state.selector.ts
  packages/redux-loadable/src/utils/loading-failed.util.spec.ts
  packages/redux-loadable/src/utils/loading-failed.util.ts
  packages/redux-loadable/src/utils/loading-finished.util.spec.ts
  packages/redux-loadable/src/utils/loading-finished.util.ts
  packages/redux-loadable/src/utils/loading-started.util.spec.ts
  packages/redux-loadable/src/utils/loading-started.util.ts
  packages/redux-loadable/tsconfig.build.json
  packages/redux-loadable/tsconfig.json
Due: yarn eslint --fix, yarn prettier --write

v0.4.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

feat(nestjs-rxjs-logger): added package
  jest.config.js
  package.json
  packages/nestjs-rxjs-logger/.eslintrc.js
  packages/nestjs-rxjs-logger/.gitignore
  packages/nestjs-rxjs-logger/babel.config.js
  packages/nestjs-rxjs-logger/jest.config.js
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-logger/readme.md
  packages/nestjs-rxjs-logger/src/app-log-level.enum.ts
  packages/nestjs-rxjs-logger/src/index.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger.module.ts
  packages/nestjs-rxjs-logger/tsconfig.build.json
  packages/nestjs-rxjs-logger/tsconfig.json
  packages/shared/babel.config.js
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-rxjs-logger): added docs
  packages/nestjs-rxjs-logger/readme.md
Due: yarn prettier --write

feat(nestjs-rxjs-logger): added package (#38)
  jest.config.js
  package.json
  packages/nestjs-rxjs-logger/.eslintrc.js
  packages/nestjs-rxjs-logger/.gitignore
  packages/nestjs-rxjs-logger/babel.config.js
  packages/nestjs-rxjs-logger/jest.config.js
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-logger/readme.md
  packages/nestjs-rxjs-logger/src/app-log-level.enum.ts
  packages/nestjs-rxjs-logger/src/index.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger.module.ts
  packages/nestjs-rxjs-logger/tsconfig.build.json
  packages/nestjs-rxjs-logger/tsconfig.json
  packages/shared/babel.config.js
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.5.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

Update README.md
  README.md
Due: yarn prettier --write

feat(nestjs-rxjs-logger): added support to pass message function
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-logger): added support to pass message function (#40)
  CHANGELOG.md
  packages/fast-style/CHANGELOG.md
  packages/hoverable/CHANGELOG.md
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/object-field-tree/CHANGELOG.md
  packages/platform/CHANGELOG.md
  packages/redux-loadable/CHANGELOG.md
  packages/shared/CHANGELOG.md
Due: yarn eslint --fix, yarn prettier --write

v0.6.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

feat(nestjs-rxjs-logger): added catch$ operator for logging errors in stream
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-logger): added catch$ operator for logging errors in stream (#43)
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
Due: yarn eslint --fix, yarn prettier --write

v0.7.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
Due: yarn prettier --write

feat(nestjs-rxjs-logger): renamed operators without $, minor type improvement
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-logger/src/index.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.spec.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger.module.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-redis): new redis module
  packages/nestjs-rxjs-redis/.eslintrc.js
  packages/nestjs-rxjs-redis/.gitignore
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/babel.config.js
  packages/nestjs-rxjs-redis/jest.config.js
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-rxjs-redis/src/index.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
  packages/nestjs-rxjs-redis/tsconfig.build.json
  packages/nestjs-rxjs-redis/tsconfig.json
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-redis): updated husky and other deps
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
  yarn.lock
Due: none

feat(nestjs-rxjs-redis): updated husky and other deps
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  .huskyrc
  package.json
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/redux-loadable/src/selectors/loading-state.selector.spec.ts
  packages/redux-loadable/src/utils/loading-failed.util.spec.ts
  packages/redux-loadable/src/utils/loading-finished.util.spec.ts
  packages/redux-loadable/src/utils/loading-started.util.spec.ts
  packages/shared/src/type-guard/is-defined/is-defined.spec.ts
  packages/shared/src/type-guard/is-empty-string/is-empty-string.spec.ts
  packages/shared/src/type-guard/is-error/is-error.spec.ts
  packages/shared/src/type-guard/is-not-empty-string/is-not-empty-string.spec.ts
  packages/shared/src/type-guard/is-string/is-string.spec.ts
  packages/shared/src/util/get-error-message/get-error-message.spec.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-rxjs-redis): increased coverage by adding error case handling
  jest.config.js
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
Due: yarn eslint --fix, yarn prettier --write
