Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(shared): add isDecimalMonetaryValue guard for decimal currency strings
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/string/is-decimal-monetary-value/is-decimal-monetary-value.md
  packages/shared/src/type-guard/string/is-decimal-monetary-value/is-decimal-monetary-value.spec.ts
  packages/shared/src/type-guard/string/is-decimal-monetary-value/is-decimal-monetary-value.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(react-native-payments): drop validator dependency for monetary checks
  .yarn/cache/@types-validator-npm-13.15.10-eacbd3fa04-63117a776c.zip
  .yarn/cache/validator-npm-13.15.35-eaad1e4bed-62f2572806.zip
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/package.json
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/util/is-valid-decimal-monetary-value.util.ts
  packages/react-native-payments/src/util/is-valid-decimal-monetary-value/is-valid-decimal-monetary-value.spec.ts
  packages/react-native-payments/src/util/is-valid-decimal-monetary-value/is-valid-decimal-monetary-value.util.ts
  packages/react-native-payments/src/util/validate-display-items.util.ts
  packages/react-native-payments/src/util/validate-shipping-options.util.ts
  packages/react-native-payments/src/util/validate-total.util.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

chore: release v2.9.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/decorators-core/CHANGELOG.md
  packages/decorators-core/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/histogram-metric-decorator/CHANGELOG.md
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/CHANGELOG.md
  packages/lock-decorator/package.json
  packages/log-decorator/CHANGELOG.md
  packages/log-decorator/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

docs(react-native-payments): SOTA readme — quickstart, architecture, migration
  packages/react-native-payments/readme.md
Due: yarn prettier --write

docs(react-native-payments): correct architecture and migration example claims
  packages/react-native-payments/readme.md
Due: yarn prettier --write

feat(react-native-payments): add hasEnrolledInstrument, event-handler attributes, shippingType
  eslint.config.mjs
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/android/src/oldarch/PaymentsSpec.java
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/ios/request/ios-payment-data-request.ts
  packages/react-native-payments/src/NativePayments.ts
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/enum/payment-shipping-type.enum.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/interface/generic-payment-method-data-data.interface.ts
  packages/react-native-payments/src/util/validate-shipping-type.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.9.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(react-native-payments): resolve attribute-handler listener collision and native reject bugs
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.10.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(react-native-payments): add typed supportedNetworks and googlePayEnvironment plugin options
  packages/react-native-payments/src/expo-plugins/plugin-default-options.constant.ts
  packages/react-native-payments/src/expo-plugins/plugin.props.ts
  packages/react-native-payments/src/expo-plugins/validate-google-pay-environment.util.spec.ts
  packages/react-native-payments/src/expo-plugins/validate-google-pay-environment.util.ts
  packages/react-native-payments/src/expo-plugins/validate-supported-networks.util.spec.ts
  packages/react-native-payments/src/expo-plugins/validate-supported-networks.util.ts
  packages/react-native-payments/src/expo-plugins/with-google-pay.ts
Due: yarn eslint --fix, yarn prettier --write

test(react-native-payments): cover withGooglePay and withPayments Expo plugin mods
  packages/react-native-payments/src/expo-plugins/with-apple-pay.spec.ts
  packages/react-native-payments/src/expo-plugins/with-google-pay.spec.ts
  packages/react-native-payments/src/expo-plugins/with-payments.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): include expo-plugins in the jest coverage gate
  packages/react-native-payments/jest.config.js
Due: none

docs(react-native-payments): add Expo plugin options reference table
  packages/react-native-payments/readme.md
Due: yarn prettier --write

fix(react-native-payments): mark expo peer dependency optional
  knip.json
  packages/react-native-payments/package.json
  yarn.lock
Due: yarn sort-package-json

docs(react-native-payments): name the entitlements plist correctly in the plugin options table
  packages/react-native-payments/readme.md
Due: yarn prettier --write

chore: release v2.11.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: release v2.12.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: pin Android cmdline-tools to the version actually shipped by setup-android@v3
  .github/workflows/android-maestro.yml
  .github/workflows/seed-native-cache.yml
Due: none

docs: sanction scoped tsdoc on exported public api declarations
  AGENTS.md
Due: yarn prettier --write

docs: make the tsdoc exception consistent with the pragma rule and define the see target
  AGENTS.md
Due: yarn prettier --write

docs(react-native-payments): clean up TODO ledger and extract roadmap.md
  packages/react-native-payments/llms.txt
  packages/react-native-payments/readme.md
  packages/react-native-payments/roadmap.md
Due: yarn prettier --write

ci: rewrite codecov.yml with per-package flags and OIDC upload
  .github/workflows/pr.yml
  codecov.yml
Due: none

ci: skip coverage upload where OIDC is unavailable
  .github/workflows/pr.yml
  codecov.yml
Due: none

build(react-native-payments): harden npm publication surface
  .yarn/cache/@andrewbranch-untar.js-npm-1.0.3-685cac1d8c-a32de53839.zip
  .yarn/cache/@arethetypeswrong-cli-npm-0.18.5-971d435094-70d2d75f67.zip
  .yarn/cache/@arethetypeswrong-core-npm-0.18.5-77061e4215-9cbb715632.zip
  .yarn/cache/@braidai-lang-npm-1.1.2-0413b7475b-04ece1b744.zip
  .yarn/cache/@loaderkit-resolve-npm-1.0.6-101633b625-73b4551ead.zip
  .yarn/cache/@publint-pack-npm-0.1.6-b58d9197d3-f1348e48c5.zip
  .yarn/cache/@sindresorhus-is-npm-4.6.0-7cad05c55e-e7f36ed72a.zip
  .yarn/cache/ansi-regex-npm-6.2.2-f2d6691eb1-9b17ce2c6d.zip
  .yarn/cache/any-promise-npm-1.3.0-f34eeaa7e7-6737469ba3.zip
  .yarn/cache/chalk-npm-5.6.2-ecbd482482-1b2f48f6fb.zip
  .yarn/cache/cli-highlight-npm-2.1.11-569697f73a-05d2b5beb8.zip
  .yarn/cache/commander-npm-10.0.1-f17613b72b-8799faa84a.zip
  .yarn/cache/emojilib-npm-2.4.0-52421bcae3-bef767eca4.zip
  .yarn/cache/fflate-npm-0.8.3-35acaff861-6ebf528dc9.zip
  .yarn/cache/highlight.js-npm-10.7.3-247e67d5c0-db8d10a541.zip
  .yarn/cache/lru-cache-npm-11.5.2-4d882549c7-122789c666.zip
  .yarn/cache/marked-npm-9.1.6-c12e4a3600-29d073500c.zip
  .yarn/cache/marked-terminal-npm-7.3.0-3d8f1a027a-1dfdfe752a.zip
  .yarn/cache/mri-npm-1.2.0-8ecee0357d-6775a1d222.zip
  .yarn/cache/mz-npm-2.7.0-ec3cef4ec2-8427de0ece.zip
  .yarn/cache/node-emoji-npm-2.2.0-4302837175-2548668f5c.zip
  .yarn/cache/package-manager-detector-npm-1.8.0-8fc31e80c5-5d79b8bf3d.zip
  .yarn/cache/parse5-htmlparser2-tree-adapter-npm-6.0.1-60b4888f75-3400a2cd1a.zip
  .yarn/cache/parse5-npm-5.1.1-8e63d82cff-5b509744cf.zip
  .yarn/cache/parse5-npm-6.0.1-70a35a494a-dfb110581f.zip
  .yarn/cache/publint-npm-0.3.22-1abf15fc0c-7274bf7c3e.zip
  .yarn/cache/sade-npm-1.8.1-4759dc74c1-1c67ba03c9.zip
  .yarn/cache/skin-tone-npm-2.0.0-43a2069845-19de157586.zip
  .yarn/cache/supports-hyperlinks-npm-3.2.0-f5a5cbe606-f7924de604.zip
  .yarn/cache/thenify-all-npm-1.6.0-96309bbc8b-dba7cc8a23.zip
  .yarn/cache/thenify-npm-3.3.1-030bedb22c-486e1283a8.zip
  .yarn/cache/typescript-npm-5.6.1-rc-96316e7f74-5716659d5b.zip
  .yarn/cache/typescript-patch-f14503dcf9-462e0bb46c.zip
  .yarn/cache/unicode-emoji-modifier-base-npm-1.0.0-ef42b85868-6e1521d35f.zip
  .yarn/cache/yargs-npm-16.2.2-72eb4a72b8-4ea83fae59.zip
  AGENTS.md
  package.json
  packages/react-native-payments/package.json
  packages/shared/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

ci(react-native-payments): gate publish hygiene and add provenance
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

ci: fall back to tokenless upload instead of skipping fork coverage
  .github/workflows/pr.yml
Due: none

docs(react-native-payments): correct roadmap ledger claims
  packages/react-native-payments/roadmap.md
Due: yarn prettier --write

ci(react-native-payments): create pack destination before npm pack
  .github/workflows/pr.yml
Due: none

ci: pin coverage upload action to a commit sha
  .github/workflows/pr.yml
Due: none

docs(react-native-payments): fix Maestro output path and callback contract in roadmap
  packages/react-native-payments/roadmap.md
Due: yarn prettier --write

docs(react-native-payments): clean up TODO ledger, extract roadmap.md (#481)
  packages/react-native-payments/llms.txt
  packages/react-native-payments/readme.md
  packages/react-native-payments/roadmap.md
Due: yarn prettier --write

chore: ignore local agent working directories
  .gitignore
Due: none

build(react-native-payments): drop node10 from the supported matrix
  AGENTS.md
  package.json
  packages/react-native-payments/package.json
  packages/shared/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: scope each coverage upload to its explicit report file
  .github/workflows/pr.yml
Due: none

chore: release v2.12.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

ci(react-native-payments): pin smoke actions and drop token persistence
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

docs: add codecov flag badges to package readmes
  packages/fast-style/readme.md
  packages/nestjs-rxjs-lock/readme.md
  packages/nestjs-rxjs-logger/readme.md
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-typed-config/readme.md
  packages/nestjs-webpack-swc/readme.md
  packages/object-field-tree/readme.md
  packages/platform/readme.md
  packages/redux-loadable/readme.md
  packages/rxjs-errors/readme.md
  packages/shared/readme.md
  packages/wdio/readme.md
Due: yarn prettier --write

build: raise supported node floor to 22
  .github/workflows/pr.yml
  .nvmrc
  package.json
  packages/decorators-core/package.json
  packages/eslint-plugin/package.json
  packages/fast-style/package.json
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/package.json
  packages/log-decorator/package.json
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments-example/apps/bare/package.json
  packages/react-native-payments-example/apps/expo/package.json
  packages/react-native-payments-example/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
Due: yarn sort-package-json

docs(react-native-payments): align api reference with source contracts
  packages/react-native-payments/docs/api/events-types.md
  packages/react-native-payments/docs/api/payment-complete-enum.md
  packages/react-native-payments/docs/api/payment-details-update.md
  packages/react-native-payments/docs/api/payment-request-update-event.md
  packages/react-native-payments/docs/api/payment-request.md
  packages/react-native-payments/docs/api/payment-response-address.md
  packages/react-native-payments/docs/api/payment-response.md
  packages/react-native-payments/docs/api/payments-error-enum.md
  packages/react-native-payments/docs/api/payments-error.md
  packages/react-native-payments/docs/guides/migrate-from-upstream.md
  packages/react-native-payments/docs/guides/retry.md
  packages/react-native-payments/docs/guides/testing.md
  packages/react-native-payments/docs/guides/troubleshooting.md
  packages/react-native-payments/llms-full.txt
  packages/react-native-payments/llms.txt
  packages/react-native-payments/readme.md
Due: yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
  yarn sort-package-json: any of: package.json
