Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
    'package.json': ['yarn sort-package-json']
}

chore: release v0.75.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: release v0.75.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(nestjs-enterprise): improved HistogramMetric memory usage
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(nestjs-enterprise): improved HistogramMetric memory usage
  packages/nestjs-enterprise/package.json
Due: yarn sort-package-json

feat(nestjs-enterprise): improved HistogramMetric memory usage
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprise): improved HistogramMetric memory usage
  packages/nestjs-enterprise/jest.config.js
Due: none

feat(nestjs-enterprise): improved HistogramMetric memory usage (#239)
  packages/nestjs-enterprise/jest.config.js
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

chore: release v0.76.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

Fix lint issues
  packages/react-native-payments/src/@standard/ios/enum/ios-pk-contact-field.enum.ts
  packages/react-native-payments/src/@standard/ios/request/ios-payment-data-request.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/interface/generic-payment-method-data-data.interface.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-lock): patch redlock to fix quorum error
  .yarn/cache/redlock-npm-5.0.0-beta.2-e67212c5e7-c1df94fb22.zip
  .yarn/cache/redlock-npm-5.0.0-beta2-4d0e335fe9-0e515e3afc.zip
  .yarn/cache/redlock-patch-3181596ddf-98aed82b1d.zip
  .yarn/patches/redlock-npm-5.0.0-beta2-4d0e335fe9.patch
  packages/nestjs-rxjs-lock/package.json
  yarn.lock
Due: yarn sort-package-json

feat(nestjs-nestjs-enterprice): added lock decorators
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/readme.md
  packages/nestjs-enterprise/src/decorator/lock/lock-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/service/lockable.service.ts
  packages/nestjs-enterprise/src/decorator/lock/util/is-promise.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/run-pre-lock.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/validate-redlock.util.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/index.ts
  packages/nestjs-enterprise/src/type/pre-decorator-function.type.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(nestjs-nestjs-enterprice): added lock decorators
  packages/nestjs-enterprise/package.json
  yarn.lock
Due: yarn sort-package-json

docs: fixed npm badge
  README.md
Due: yarn prettier --write

Extract createPaymentRequest to new file
  packages/react-native-payments-example/src/app/app.tsx
  packages/react-native-payments-example/src/createPaymentRequest.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed ci
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/util/is-promise.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed ci
  packages/nestjs-enterprise/src/decorator/lock/util/is-promise.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat(shared): added isPromise type guard
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/generic/is-promise/is-promise.md
  packages/shared/src/type-guard/generic/is-promise/is-promise.spec.ts
  packages/shared/src/type-guard/generic/is-promise/is-promise.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprice): added lock decorators (#243)
  README.md
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/readme.md
  packages/nestjs-enterprise/src/decorator/lock/lock-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/service/lockable.service.ts
  packages/nestjs-enterprise/src/decorator/lock/util/is-promise.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/run-pre-lock.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/validate-redlock.util.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/index.ts
  packages/nestjs-enterprise/src/type/pre-decorator-function.type.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(shared): added isPromise type guard (#245)
  packages/nestjs-enterprise/readme.md
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/generic/is-promise/is-promise.md
  packages/shared/src/type-guard/generic/is-promise/is-promise.spec.ts
  packages/shared/src/type-guard/generic/is-promise/is-promise.ts
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-payments): android cardInfo parsing
  packages/react-native-payments/src/@standard/android/response/android-assurance-details-specifications.ts
  packages/react-native-payments/src/@standard/android/response/android-card-info.ts
  packages/react-native-payments/src/@standard/android/response/android-payment-method-token.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

revert: removed awesome lib
  packages/awesome-lib/android/build.gradle
  packages/awesome-lib/android/gradle.properties
  packages/awesome-lib/android/src/main/AndroidManifest.xml
  packages/awesome-lib/android/src/main/AndroidManifestNew.xml
  packages/awesome-lib/android/src/main/java/com/awesomelib/AwesomeLibModule.kt
  packages/awesome-lib/android/src/main/java/com/awesomelib/AwesomeLibPackage.kt
  packages/awesome-lib/android/src/newarch/AwesomeLibSpec.kt
  packages/awesome-lib/android/src/oldarch/AwesomeLibSpec.kt
  packages/awesome-lib/ios/AwesomeLib.h
  packages/awesome-lib/ios/AwesomeLib.mm
  packages/awesome-lib/package.json
  packages/awesome-lib/react-native-awesome-lib.podspec
  packages/awesome-lib/react-native.config.js
  packages/awesome-lib/src/NativeAwesomeLib.ts
  packages/awesome-lib/src/index.tsx
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

revert: removed awesome lib
  yarn.lock
Due: none

chore: release v0.77.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

Remove nil check in contactFieldFromString bc it is handled higher up
  packages/react-native-payments/ios/Payments.mm
Due: none

Update createPaymentRequest to kebab-case
  packages/react-native-payments-example/src/app/app.tsx
  packages/react-native-payments-example/src/create-payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

Rename methods and inline getRequestedBillingFields
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

Update podfile
  packages/react-native-payments-example/ios/Podfile.lock
Due: none

Update example to use switches for options
  packages/react-native-payments-example/src/app/app.tsx
  packages/react-native-payments-example/src/create-payment-request.ts
  packages/react-native-payments-example/src/method-data/android-payment-method-data.ts
  packages/react-native-payments-example/src/method-data/ios-payment-method-data.ts
  packages/react-native-payments-example/src/request-options-form.tsx
  packages/react-native-payments-example/src/switch-row.tsx
Due: yarn eslint --fix, yarn prettier --write

adds plugins to expo
  packages/react-native-payments/package.json
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/plugins/with-apple-pay.ts
  packages/react-native-payments/src/plugins/with-google-pay.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

adds default project plugin
  packages/react-native-payments/app.plugin.js
  packages/react-native-payments/package.json
  packages/react-native-payments/plugins/with-apple-pay.js
  packages/react-native-payments/plugins/with-google-pay.js
  packages/react-native-payments/plugins/with-payments.js
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/index.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(nestjs-enterprise): added catchErrorFn to lock decorators
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprise): added catchErrorFn to lock decorators
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprise): added catchErrorFn to lock decorators
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(nestjs-enterprise): added catchErrorFn to lock decorators (#247)
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
Due: yarn eslint --fix, yarn prettier --write
