Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
    'package.json': ['yarn sort-package-json']
}

feat(react-native-payments): support multiple Apple Pay merchant identifiers
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/expo-plugins/plugin.props.ts
  packages/react-native-payments/src/expo-plugins/with-apple-pay.spec.ts
  packages/react-native-payments/src/expo-plugins/with-apple-pay.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(react-native-payments): use shared guards and document empty merchantIdentifier
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/expo-plugins/with-apple-pay.spec.ts
  packages/react-native-payments/src/expo-plugins/with-apple-pay.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: upgrade pull request pipeline and add code scanning
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/codeql.yml
  .github/workflows/pr.yml
  .github/workflows/pull-request.yaml
Due: none

ci: rely on code scanning default setup instead of advanced config
  .github/workflows/codeql.yml
Due: none

fix(react-native-payments): support Google Pay totalPriceStatus, checkoutOption and zero totals
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/android/mapping/android-payment-method-data-data.interface.ts
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/util/validate-android-transaction-info.util.ts
  packages/react-native-payments/src/util/validate-total.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.3.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(deps): fold in nx 22.7.8, brace-expansion 1.1.18 and axios 1.19.0 resolution
  .yarn/cache/@emnapi-core-npm-1.4.5-ec124a1813-412322102d.zip
  .yarn/cache/@emnapi-runtime-npm-1.4.5-3b801be1ae-1d6f406ff1.zip
  .yarn/cache/@emnapi-wasi-threads-npm-1.0.4-ac6c94b37b-86688f4160.zip
  .yarn/cache/@yarnpkg-parsers-npm-3.0.2-c5e3ccc563-87506f140d.zip
  .yarn/cache/balanced-match-npm-4.0.3-493541582f-e9e2177f1e.zip
  .yarn/cache/brace-expansion-npm-1.1.11-fb95eb05ad-faf34a7bb0.zip
  .yarn/cache/brace-expansion-npm-1.1.18-2759b99171-b55a3c0323.zip
  .yarn/cache/brace-expansion-npm-2.0.1-17aa2616f9-a61e7cd2e8.zip
  .yarn/cache/brace-expansion-npm-2.1.4-10c755b3d0-11e18dc397.zip
  .yarn/cache/brace-expansion-npm-5.0.2-9598014784-18d382c091.zip
  .yarn/cache/brace-expansion-npm-5.0.8-08bf144160-75d2d2ebc8.zip
  .yarn/cache/dotenv-npm-16.4.7-29680c94f8-f13bfe97db.zip
  .yarn/cache/ejs-npm-5.0.1-c53f589096-72b0476020.zip
  .yarn/cache/end-of-stream-npm-1.4.5-8e646acd73-1e0cfa6e7f.zip
  .yarn/cache/front-matter-npm-4.0.2-e1cc0efa69-8897a831a8.zip
  .yarn/cache/minimatch-npm-10.2.5-f1c8297822-19e87a931a.zip
  .yarn/cache/node-machine-id-npm-1.1.12-ad6d29fa15-46bf3d4fab.zip
  .yarn/cache/nx-npm-22.5.1-67d388003d-da7dae083a.zip
  .yarn/cache/nx-npm-22.7.8-0c90919415-f83a6aeb38.zip
  .yarn/cache/smol-toml-npm-1.6.1-17dfda1d34-9a0d86cc7f.zip
  .yarn/cache/tmp-npm-0.2.3-ac2a701365-7b13696787.zip
  .yarn/cache/tmp-npm-0.2.7-a6fd3441a0-0a3bc90beb.zip
  package.json
  yarn.lock
Due: yarn sort-package-json

fix(react-native-payments-example): resolve bare native paths to root node_modules
  packages/react-native-payments-example/apps/bare/android/app/build.gradle
  packages/react-native-payments-example/apps/bare/android/settings.gradle
  packages/react-native-payments-example/apps/bare/ios/Podfile.lock
  packages/react-native-payments-example/apps/bare/ios/ReactNativePaymentsExample.xcodeproj/project.pbxproj
Due: none

feat(react-native-payments): add w3c change events with addEventListener and updateWith
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/jest.config.js
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/w3c/payment-details-base.ts
  packages/react-native-payments/src/@standard/w3c/payment-details-update.ts
  packages/react-native-payments/src/@standard/w3c/payment-shipping-option.ts
  packages/react-native-payments/src/class/change-event-dispatcher/change-event-dispatcher.md
  packages/react-native-payments/src/class/change-event-dispatcher/change-event-dispatcher.spec.ts
  packages/react-native-payments/src/class/change-event-dispatcher/change-event-dispatcher.ts
  packages/react-native-payments/src/class/native-payments/native-payments.ts
  packages/react-native-payments/src/class/payment-method-change-event/payment-method-change-event.md
  packages/react-native-payments/src/class/payment-method-change-event/payment-method-change-event.spec.ts
  packages/react-native-payments/src/class/payment-method-change-event/payment-method-change-event.ts
  packages/react-native-payments/src/class/payment-request-update-event/payment-request-update-event.md
  packages/react-native-payments/src/class/payment-request-update-event/payment-request-update-event.spec.ts
  packages/react-native-payments/src/class/payment-request-update-event/payment-request-update-event.ts
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/constant/change-event-timeout-ms.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/interface/native-payment-details-update.interface.ts
  packages/react-native-payments/src/interface/native-payments-change-events.interface.ts
  packages/react-native-payments/src/interface/payment-request-event-payload.interface.ts
  packages/react-native-payments/src/interface/payment-request-event-registration.interface.ts
  packages/react-native-payments/src/type/payment-method-change-event-listener.type.ts
  packages/react-native-payments/src/type/payment-request-event-listener.type.ts
  packages/react-native-payments/src/type/payment-request-event.type.ts
  packages/react-native-payments/src/type/payment-request-update-handler.type.ts
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.md
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.spec.ts
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.util.ts
  packages/react-native-payments/src/util/validate-details-update.util.ts
  packages/react-native-payments/src/util/warn-change-event-error.util.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): close the request on every terminal path of the payment sheet
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.md
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-payments): deliver payment change events from PassKit without hanging the sheet
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/android/src/oldarch/PaymentsSpec.java
  packages/react-native-payments/ios/Payments.h
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/NativePayments.ts
  packages/react-native-payments/src/class/native-payments/native-payments.spec.ts
  packages/react-native-payments/src/class/native-payments/native-payments.ts
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.md
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-payments-example): add e2e-ready demo screens with observable event log
  packages/react-native-payments-example/AGENTS.md
  packages/react-native-payments-example/readme.md
  packages/react-native-payments-example/src/component/app.tsx
  packages/react-native-payments-example/src/component/demo-actions.tsx
  packages/react-native-payments-example/src/component/demo-status.tsx
  packages/react-native-payments-example/src/component/event-log-view.tsx
  packages/react-native-payments-example/src/component/request-builder-form.tsx
  packages/react-native-payments-example/src/component/request-options-form.tsx
  packages/react-native-payments-example/src/component/switch-row.tsx
  packages/react-native-payments-example/src/component/text-input-row.tsx
  packages/react-native-payments-example/src/constant/async-update-latency-ms.ts
  packages/react-native-payments-example/src/constant/default-request-options.ts
  packages/react-native-payments-example/src/constant/demo-currency.ts
  packages/react-native-payments-example/src/constant/demo-style.ts
  packages/react-native-payments-example/src/constant/shipping-surcharge-value.ts
  packages/react-native-payments-example/src/hook/use-event-log.ts
  packages/react-native-payments-example/src/hook/use-payment-demo.ts
  packages/react-native-payments-example/src/hook/use-request-options.ts
  packages/react-native-payments-example/src/interface/event-log-entry.interface.ts
  packages/react-native-payments-example/src/interface/event-log.interface.ts
  packages/react-native-payments-example/src/interface/payment-demo.interface.ts
  packages/react-native-payments-example/src/interface/request-options-state.interface.ts
  packages/react-native-payments-example/src/interface/request-options.interface.ts
  packages/react-native-payments-example/src/payment/abort-payment-request.ts
  packages/react-native-payments-example/src/payment/answer-change-event.ts
  packages/react-native-payments-example/src/payment/attach-change-listeners.ts
  packages/react-native-payments-example/src/payment/check-can-make-payment.ts
  packages/react-native-payments-example/src/payment/complete-payment-response.ts
  packages/react-native-payments-example/src/payment/create-change-event-listener.ts
  packages/react-native-payments-example/src/payment/create-demo-request.ts
  packages/react-native-payments-example/src/payment/create-payment-request.ts
  packages/react-native-payments-example/src/payment/get-change-event-summary.ts
  packages/react-native-payments-example/src/payment/get-details-update.ts
  packages/react-native-payments-example/src/payment/get-payment-details.ts
  packages/react-native-payments-example/src/payment/get-updated-total-value.ts
  packages/react-native-payments-example/src/payment/payment-details.ts
  packages/react-native-payments-example/src/payment/show-payment-request.ts
  packages/react-native-payments-example/src/type/request-option-toggle.type.ts
  packages/react-native-payments-example/src/util/format-log-message.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): keep every change event answer bound to the handler it belongs to
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/change-event-dispatcher/change-event-dispatcher.spec.ts
  packages/react-native-payments/src/class/change-event-dispatcher/change-event-dispatcher.ts
  packages/react-native-payments/src/class/native-payments/native-payments.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/class/payment-response/payment-response.spec.ts
  packages/react-native-payments/src/interface/native-payment-details-update.interface.ts
  packages/react-native-payments/src/interface/payment-request-event-payload.interface.ts
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.md
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments-example): answer change events with the request's own configuration
  packages/react-native-payments-example/AGENTS.md
  packages/react-native-payments-example/readme.md
  packages/react-native-payments-example/src/constant/default-shipping-option-id.ts
  packages/react-native-payments-example/src/constant/demo-shipping-options.ts
  packages/react-native-payments-example/src/constant/zero-amount-value.ts
  packages/react-native-payments-example/src/hook/use-payment-demo.ts
  packages/react-native-payments-example/src/payment/answer-change-event.ts
  packages/react-native-payments-example/src/payment/create-change-event-listener.ts
  packages/react-native-payments-example/src/payment/get-details-update.ts
  packages/react-native-payments-example/src/payment/get-payment-details.ts
  packages/react-native-payments-example/src/payment/get-shipping-options.ts
  packages/react-native-payments-example/src/payment/get-updated-total-value.ts
  packages/react-native-payments-example/src/util/create-flow-state-guard.ts
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-payments): render shipping options with their label and amount on iOS
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/ios/response/ios-pk-shipping-method.ts
  packages/react-native-payments/src/@standard/w3c/payment-shipping-option.ts
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.md
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-payments): surface field level payment sheet errors through PKPaymentErrorDomain
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/react-native-payments.podspec
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/w3c/payment-details-update.ts
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/enum/payment-address-field.enum.ts
  packages/react-native-payments/src/enum/payment-contact-field.enum.ts
  packages/react-native-payments/src/enum/payment-update-error-type.enum.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/interface/native-payment-details-update.interface.ts
  packages/react-native-payments/src/type/payment-details-update-error.type.ts
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.md
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-payments): let the Apple Pay sheet open with a prefilled coupon code
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/ios/mapping/ios-payment-method-data-data.interface.ts
  packages/react-native-payments/src/@standard/ios/request/ios-payment-data-request.ts
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.md
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): keep the billing country code and the contact names
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/@standard/ios/response/ios-pk-payment.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): confine every iOS 15 PassKit symbol to an availability guard
  packages/react-native-payments/ios/Payments.mm
Due: none

fix(react-native-payments): resolve Bancontact, Dankort and Mir from the PassKit constants
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/enum/supported-networks.enum.ts
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-payments): show a pending amount on the Apple Pay sheet
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/util/get-native-payments-event-emitter/get-native-payments-event-emitter.md
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): validate the shipping options of the request and of every update
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/util/validate-details-update.util.ts
  packages/react-native-payments/src/util/validate-shipping-options.util.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.3.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/decorators-core/CHANGELOG.md
  packages/decorators-core/package.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/histogram-metric-decorator/CHANGELOG.md
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/CHANGELOG.md
  packages/lock-decorator/package.json
  packages/log-decorator/CHANGELOG.md
  packages/log-decorator/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

chore(react-native-payments): add maestro-e2e agent skill
  .agents/skills/maestro-e2e/LICENSE
  .agents/skills/maestro-e2e/README.md
  .agents/skills/maestro-e2e/SKILL.md
  .agents/skills/maestro-e2e/package.json
  .agents/skills/maestro-e2e/rules/advanced/conditions.md
  .agents/skills/maestro-e2e/rules/advanced/javascript.md
  .agents/skills/maestro-e2e/rules/advanced/nested-flows.md
  .agents/skills/maestro-e2e/rules/advanced/parameters.md
  .agents/skills/maestro-e2e/rules/advanced/repeat-retry.md
  .agents/skills/maestro-e2e/rules/advanced/waiting.md
  .agents/skills/maestro-e2e/rules/assertions.md
  .agents/skills/maestro-e2e/rules/best-practices.md
  .agents/skills/maestro-e2e/rules/ci-integration.md
  .agents/skills/maestro-e2e/rules/commands.md
  .agents/skills/maestro-e2e/rules/debugging.md
  .agents/skills/maestro-e2e/rules/installation.md
  .agents/skills/maestro-e2e/rules/interactions.md
  .agents/skills/maestro-e2e/rules/permissions.md
  .agents/skills/maestro-e2e/rules/platforms/android.md
  .agents/skills/maestro-e2e/rules/platforms/flutter.md
  .agents/skills/maestro-e2e/rules/platforms/ios.md
  .agents/skills/maestro-e2e/rules/platforms/react-native.md
  .agents/skills/maestro-e2e/rules/platforms/web.md
  .agents/skills/maestro-e2e/rules/rnw-community.md
  .agents/skills/maestro-e2e/rules/screenshots.md
  .agents/skills/maestro-e2e/rules/selectors.md
  .agents/skills/maestro-e2e/rules/test-structure.md
  .claude/skills/maestro-e2e
Due: yarn prettier --write, yarn sort-package-json

fix(react-native-payments): stop a listener-less show() from losing sheet ownership
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/android/src/oldarch/PaymentsSpec.java
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/NativePayments.ts
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): align show() test fixtures with its new request id argument
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): resolve the TurboModule proxy check with isDefined
  packages/react-native-payments/src/class/native-payments/native-payments.spec.ts
  packages/react-native-payments/src/class/native-payments/native-payments.ts
Due: yarn eslint --fix, yarn prettier --write

test(react-native-payments): close remaining branches, raise coverage to 100%
  packages/react-native-payments/jest.config.js
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.spec.ts
  packages/react-native-payments/src/util/validate-details-update.util.ts
  packages/react-native-payments/src/util/validate-display-items.util.ts
  packages/react-native-payments/src/util/validate-shipping-options.util.ts
  packages/react-native-payments/src/util/validate-total.util.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(react-native-payments): normalize new tests and drop redundant comments
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/class/payment-request/payment-request.spec.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/enum/supported-networks.enum.ts
Due: yarn eslint --fix, yarn prettier --write

test(react-native-payments): use hasAssertions in new payment-response specs
  packages/react-native-payments/src/class/payment-response/android-payment-response.spec.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(react-native-payments-example): add Maestro e2e suite for both app targets
  .gitignore
  packages/react-native-payments-example/e2e/flows/app_launch.yaml
  packages/react-native-payments-example/e2e/flows/async_update_toggle_state.yaml
  packages/react-native-payments-example/e2e/flows/can_make_payment_probe.yaml
  packages/react-native-payments-example/e2e/flows/dismiss_abort_reject_state.yaml
  packages/react-native-payments-example/e2e/flows/reset_new_request_state_transitions.yaml
  packages/react-native-payments-example/e2e/flows/sheet_opens_on_show.yaml
  packages/react-native-payments-example/e2e/flows/shipping_listener_wiring_disabled.yaml
  packages/react-native-payments-example/e2e/flows/shipping_listener_wiring_enabled.yaml
  packages/react-native-payments-example/e2e/readme.md
  packages/react-native-payments-example/e2e/subflows/launch_and_wait_for_probe.yaml
  packages/react-native-payments-example/e2e/subflows/show_request.yaml
  packages/react-native-payments-example/package.json
Due: yarn prettier --write, yarn sort-package-json

docs(react-native-payments): document every export and the v2 migration
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/readme.md
Due: yarn prettier --write

fix(react-native-payments-example): register maestro as a known e2e binary
  knip.json
  packages/react-native-payments-example/e2e/readme.md
Due: yarn prettier --write

fix(react-native-payments-example): align bare iOS AppDelegate with pinned RN 0.76
  packages/react-native-payments-example/apps/bare/ios/Podfile.lock
  packages/react-native-payments-example/apps/bare/ios/ReactNativePaymentsExample.xcodeproj/project.pbxproj
  packages/react-native-payments-example/apps/bare/ios/ReactNativePaymentsExample/AppDelegate.h
  packages/react-native-payments-example/apps/bare/ios/ReactNativePaymentsExample/AppDelegate.mm
  packages/react-native-payments-example/apps/bare/ios/ReactNativePaymentsExample/AppDelegate.swift
  packages/react-native-payments-example/apps/bare/ios/ReactNativePaymentsExample/main.m
Due: none

ci: add self-hosted maestro e2e workflows
  .github/actionlint.yaml
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

docs(react-native-payments): reference the specs behind the change-event entities
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/src/@standard/w3c/payment-shipping-option.ts
  packages/react-native-payments/src/class/payment-method-change-event/payment-method-change-event.md
  packages/react-native-payments/src/class/payment-method-change-event/payment-method-change-event.ts
  packages/react-native-payments/src/class/payment-request-update-event/payment-request-update-event.md
  packages/react-native-payments/src/class/payment-request-update-event/payment-request-update-event.ts
  packages/react-native-payments/src/interface/native-payment-details-update.interface.ts
  packages/react-native-payments/src/interface/payment-request-event-payload.interface.ts
  packages/react-native-payments/src/type/payment-request-event.type.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v2.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write, yarn sort-package-json
