Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

feat(wdio): limited RootedComponent to not accept plain wdio element, added extended component to support parent methods/getters (#97)
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-input-arg.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.41.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): added test for external file
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/component/get-exteded-component/mock/mock-component.selectors.ts
  packages/wdio/src/component/component/get-exteded-component/mock/mock-component.ts
  packages/wdio/src/component/component/get-exteded-component/mock/mock-parent-component.selectors.ts
  packages/wdio/src/component/component/get-exteded-component/mock/mock-parent-component.ts
  packages/wdio/src/component/component/index.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/type/component-with-selectors-ctor.type.ts
  packages/wdio/src/component/type/rooted-component-with-selectors-ctor.type.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed byIdx and Element as RootEl in constructor
  packages/wdio/src/command/by-index.command.ts
  packages/wdio/src/command/test-id-index.command.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-input-arg.type.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed byIdx and Element as RootEl in constructor
  packages/wdio/src/command/by-index.command.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed byIdx and Element as RootEl in constructor (#101)
  packages/wdio/src/command/by-index.command.ts
  packages/wdio/src/command/test-id-index.command.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-input-arg.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.41.1
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed $,$$ commands to work properly in nesting trees
  jest.config.js
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/rxjs-errors/package.json
  packages/wdio/.eslintrc.js
  packages/wdio/package.json
  packages/wdio/readme.md
  packages/wdio/src/command/el.command.ts
  packages/wdio/src/command/els.command.ts
  packages/wdio/src/command/index.ts
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-component.selectors.ts
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-component.ts
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-parent-component.selectors.ts
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-parent-component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/default$-component.config.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-component.selectors.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-parent-component.selectors.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-parent-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.42.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

test(wdio): improved coverage, fixed element by ref
  .eslintrc.js
  jest.config.js
  packages/wdio/jest.config.js
  packages/wdio/src/command/by-index-command/by-index.command.spec.ts
  packages/wdio/src/command/index.ts
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-component.ts
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-parent-component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/mocks/component-selectors.mock.ts
  packages/wdio/src/component/mocks/component.mock.ts
  packages/wdio/src/component/mocks/parent-component-selectors.mock.ts
  packages/wdio/src/component/mocks/parent-component.mock.ts
  packages/wdio/src/component/mocks/rooted-component-selectors.mock.ts
  packages/wdio/src/component/mocks/rooted-component.mock.ts
  packages/wdio/src/component/mocks/rooted-parent-component-selectors.mock.ts
  packages/wdio/src/component/mocks/rooted-parent-component.mock.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-component.selectors.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-parent-component.selectors.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-parent-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/index.ts
  packages/wdio/src/util/index.ts
  packages/wdio/src/util/wdio-element-chain-by-ref/wdio-element-chain-by-ref.util.ts
  packages/wdio/src/wdio.mock.ts
Due: yarn eslint --fix, yarn prettier --write

test(wdio): improved coverage, fixed element by ref
  packages/wdio/src/command/by-index-command/by-index.command.ts
  packages/wdio/src/command/by-index.command.ts
Due: yarn eslint --fix, yarn prettier --write

v0.42.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): added wdio.d.ts types
  packages/wdio/src/wdio.d.ts
  packages/wdio/src/wevdriverio.d.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): added wdio.d.ts types, testID by index return chain
  packages/wdio/src/command/test-id-index.command.ts
Due: yarn eslint --fix, yarn prettier --write

feat: added turbo
  .gitignore
  package.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/shared/package.json
  packages/wdio/package.json
  turbo.json
  yarn.lock
Due: none

v0.43.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

chore: fixed ci errors
  packages/fast-style/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/rxjs-errors/package.json
Due: none

chore: fixed ci errors
  packages/rxjs-errors/package.json
Due: none

chore: fixed ci errors
  package.json
Due: none

fix(wdio): added wdio.d.ts types, testID by index return chain (#103)
  CHANGELOG.md
  package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/redux-loadable/CHANGELOG.md
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  packages/wdio/src/command/test-id-index.command.ts
  packages/wdio/src/wdio.d.ts
  packages/wdio/src/wevdriverio.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.43.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

chore: removed old mocks
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-component.selectors.ts
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-component.ts
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-parent-component.selectors.ts
  packages/wdio/src/component/component/get-exteded-component/__mocks__/mock-parent-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-component.selectors.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-parent-component.selectors.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/__mocks__/mock-rooted-parent-component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.43.2
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed byIndex commands
  packages/wdio/src/command/by-index-command/by-index.command.spec.ts
  packages/wdio/src/command/by-index-command/by-index.command.ts
  packages/wdio/src/command/test-id-index.command.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed byIndex commands
  packages/wdio/src/command/by-index-command/by-index.command.spec.ts
  packages/wdio/src/command/by-index-command/by-index.command.ts
  packages/wdio/src/component/element.mock.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed byIndex commands
  packages/wdio/src/command/by-index.command.ts
  packages/wdio/src/command/index.ts
  packages/wdio/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed byIndex commands
  jest.config.js
Due: none

fix: fixed ts-prune
  .ts-prunerc.js
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod.config.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed byIndex commands (#104)
  .ts-prunerc.js
  jest.config.js
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-dev.config.ts
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-prod.config.ts
  packages/wdio/src/command/by-index-command/by-index.command.spec.ts
  packages/wdio/src/command/by-index-command/by-index.command.ts
  packages/wdio/src/command/by-index.command.ts
  packages/wdio/src/command/index.ts
  packages/wdio/src/command/test-id-index.command.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

v0.43.3
  CHANGELOG.md
  lerna.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): added missing element/component methods and todos
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/type/selector-object.type.ts
  packages/wdio/src/component/type/wdio-types.type.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-webpack-swc): closes #105
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

fix(nestjs-webpack-swc): closes #105 (#106)
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/readme.md
Due: yarn prettier --write

v0.43.4
  CHANGELOG.md
  lerna.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
Due: yarn prettier --write

fix(wdio): refactored library, added support to all wdio methods to selector elements
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/componnet.spec.ts
  packages/wdio/src/component/component/get-component/get-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/selector-element/selector-element.ts
  packages/wdio/src/component/type/component-with-selectors.type.ts
  packages/wdio/src/component/type/index.ts
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
  packages/wdio/src/component/type/selector-object.type.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): refactored library, added support to all wdio methods to selector elements
  packages/wdio/src/component/component/component.ts
Due: yarn eslint --fix, yarn prettier --write

chore(wdio): fixed ci issues
  packages/wdio/src/component/type/wdio-types.type.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added rooted component RootEl all proxied methods from wdio element
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/index.ts
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
  packages/wdio/src/component/type/wdio-types.type.ts
Due: yarn eslint --fix, yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
