Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

fix: add export getDefined from the package
  packages/shared/src/index.ts
  packages/shared/src/util/get-defined/get-defined.ts
Due: yarn eslint --fix, yarn prettier --write

fix: update global coverage
  jest.config.js
Due: none

v0.50.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix: remove unnecessary card-spec.ts from readme
  packages/wdio/readme.md
Due: yarn prettier --write

fix: remove not implemented spec
  packages/wdio/src/selector-element/selector-element.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix: add export getDefined from the package (#135)
  jest.config.js
  packages/shared/src/index.ts
  packages/shared/src/util/get-defined/get-defined.ts
Due: yarn eslint --fix, yarn prettier --write

ci: fixed yarn.lock git add/commit on deploy
  .travis.yml
Due: none

v0.51.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat: add getDefinedAsync
  packages/shared/readme.md
  packages/shared/src/util/get-defined-async/get-defined-async.spec.ts
  packages/shared/src/util/get-defined-async/get-defined-async.ts
Due: yarn eslint --fix, yarn prettier --write

fix: remove usage of Maybe
  packages/shared/src/util/get-defined-async/get-defined-async.ts
  packages/shared/src/util/get-defined/get-defined.ts
Due: yarn eslint --fix, yarn prettier --write

feat: add getDefinedAsync (#136)
  packages/shared/readme.md
  packages/shared/src/util/get-defined-async/get-defined-async.spec.ts
  packages/shared/src/util/get-defined-async/get-defined-async.ts
  packages/shared/src/util/get-defined/get-defined.ts
Due: yarn eslint --fix, yarn prettier --write

feat: added nestjs-rxjs-lock package
  .yarn/cache/@types-bluebird-npm-3.5.38-f885968f75-8d1b04261e.zip
  .yarn/cache/@types-ioredis-npm-4.28.10-4bdbe26a79-0f2788cf25.zip
  .yarn/cache/@types-redis-npm-2.8.32-a5b861da6a-2b12103e05.zip
  .yarn/cache/@types-redlock-npm-4.0.4-4c2e7a6000-dc43db8e84.zip
  .yarn/cache/bluebird-npm-3.7.2-6a54136ee3-869417503c.zip
  .yarn/cache/redlock-npm-4.2.0-a57e5cc3af-cd90b1d0a8.zip
  packages/nestjs-rxjs-lock/.eslintrc.js
  packages/nestjs-rxjs-lock/.gitignore
  packages/nestjs-rxjs-lock/babel.config.js
  packages/nestjs-rxjs-lock/jest.config.js
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-lock/readme.md
  packages/nestjs-rxjs-lock/src/index.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-module.options.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.spec.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock.module.ts
  packages/nestjs-rxjs-lock/tsconfig.build-cjs.json
  packages/nestjs-rxjs-lock/tsconfig.build-esm.json
  packages/nestjs-rxjs-lock/tsconfig.json
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-rxjs-redis/src/index.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat: added nestjs-rxjs-lock package (#137)
  .yarn/cache/@types-bluebird-npm-3.5.38-f885968f75-8d1b04261e.zip
  .yarn/cache/@types-ioredis-npm-4.28.10-4bdbe26a79-0f2788cf25.zip
  .yarn/cache/@types-redis-npm-2.8.32-a5b861da6a-2b12103e05.zip
  .yarn/cache/@types-redlock-npm-4.0.4-4c2e7a6000-dc43db8e84.zip
  .yarn/cache/bluebird-npm-3.7.2-6a54136ee3-869417503c.zip
  .yarn/cache/redlock-npm-4.2.0-a57e5cc3af-cd90b1d0a8.zip
  packages/nestjs-rxjs-lock/.eslintrc.js
  packages/nestjs-rxjs-lock/.gitignore
  packages/nestjs-rxjs-lock/babel.config.js
  packages/nestjs-rxjs-lock/jest.config.js
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-lock/readme.md
  packages/nestjs-rxjs-lock/src/index.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-module.options.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.spec.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock.module.ts
  packages/nestjs-rxjs-lock/tsconfig.build-cjs.json
  packages/nestjs-rxjs-lock/tsconfig.build-esm.json
  packages/nestjs-rxjs-lock/tsconfig.json
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-rxjs-redis/src/index.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.52.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(nestjs-rxjs-lock): fixed unlocking bug
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.spec.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-lock): fixed unlocking bug (#138)
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.spec.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.52.1
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
Due: yarn prettier --write

chore: updated main readme
  README.md
Due: yarn prettier --write

v0.52.2
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
Due: yarn prettier --write

chore: added version, and monthly downloads badges to packages
  packages/fast-style/readme.md
  packages/hoverable/readme.md
  packages/nestjs-rxjs-lock/readme.md
  packages/nestjs-rxjs-logger/readme.md
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-typed-config/readme.md
  packages/nestjs-webpack-swc/readme.md
  packages/object-field-tree/readme.md
  packages/platform/readme.md
  packages/redux-loadable/readme.md
  packages/rxjs-errors/readme.md
  packages/shared/readme.md
  packages/wdio/readme.md
Due: yarn prettier --write

chore: added version, and monthly downloads badges to packages
  README.md
Due: yarn prettier --write

v0.52.3
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(nestjs-rxjs-lock): removed error rewriting
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.spec.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.ts
Due: yarn eslint --fix, yarn prettier --write

chore: updated deps
  yarn.lock
Due: none

v0.52.4
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
Due: yarn prettier --write

fix(nestjs-rxjs-lock): fixed unhandled lock.unlock
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.ts
Due: yarn eslint --fix, yarn prettier --write

v0.52.5
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
Due: yarn prettier --write

fix(nestjs-rxjs-lock): fixed unhandled lock.unlock
  jest.config.js
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.spec.ts
Due: yarn eslint --fix, yarn prettier --write

v0.52.6
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
Due: yarn prettier --write

fix(nestjs-rxjs-lock): fixed unlock
  jest.config.js
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.spec.ts
  packages/nestjs-rxjs-lock/src/nestjs-rxjs-lock-service/nestjs-rxjs-lock.service.ts
Due: yarn eslint --fix, yarn prettier --write

v0.52.7
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
Due: yarn prettier --write

fix(nestjs-rxjs-redis): migrated to @nestjs-modules/ioredis
  .yarn/cache/@nestjs-modules-ioredis-npm-1.0.1-ff9cf68bdf-438a005b4b.zip
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-core.module.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.ts
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis.module.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write
