Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

v0.54.3
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

ci(react-native-payments): removed prepack script
  packages/react-native-payments/package.json
Due: none

chore: added general doc
  README.md
Due: yarn prettier --write

fix(react-native-payments): improved example, and its code
  packages/react-native-payments-example/index.js
  packages/react-native-payments-example/src/App.tsx
  packages/react-native-payments-example/src/app/app.tsx
  packages/react-native-payments-example/src/method-data/android-payment-method-data.ts
  packages/react-native-payments-example/src/method-data/ios-payment-method-data.ts
  packages/react-native-payments-example/src/payment-details.ts
  packages/react-native-payments/package.json
  packages/react-native-payments/readme.md
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): improved example, and its code
  packages/react-native-payments-example/src/app/app.tsx
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-payments): added the docs
  packages/react-native-payments/readme.md
Due: yarn prettier --write

docs(react-native-payments): added the docs
  yarn.lock
Due: none

v0.54.4
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write

fix(react-native-payments): fixed wrong import
  .travis.yml
  packages/react-native-payments-example/package.json
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): fixed wrong import
  yarn.lock
Due: none

v0.54.5
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write

docs(react-native-payments): updated todo [no-ci]
  packages/react-native-payments/readme.md
Due: yarn prettier --write

fix: fixed android response parsing
  packages/react-native-payments/android/src/main/java/com/payments/PaymentsModule.java
  packages/react-native-payments/package.json
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/android/response/android-intermediate-signing-key.ts
  packages/react-native-payments/src/@standard/android/response/android-payment-data-token.ts
  packages/react-native-payments/src/@standard/android/response/android-payment-method-token.ts
  packages/react-native-payments/src/@standard/android/response/android-payment-method-tokenization-data.ts
  packages/react-native-payments/src/@standard/android/response/android-raw-payment-method-token.ts
  packages/react-native-payments/src/@standard/android/response/android-signed-key.ts
  packages/react-native-payments/src/@standard/android/response/android-signed-message.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

fix: fixed android response parsing
  packages/react-native-payments/src/@standard/android/response/android-intermediate-signing-key.ts
  packages/react-native-payments/src/@standard/android/response/android-raw-intermediate-signing-key.ts
  packages/react-native-payments/src/@standard/android/response/android-raw-payment-method-token.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

chore: updated yarn.lock
  yarn.lock
Due: none

v0.54.6
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write

fix(react-native-payments): ios native fixes
  packages/react-native-payments/ios/Payments.h
  packages/react-native-payments/ios/Payments.mm
Due: none

fix(react-native-payments): ios native fixes, updated android docs
  packages/react-native-payments/readme.md
  yarn.lock
Due: yarn prettier --write

v0.54.7
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write

fix(react-native-payments): ios example works on real device
  packages/react-native-payments-example/ios/ReactNativePaymentsExample/Info.plist
Due: none

fix(react-native-payments): fixed android missing intermediateSigningKey
  packages/react-native-payments-example/src/app/app.tsx
  packages/react-native-payments/src/@standard/android/response/android-intermediate-signing-key.ts
  packages/react-native-payments/src/@standard/android/response/android-payment-method-token.ts
  packages/react-native-payments/src/@standard/android/response/android-signed-key.ts
  packages/react-native-payments/src/@standard/android/response/android-signed-message.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): change PaymentResponse details field to have Apple/Android tokens
  packages/react-native-payments-example/src/app/app.tsx
  packages/react-native-payments/src/@standard/ios/response/ios-pk-token.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
  packages/react-native-payments/src/class/payment-response/payment-response.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/interface/payment-response-details.interface.ts
Due: yarn eslint --fix, yarn prettier --write

docs(react-native-payments): updated PaymentResponse docs
  packages/react-native-payments/readme.md
Due: yarn prettier --write

ci: using node 18
  .travis.yml
Due: none

v0.54.8
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write

fix(react-native-payments): fixed ios token and paymentData parsing
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/ios/response/ios-payment-data-header.ts
  packages/react-native-payments/src/@standard/ios/response/ios-payment-data.ts
  packages/react-native-payments/src/@standard/ios/response/ios-pk-payment.ts
  packages/react-native-payments/src/@standard/ios/response/ios-pk-token.ts
  packages/react-native-payments/src/@standard/ios/response/ios-raw-pk-token.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
  packages/react-native-payments/src/interface/payment-response-details.interface.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): fixed ios token and paymentData parsing
  packages/react-native-payments/src/@standard/ios/response/ios-raw-pk-token.ts
Due: yarn eslint --fix, yarn prettier --write

v0.54.9
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write

fix(react-native-payments): fixed ios token and paymentData parsing
  packages/react-native-payments-example/src/payment-details.ts
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/@standard/ios/enum/ios-pk-payment-method-type.enum.ts
  packages/react-native-payments/src/@standard/ios/response/ios-pk-contact.ts
  packages/react-native-payments/src/@standard/ios/response/ios-pk-token.ts
  packages/react-native-payments/src/@standard/ios/response/ios-raw-pk-token.ts
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): fixed ios token and paymentData parsing
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/@standard/ios/response/ios-ns-person-name-components.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): fixed ios token and paymentData parsing
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

v0.54.10
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write

fix(react-native-payments): supportedMethods must be a string(according to W3C)
  packages/react-native-payments/src/@standard/android/mapping/android-payment-method-data-data.interface.ts
  packages/react-native-payments/src/@standard/android/mapping/android-payment-method-data.interface.ts
  packages/react-native-payments/src/@standard/ios/mapping/ios-payment-method-data.interface.ts
  packages/react-native-payments/src/@standard/w3c/payment-details-modifier.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/util/validate-payment-methods.util.ts
Due: yarn eslint --fix, yarn prettier --write

fix(react-native-payments): methodData now accepts additional options based on platform instead of the details
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/android/mapping/android-payment-method-data-data.interface.ts
  packages/react-native-payments/src/@standard/w3c/payment-details-init.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/index.ts
  packages/react-native-payments/src/interface/generic-payment-method-data-data.interface.ts
  packages/react-native-payments/src/interface/payment-details.interface.ts
  packages/react-native-payments/src/interface/payment-response-details.interface.ts
Due: yarn eslint --fix, yarn prettier --write
