Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

v0.46.4
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): getExtendedComponent predefined default root selector from the selectors enum
  packages/wdio/src/rooted-component$/get-extended-rooted-component$/get-extended-rooted-component$.spec.ts
  packages/wdio/src/rooted-component$/get-extended-rooted-component$/get-extended-rooted-component$.ts
  packages/wdio/src/rooted-component$/get-rooted-component$/get-rooted-component$.spec.ts
  packages/wdio/src/rooted-component$/get-rooted-component$/get-rooted-component$.ts
  packages/wdio/src/rooted-component$/mocks/default-root-rooted-component$.mock.ts
  packages/wdio/src/rooted-component$/mocks/default-root-rooted-extended-component$.mock.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/rooted-component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/rooted-component/mocks/default-root-rooted-component.mock.ts
  packages/wdio/src/rooted-component/mocks/default-root-rooted-extended-component.mock.ts
  packages/wdio/src/rooted-component/rooted-component.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/type/rooted-component-with-selectors-ctor.type.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): getExtendedComponent predefined default root selector from the selectors enum (#120)
  packages/wdio/src/rooted-component$/get-extended-rooted-component$/get-extended-rooted-component$.spec.ts
  packages/wdio/src/rooted-component$/get-extended-rooted-component$/get-extended-rooted-component$.ts
  packages/wdio/src/rooted-component$/get-rooted-component$/get-rooted-component$.spec.ts
  packages/wdio/src/rooted-component$/get-rooted-component$/get-rooted-component$.ts
  packages/wdio/src/rooted-component$/mocks/default-root-rooted-component$.mock.ts
  packages/wdio/src/rooted-component$/mocks/default-root-rooted-extended-component$.mock.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/rooted-component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/rooted-component/mocks/default-root-rooted-component.mock.ts
  packages/wdio/src/rooted-component/mocks/default-root-rooted-extended-component.mock.ts
  packages/wdio/src/rooted-component/rooted-component.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/type/rooted-component-with-selectors-ctor.type.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): disable Promise as root element in RootedComponent
  package.json
  packages/wdio/src/element.mock.ts
  packages/wdio/src/rooted-component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/rooted-component/rooted-component.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/type/component-input-arg.type.ts
Due: yarn eslint --fix, yarn prettier --write

chore: fixed deps
  yarn.lock
Due: none

v0.47.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix: fixed deploy script
  .travis.yml
  package.json
Due: none

fix: fixed deploy script
  .travis.yml
Due: none

fix: fixed deploy script
  package.json
Due: none

feat(wdio): disabled using Promise as RootedComponent RootEl (#121)
  .travis.yml
  package.json
  packages/wdio/src/element.mock.ts
  packages/wdio/src/rooted-component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/rooted-component/rooted-component.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/type/component-input-arg.type.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added getComponentFromEls
  packages/wdio/src/component/component.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added getComponentFromEls
  packages/wdio/src/component/component.ts
  packages/wdio/src/component/componnet.spec.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added getComponentFromEls (#123)
  packages/wdio/src/component/component.ts
  packages/wdio/src/component/componnet.spec.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.48.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): rooted component getting selector element by index
  packages/wdio/src/rooted-component/rooted-component.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): rooted component getting selector element by index (#124)
  packages/wdio/src/rooted-component/rooted-component.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.48.1
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(nestjs-rxjs-metrics): fixed types
  packages/nestjs-rxjs-metrics/src/index.ts
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-metrics): fixed types (#125)
  packages/nestjs-rxjs-metrics/src/index.ts
  packages/nestjs-webpack-swc/src/hmr/handle-nestjs-webpack-hmr.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.48.2
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
Due: yarn prettier --write

feat(wdio): migrated to V8, and opted out wdio globals
  .yarn/cache/@jest-expect-utils-npm-29.4.3-def2a06e61-2bbed39ff2.zip
  .yarn/cache/@jest-schemas-npm-29.4.3-7d963e8d97-ac754e245c.zip
  .yarn/cache/@jest-types-npm-29.4.3-f3f0c81675-1756f4149d.zip
  .yarn/cache/@sinclair-typebox-npm-0.25.24-d04d0f45ef-10219c58f4.zip
  .yarn/cache/@wdio-globals-npm-8.5.1-af06b01a52-a18c0cfc39.zip
  .yarn/cache/diff-sequences-npm-29.4.3-ffe403944f-28b265e04f.zip
  .yarn/cache/expect-npm-29.4.3-67542f5c2e-ff9dd8c50c.zip
  .yarn/cache/expect-webdriverio-npm-4.1.2-fa4e0e3228-bb6442e9da.zip
  .yarn/cache/jest-diff-npm-29.4.3-f3f08b5301-877fd1edff.zip
  .yarn/cache/jest-get-type-npm-29.4.3-790eefdb01-6ac7f2dde1.zip
  .yarn/cache/jest-matcher-utils-npm-29.4.3-7eb485178a-9e13cbe42d.zip
  .yarn/cache/jest-message-util-npm-29.4.3-3f53a7f582-64f06b9550.zip
  .yarn/cache/jest-util-npm-29.4.3-01b6a9e18c-606b3e6077.zip
  .yarn/cache/pretty-format-npm-29.4.3-60ccbcd0dd-3258b9a010.zip
Due: none

feat(wdio): migrated to V8, and opted out wdio globals
  packages/wdio/tsconfig.build-cjs.json
  packages/wdio/tsconfig.build-esm.json
Due: none

v0.49.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

chore: updated packages
  yarn.lock
Due: none

chore: upgraded ts, fixed enums
  packages/nestjs-typed-config/.eslintrc.js
  packages/nestjs-typed-config/src/nest-js-typed-config.service.spec.ts
Due: yarn eslint --fix, yarn prettier --write

chore: upgraded ts, fixed enums
  .eslintrc.js
  packages/nestjs-rxjs-metrics/.eslintrc.js
  packages/nestjs-rxjs-metrics/src/nestjs-rxjs-metrics-service/nestjs-rxjs-metrics.service.spec.ts
  packages/nestjs-rxjs-redis/.eslintrc.js
  packages/nestjs-rxjs-redis/src/nestjs-rxjs-redis-service/nestjs-rxjs-redis.service.spec.ts
  packages/wdio/src/component/componnet.spec.ts
  packages/wdio/src/interface/web-test-id-props.interface.ts
  packages/wdio/src/type/component-with-selectors-ctor.type.ts
  packages/wdio/src/type/component.type.ts
  packages/wdio/src/type/rooted-component-with-selectors-ctor.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.49.1
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): updated d.ts type files, bumped versions
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
  packages/wdio/src/wdio.d.ts
  packages/wdio/src/wevdriverio.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat(platform)!: remove setTestId in favor of wdio version
  packages/platform/src/index.ts
  packages/platform/src/set-test-id/set-test-id.ts
Due: yarn eslint --fix, yarn prettier --write

feat(platform)!: remove setTestId in favor of wdio version (#130)
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/platform/src/index.ts
  packages/platform/src/set-test-id/set-test-id.ts
  packages/rxjs-errors/package.json
  packages/wdio/package.json
  packages/wdio/src/wdio.d.ts
  packages/wdio/src/wevdriverio.d.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.49.2
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat: update readme, add usage and recommendations
  packages/wdio/readme.md
Due: yarn prettier --write

feat: update readme, add usage and recommendations (#131)
  packages/wdio/readme.md
Due: yarn prettier --write

feat: add getDefined util
  packages/shared/src/util/get-defined/get-defined.spec.ts
  packages/shared/src/util/get-defined/get-defined.ts
  packages/shared/src/util/get-defined/index.ts
Due: yarn eslint --fix, yarn prettier --write

feat: add getDefined readme
  packages/shared/readme.md
Due: yarn prettier --write

feat: add getDefined util (#133)
  packages/shared/readme.md
  packages/shared/src/util/get-defined/get-defined.spec.ts
  packages/shared/src/util/get-defined/get-defined.ts
  packages/shared/src/util/get-defined/index.ts
Due: yarn eslint --fix, yarn prettier --write
