Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn tslint --fix",
        "yarn prettier --write",
        "git add ."
    ],
    "*.{md, json}": [
        "yarn prettier",
        "git add ."
    ],
}

Init
  packages/object-field-tree/.npmignore
  packages/object-field-tree/package.json
  packages/object-field-tree/src/index.ts
  packages/object-field-tree/src/type/data-fn.type.ts
  packages/object-field-tree/src/type/index.ts
  packages/object-field-tree/src/type/return.type.ts
  packages/object-field-tree/tsconfig.json
  packages/react-native-fast-style/.gitignore
  packages/react-native-fast-style/package.json
  packages/react-native-fast-style/src/flex.ts
  packages/react-native-fast-style/src/font.ts
  packages/react-native-fast-style/src/index.ts
  packages/react-native-fast-style/tsconfig.json
Due: yarn tslint --fix, yarn prettier --write, git add .

Init
  lerna.json
  package.json
  packages/object-field-tree/src/index.ts
  packages/object-field-tree/src/type/index.ts
  packages/object-field-tree/tsconfig.json
  tsconfig.json
Due: yarn tslint --fix, yarn prettier --write, git add .

Init
  packages/object-field-tree/src/index.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

Init
  packages/object-field-tree/tslint.json
  tslint.json
Due: none

Init
  packages/object-field-tree/src/index.ts
  packages/react-native-fast-style/src/flex.ts
  tslint.json
Due: yarn tslint --fix, yarn prettier --write, git add .

Init
  package.json
  packages/object-field-tree/package.json
  packages/object-field-tree/src/index.spec.ts
  packages/object-field-tree/src/index.ts
  packages/object-field-tree/src/type/data-fn.type.ts
  packages/object-field-tree/src/type/return.type.ts
  packages/react-native-fast-style/package.json
  tslint.json
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.0.3
  lerna.json
  packages/react-native-fast-style/package.json
Due: none

Fixed ts generation
  packages/object-field-tree/package.json
  packages/react-native-fast-style/package.json
  tsconfig.json
  yarn.lock
Due: none

v0.0.4
  lerna.json
  packages/object-field-tree/package.json
  packages/react-native-fast-style/package.json
Due: none

Renamed packages
  packages/fast-style/.gitignore
  packages/fast-style/package.json
  packages/fast-style/readme.md
  packages/fast-style/src/enum/flex-align-items.enum.ts
  packages/fast-style/src/enum/flex-direction.enum.ts
  packages/fast-style/src/enum/flex-justify-content.enum.ts
  packages/fast-style/src/flex.ts
  packages/fast-style/src/font.ts
  packages/fast-style/src/index.ts
  packages/fast-style/tsconfig.json
  packages/fast-style/tslint.json
  packages/object-field-tree/package.json
  packages/react-native-fast-style/readme.md
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

Renamed packages
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none

v0.0.5
  lerna.json
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none

v0.0.6
  lerna.json
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none

Renamed packages
  packages/fast-style/package.json
  packages/fast-style/src/flex.ts
  packages/fast-style/src/font.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.0.7
  lerna.json
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none

Renamed packages
  packages/fast-style/readme.md
Due: git add ., yarn prettier

Integrating travis-ci
  .travis.yml
Due: none

- Added shared babel config - Fixed root jest run
  babel.config.js
  package.json
  packages/shared/babel.config.js
Due: none

- Added shared babel config - Fixed root jest run
  jest.config.js
Due: none

- Added shared babel config - Fixed root jest run
  jest.config.js
  package.json
  packages/object-field-tree/package.json
Due: none

- Added shared babel config - Fixed root jest run
  package.json
Due: none

- Added shared babel config - Fixed root jest run
  .jscpd.json
  package.json
Due: none

- Added shared babel config - Fixed root jest run
  packages/fast-style/.gitignore
  packages/fast-style/babel.config.js
  packages/fast-style/jest.config.js
  packages/object-field-tree/.gitignore
  packages/object-field-tree/babel.config.js
  packages/object-field-tree/jest.config.js
Due: none

- Added shared babel config - Fixed root jest run
  package.json
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none

Added Travis-CI badge
  README.md
Due: git add ., yarn prettier

Added Travis-CI badge
  .jscpd.json
Due: none

Test commitlint
  commitlint.config.js
  package.json
  yarn.lock
Due: none

Test commitlint
  .huskyrc
  package.json
Due: none

fix: fixed git hooks
  package.json
Due: none

fix: added codecov
  .travis.yml
  README.md
Due: git add ., yarn prettier

fix: added jest json code coverage
  .gitignore
  README.md
  jest.config.js
Due: git add ., yarn prettier

fix: added jest json code coverage
  jest.config.js
Due: none

fix: added codecov badge
  README.md
Due: git add ., yarn prettier

test: covered fast-style with tests
  packages/fast-style/src/flex.spec.ts
  packages/fast-style/src/font.spec.ts
  packages/fast-style/src/font.ts
  packages/object-field-tree/src/index.spec.ts
  packages/object-field-tree/src/type/enum.type.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

fix: version release error
  lerna.json
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none
