Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn tslint --fix",
        "yarn prettier --write",
        "git add ."
    ],
    "*.{md, json}": [
        "yarn prettier",
        "git add ."
    ],
}

fix: version release error
  lerna.json
  package.json
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none

v0.0.10
  lerna.json
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none

fix: version release error
  packages/object-field-tree/readme.md
Due: git add ., yarn prettier

v0.0.11
  lerna.json
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none

feat: updated docs and badges
  CONTRIBUTING.md
  README.md
Due: git add ., yarn prettier

feat: added font enum types
  packages/fast-style/src/font.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.0.12
  lerna.json
  packages/fast-style/package.json
  packages/object-field-tree/package.json
Due: none

feat: added font enum types
  .prettierrc
Due: none

feat: added hoverable and shared projects
  packages/hoverable/.gitignore
  packages/hoverable/babel.config.js
  packages/hoverable/jest.config.js
  packages/hoverable/package.json
  packages/hoverable/readme.md
  packages/hoverable/src/hover.props.ts
  packages/hoverable/src/index.ts
  packages/hoverable/src/with-hover.hoc.tsx
  packages/hoverable/tsconfig.json
  packages/hoverable/tslint.json
  packages/shared/.gitignore
  packages/shared/jest.config.js
  packages/shared/package.json
  packages/shared/readme.md
  packages/shared/src/cs.ts
  packages/shared/src/index.ts
  packages/shared/src/type/maybe.type.ts
  packages/shared/src/type/on-event-fn.type.ts
  packages/shared/tsconfig.json
  packages/shared/tslint.json
  tsconfig.json
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat: added hoverable and shared projects
  .jscpd.json
  packages/object-field-tree/src/index.spec.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.0.13
  lerna.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/object-field-tree/package.json
  packages/shared/package.json
Due: none

fix: fixed hoverable style type for text
  packages/hoverable/src/hover.props.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.0.14
  lerna.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/object-field-tree/package.json
  packages/shared/package.json
Due: none

fix: fixed typescript configs
  packages/fast-style/tsconfig.json
  packages/hoverable/tsconfig.json
  packages/object-field-tree/tsconfig.json
  packages/shared/tsconfig.json
  tsconfig.json
Due: none

fix: fixed withHover export
  packages/hoverable/src/index.ts
Due: yarn tslint --fix, yarn prettier --write, git add .

v0.0.15
  lerna.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/object-field-tree/package.json
  packages/shared/package.json
Due: none

fix: removed jsx from compiled sources
  tsconfig.json
Due: none

feat: added hoverable docs
  packages/hoverable/readme.md
Due: git add ., yarn prettier

v0.0.16
  lerna.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/object-field-tree/package.json
  packages/shared/package.json
Due: none

feat: added shared docs
  packages/shared/readme.md
  packages/shared/src/cs.ts
Due: yarn tslint --fix, yarn prettier --write, git add ., yarn prettier

feat: added shared docs
  packages/shared/readme.md
Due: git add ., yarn prettier

docs: added hoverable docs
  packages/hoverable/readme.md
Due: git add ., yarn prettier

feat: added deepscan to the project
  README.md
Due: git add ., yarn prettier

fix: hoverable deps
  packages/hoverable/package.json
Due: none

docs: added object-field-tree examples and description
  packages/object-field-tree/readme.md
  yarn.lock
Due: git add ., yarn prettier

docs: added object-field-tree examples and description
  packages/object-field-tree/readme.md
Due: git add ., yarn prettier

docs: added general doc structure
  README.md
Due: git add ., yarn prettier

test: cover most of logical cases of with-hover.hoc.tsx
  packages/hoverable/babel.config.js
  packages/hoverable/jest.config.js
  packages/hoverable/package.json
  packages/hoverable/src/with-hover.spec.tsx
  packages/hoverable/tsconfig.json
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add .

refactor: with hover HOC spec
  packages/hoverable/src/with-hover.spec.tsx
Due: yarn tslint --fix, yarn prettier --write, git add .

refactor: extract components and made index.ts just a file with exports
  packages/hoverable/src/component/hover-image.ts
  packages/hoverable/src/component/hover-scroll-view.ts
  packages/hoverable/src/component/hover-text.ts
  packages/hoverable/src/component/hover-touchable-highlight.ts
  packages/hoverable/src/component/hover-touchable-opacity.ts
  packages/hoverable/src/component/hover-touchable-without-feedback.ts
  packages/hoverable/src/component/hover-view.ts
  packages/hoverable/src/index.ts
  packages/hoverable/tsconfig.json
Due: yarn tslint --fix, yarn prettier --write, git add .

with-hover-hoc isHoverableReactElement func fix
  packages/hoverable/src/with-hover.hoc.tsx
Due: yarn tslint --fix, yarn prettier --write, git add .

fix: babel/jest configs
  jest.config.js
  packages/hoverable/babel.config.js
  packages/hoverable/package.json
  packages/shared/babel.config.js
  packages/shared/package.json
Due: none

fix: jest configs change
  jest.config.js
Due: none

fix: add codecov.yml
  codecov.yml
Due: none

fix: remove codecov.yml
  codecov.yml
Due: none

fix: with-hover-hoc utit tests & filter func additional fix
  packages/hoverable/src/with-hover.hoc.tsx
  packages/hoverable/src/with-hover.spec.tsx
  yarn.lock
Due: yarn tslint --fix, yarn prettier --write, git add .

fix: utit tests descriptions
  packages/hoverable/src/with-hover.spec.tsx
Due: yarn tslint --fix, yarn prettier --write, git add .

fix: functional fixes
  packages/hoverable/src/with-hover.hoc.tsx
  packages/hoverable/src/with-hover.spec.tsx
Due: yarn tslint --fix, yarn prettier --write, git add .
