Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

feat(wdio): refactored, added support to all wdio methods to selector elements (#108)
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/componnet.spec.ts
  packages/wdio/src/component/component/get-component/get-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/selector-element/selector-element.ts
  packages/wdio/src/component/type/component-with-selectors.type.ts
  packages/wdio/src/component/type/index.ts
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
  packages/wdio/src/component/type/selector-object.type.ts
  packages/wdio/src/component/type/wdio-types.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.44.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed RootedComponent new types
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed RootedComponent new types
  packages/wdio/readme.md
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed SelectorElement and RootedComponent wdio element proxy
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/selector-element/selector-element.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed RootedComponent new types (#109)
  packages/wdio/readme.md
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/selector-element/selector-element.ts
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.44.1
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

v0.44.2
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed returning Component/RootedComponent from async functions
  packages/wdio/readme.md
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/rooted-component/mocks/rooted-extended-component.mock.ts
  packages/wdio/src/rooted-component/rooted-component.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed returning Component/RootedComponent from async functions (#111)
  packages/wdio/readme.md
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/rooted-component/mocks/rooted-extended-component.mock.ts
  packages/wdio/src/rooted-component/rooted-component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.44.3
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): breaking change, no auto root element definition
  packages/wdio/readme.md
  packages/wdio/src/rooted-component/create$-rooted-component/create$-rooted-component.spec.ts
  packages/wdio/src/rooted-component/create$-rooted-component/create$-rooted-component.ts
  packages/wdio/src/rooted-component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/rooted-component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/rooted-component/get$-rooted-component/get$-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/rooted-component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/rooted-component/rooted-component.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/util/find-enum-root-selector.util.ts
  packages/wdio/src/util/index.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): breaking change, no auto root element definition
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): breaking change, no auto root element definition
  packages/wdio/src/type/rooted-component-with-selectors.type.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): breaking change, no auto root element definition (#114)
  packages/wdio/src/rooted-component/create$-rooted-component/create$-rooted-component.spec.ts
  packages/wdio/src/rooted-component/create$-rooted-component/create$-rooted-component.ts
  packages/wdio/src/rooted-component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/rooted-component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/rooted-component/get$-rooted-component/get$-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/rooted-component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/rooted-component/rooted-component.ts
  packages/wdio/src/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/type/rooted-component-with-selectors.type.ts
  packages/wdio/src/util/find-enum-root-selector.util.ts
  packages/wdio/src/util/index.ts
Due: yarn eslint --fix, yarn prettier --write

v0.45.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

ci: fixed travis
  .travis.yml
Due: none

ci: fixed yarn 2 scripts
  package.json
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/shared/package.json
  packages/wdio/package.json
Due: none

ci: fixed yarn 2 scripts
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/shared/package.json
  packages/wdio/package.json
Due: none

ci: fixed yarn 2 scripts
  .gitignore
  .travis.yml
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/shared/package.json
  packages/wdio/package.json
Due: none

v0.46.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed root el selector
  packages/wdio/src/rooted-component/rooted-component.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed root el selector
  yarn.lock
Due: none

fix(wdio): fixed root el selector (#118)
  packages/wdio/src/rooted-component/rooted-component.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.46.1
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix: fixed deps
  packages/object-field-tree/package.json
  yarn.lock
Due: none

fix: fixed deps
  yarn.lock
Due: none

v0.46.2
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
Due: yarn prettier --write

fix: fixed deps
  .yarnrc.yml
Due: none

fix(wdio): fixed RootedComponentWithSelectorsCtor type to have mandatory root selector
  packages/wdio/src/type/rooted-component-with-selectors-ctor.type.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed RootedComponentWithSelectorsCtor type to have mandatory root selector
  package.json
Due: none

v0.46.3
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

chore: release
  .yarn/cache/@wdio-protocols-npm-7.22.0-ea2961c6a5-5cc69f9003.zip
  packages/wdio/package.json
  yarn.lock
Due: none
