Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
}

fix(react-native-payments): methodData now accepts additional options based on platform instead of the details
  packages/react-native-payments-example/src/method-data/android-payment-method-data.ts
  packages/react-native-payments-example/src/method-data/ios-payment-method-data.ts
  packages/react-native-payments-example/src/payment-details.ts
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

chore: updated lock
  yarn.lock
Due: none

v0.54.11
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write

docs: added license files and badge
  README.md
  packages/fast-style/LICENSE.md
  packages/fast-style/readme.md
  packages/hoverable/LICENSE.md
  packages/hoverable/readme.md
  packages/nestjs-rxjs-lock/LICENSE.md
  packages/nestjs-rxjs-lock/readme.md
  packages/nestjs-rxjs-logger/LICENSE.md
  packages/nestjs-rxjs-logger/readme.md
  packages/nestjs-rxjs-metrics/LICENSE.md
  packages/nestjs-rxjs-metrics/readme.md
  packages/nestjs-rxjs-redis/LICENSE.md
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-typed-config/LICENSE.md
  packages/nestjs-typed-config/readme.md
  packages/nestjs-webpack-swc/LICENSE.md
  packages/nestjs-webpack-swc/readme.md
  packages/object-field-tree/LICENSE.md
  packages/object-field-tree/readme.md
  packages/platform/LICENSE.md
  packages/platform/readme.md
  packages/react-native-payments-example/LICENSE.md
  packages/react-native-payments/LICENSE.md
  packages/react-native-payments/readme.md
  packages/redux-loadable/LICENSE.md
  packages/redux-loadable/readme.md
  packages/rxjs-errors/LICENSE.md
  packages/rxjs-errors/readme.md
  packages/shared/LICENSE.md
  packages/shared/readme.md
  packages/wdio/LICENSE.md
  packages/wdio/readme.md
Due: yarn prettier --write

docs: fixed root doc license section
  README.md
Due: yarn prettier --write

docs: added help ukraine section
  README.md
Due: yarn prettier --write

chore: lock updates
  yarn.lock
Due: none

v0.54.12
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

add remaining supported iOS networks
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/enum/supported-networks.enum.ts
Due: yarn eslint --fix, yarn prettier --write

allow overriding android authMethods
  packages/react-native-payments/src/@standard/android/mapping/android-payment-method-data-data.interface.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

fix lint
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/enum/supported-networks.enum.ts
Due: yarn eslint --fix, yarn prettier --write

fix environment prop
  packages/react-native-payments/src/@standard/android/mapping/android-payment-method-data-data.interface.ts
  packages/react-native-payments/src/@standard/w3c/payment-details-init.ts
Due: yarn eslint --fix, yarn prettier --write

refactor allowedAuthMethods a bit
  packages/react-native-payments/src/@standard/android/mapping/android-payment-method-data-data.interface.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

move devDeps to deps
  packages/react-native-payments/package.json
  yarn.lock
Due: none

fix deps and publish package
  packages/react-native-payments/package.json
  yarn.lock
Due: none

revert package.json change
  packages/react-native-payments/package.json
Due: none

update environment prop handling
  packages/react-native-payments/src/@standard/android/mapping/android-payment-method-data-data.interface.ts
  packages/react-native-payments/src/@standard/w3c/payment-details-init.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: yarn eslint --fix, yarn prettier --write

export PaymentItem type
  packages/react-native-payments/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

resolve packages
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
  yarn.lock
Due: none

update android default data
  packages/react-native-payments-example/src/method-data/android-payment-method-data.ts
Due: yarn eslint --fix, yarn prettier --write

revert example project dependencies change
  packages/react-native-payments-example/package.json
Due: none

feat(react-native-payments): API improvements and TS fixes (#146)
  packages/react-native-payments-example/src/method-data/android-payment-method-data.ts
  packages/react-native-payments/package.json
  packages/react-native-payments/src/@standard/android/mapping/android-payment-method-data-data.interface.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/enum/supported-networks.enum.ts
  packages/react-native-payments/src/index.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

chore: fixed lock
  yarn.lock
Due: none

v0.55.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

return raw token
  packages/react-native-payments/src/@standard/android/response/android-payment-method-token.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

return unparsed token from gpay
  packages/react-native-payments/src/@standard/android/response/android-payment-method-token.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

revert unneeded changes
  packages/react-native-payments/package.json
  packages/react-native-payments/src/@standard/w3c/payment-details-init.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

revert change again
  yarn.lock
Due: none

(react-native-payments): return raw Google Pay token (#149)
  packages/react-native-payments/src/@standard/android/response/android-payment-method-token.ts
  packages/react-native-payments/src/class/payment-response/android-payment-response.ts
Due: yarn eslint --fix, yarn prettier --write

chore: lock fix
  yarn.lock
Due: none

v0.55.1
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: yarn prettier --write

feat: bumped nestjs deps, and local peers
  .yarn/cache/@lukeed-csprng-npm-1.1.0-d28ed78cc2-926f5f7fc6.zip
  .yarn/cache/@nestjs-common-npm-10.2.7-4f9e8359f5-b0a498eae3.zip
  .yarn/cache/@nestjs-common-npm-8.4.7-a5ece93b7b-b3fa20618d.zip
  .yarn/cache/@nestjs-config-npm-1.2.1-c0a5767a67-59684a609e.zip
  .yarn/cache/@nestjs-config-npm-3.1.1-2dc25e7349-95446dd126.zip
  .yarn/cache/axios-npm-0.27.2-dbe3a48aea-38cb754046.zip
  .yarn/cache/dotenv-expand-npm-10.0.0-fa5b032ad9-2a38b470ef.zip
  .yarn/cache/dotenv-expand-npm-5.1.0-c3fff50eb5-8017675b7f.zip
  .yarn/cache/dotenv-npm-16.0.0-ef4a5ccded-664cebb51f.zip
  .yarn/cache/dotenv-npm-16.3.1-e6d380a398-15d75e7279.zip
  .yarn/cache/tslib-npm-2.4.0-9cb6dc5030-8c4aa6a3c5.zip
  .yarn/cache/tslib-npm-2.6.2-4fc8c068d9-329ea56123.zip
  .yarn/cache/uid-npm-2.0.2-03d8a94e49-98aabddcd6.zip
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

feat: used yarn workspace protocol
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
  yarn.lock
Due: none

feat: used yarn workspace protocol
  packages/react-native-payments-example/package.json
  yarn.lock
Due: none

feat: bumped nestjs deps, move local deps to workspace protocol (#150)
  .yarn/cache/@lukeed-csprng-npm-1.1.0-d28ed78cc2-926f5f7fc6.zip
  .yarn/cache/@nestjs-common-npm-10.2.7-4f9e8359f5-b0a498eae3.zip
  .yarn/cache/@nestjs-common-npm-8.4.7-a5ece93b7b-b3fa20618d.zip
  .yarn/cache/@nestjs-config-npm-1.2.1-c0a5767a67-59684a609e.zip
  .yarn/cache/@nestjs-config-npm-3.1.1-2dc25e7349-95446dd126.zip
  .yarn/cache/axios-npm-0.27.2-dbe3a48aea-38cb754046.zip
  .yarn/cache/dotenv-expand-npm-10.0.0-fa5b032ad9-2a38b470ef.zip
  .yarn/cache/dotenv-expand-npm-5.1.0-c3fff50eb5-8017675b7f.zip
  .yarn/cache/dotenv-npm-16.0.0-ef4a5ccded-664cebb51f.zip
  .yarn/cache/dotenv-npm-16.3.1-e6d380a398-15d75e7279.zip
  .yarn/cache/tslib-npm-2.4.0-9cb6dc5030-8c4aa6a3c5.zip
  .yarn/cache/tslib-npm-2.6.2-4fc8c068d9-329ea56123.zip
  .yarn/cache/uid-npm-2.0.2-03d8a94e49-98aabddcd6.zip
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/readme.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

v0.56.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(shared): refactor docs, added isNumber, isPositiveNumber, isEmptyArray
  packages/react-native-payments/src/util/is-valid-decimal-monetary-value.util.ts
  packages/react-native-payments/src/util/validate-total.util.ts
  packages/shared/docs/type-guard/array.type-guard.md
  packages/shared/docs/type-guard/generic.type-guard.md
  packages/shared/docs/type-guard/number.type-guard.md
  packages/shared/docs/type-guard/string.type-guard.md
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
  packages/shared/src/type-guard/generic/is-defined/is-defined.spec.ts
  packages/shared/src/type-guard/generic/is-defined/is-defined.ts
  packages/shared/src/type-guard/generic/is-error/is-error.spec.ts
  packages/shared/src/type-guard/generic/is-error/is-error.ts
  packages/shared/src/type-guard/number/is-number/is-number.spec.ts
  packages/shared/src/type-guard/number/is-number/is-number.ts
  packages/shared/src/type-guard/number/is-positive-number/is-positive-number.spec.ts
  packages/shared/src/type-guard/number/is-positive-number/is-positive-number.ts
  packages/shared/src/type-guard/string/is-empty-string/is-empty-string.spec.ts
  packages/shared/src/type-guard/string/is-empty-string/is-empty-string.ts
  packages/shared/src/type-guard/string/is-not-empty-string/is-not-empty-string.spec.ts
  packages/shared/src/type-guard/string/is-not-empty-string/is-not-empty-string.ts
  packages/shared/src/type-guard/string/is-string/is-string.spec.ts
  packages/shared/src/type-guard/string/is-string/is-string.ts
  packages/shared/src/util/get-defined-async/get-defined-async.ts
  packages/shared/src/util/get-defined/get-defined.ts
  packages/shared/src/util/get-error-message/get-error-message.ts
Due: yarn eslint --fix, yarn prettier --write

chore: decreased jest coverage threshold
  jest.config.js
Due: none

feat(shared): refactored docs, added isNumber, isPositiveNumber, isEmptyArray (#151)
  jest.config.js
  packages/react-native-payments/src/util/is-valid-decimal-monetary-value.util.ts
  packages/react-native-payments/src/util/validate-total.util.ts
  packages/shared/docs/type-guard/array.type-guard.md
  packages/shared/docs/type-guard/generic.type-guard.md
  packages/shared/docs/type-guard/number.type-guard.md
  packages/shared/docs/type-guard/string.type-guard.md
  packages/shared/readme.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
  packages/shared/src/type-guard/generic/is-defined/is-defined.spec.ts
  packages/shared/src/type-guard/generic/is-defined/is-defined.ts
  packages/shared/src/type-guard/generic/is-error/is-error.spec.ts
  packages/shared/src/type-guard/generic/is-error/is-error.ts
  packages/shared/src/type-guard/number/is-number/is-number.spec.ts
  packages/shared/src/type-guard/number/is-number/is-number.ts
  packages/shared/src/type-guard/number/is-positive-number/is-positive-number.spec.ts
  packages/shared/src/type-guard/number/is-positive-number/is-positive-number.ts
  packages/shared/src/type-guard/string/is-empty-string/is-empty-string.spec.ts
  packages/shared/src/type-guard/string/is-empty-string/is-empty-string.ts
  packages/shared/src/type-guard/string/is-not-empty-string/is-not-empty-string.spec.ts
  packages/shared/src/type-guard/string/is-not-empty-string/is-not-empty-string.ts
  packages/shared/src/type-guard/string/is-string/is-string.spec.ts
  packages/shared/src/type-guard/string/is-string/is-string.ts
  packages/shared/src/util/get-defined-async/get-defined-async.ts
  packages/shared/src/util/get-defined/get-defined.ts
  packages/shared/src/util/get-error-message/get-error-message.ts
Due: yarn eslint --fix, yarn prettier --write

v0.57.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write
