Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

.lintstagedrc:

{
    "packages/**/*.{ts,tsx}": [
        "yarn eslint --fix",
        "yarn prettier --write"
    ],
    "*.{md, json}": [
        "yarn prettier --write"
    ],
    'package.json': ['yarn sort-package-json']
}

feat: yarn bump
  .yarn/releases/yarn-4.10.3.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  package.json
Due: yarn sort-package-json

feat: turbo bump
  .yarn/cache/turbo-npm-2.5.5-8b364ceb83-edbaf7f88a.zip
  .yarn/cache/turbo-npm-2.5.8-c43622d739-0cc7f0b8af.zip
  package.json
  yarn.lock
Due: yarn sort-package-json

fix: review
  eslint.config.mjs
Due: none

fix: review
  .yarn/cache/codeclimate-types-npm-0.3.1-005b959021-abadc51fff.zip
  .yarn/cache/eslint-formatter-codeclimate-npm-1.0.2-2bd19a182a-0ca0e66827.zip
  .yarn/cache/eslint-formatter-gitlab-npm-6.0.1-6f18a4eddf-869fdaa6c5.zip
  .yarn/cache/eslint-plugin-react-native-globals-npm-0.1.2-1a654c3f21-ab91e8ecbb.zip
  .yarn/cache/eslint-plugin-react-native-npm-5.0.0-1ffd0ab339-41e84d806b.zip
  package.json
  yarn.lock
Due: yarn sort-package-json

feat(eslint-plugin): added recommended config, added meta
  packages/eslint-plugin/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

feat(eslint-plugin): added recommended config, added meta
  .yarn/cache/@types-eslint-npm-8.56.12-3bfdf2144c-bd998b5d3f.zip
  .yarn/cache/@types-eslint-npm-9.6.1-31a8cf74e4-719fcd2557.zip
  package.json
  packages/eslint-plugin/package.json
  yarn.lock
Due: yarn sort-package-json

docs(eslint-plugin): update docs, added flat config
  packages/eslint-plugin/readme.md
  packages/eslint-plugin/src/index.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v1.7.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

ci: npm OIDC
  .github/workflows/release.yml
Due: none

ci: npm OIDC
  .github/workflows/pull-request.yaml
  .github/workflows/release.yml
Due: none

chore: release v1.7.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

chore: github sponsorship
  FUNDING.yml
Due: none

chore: release v1.8.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write, yarn sort-package-json

fix(eslint-plugin): fix export config
  packages/eslint-plugin/package.json
Due: yarn sort-package-json

chore: release v1.8.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: yarn prettier --write, yarn sort-package-json

feat(shared): support readonly arrays in array type guards
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
  packages/shared/src/type/is-not-empty-array-type/is-not-empty-array.type.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(shared): extract ReadonlyIsNotEmptyArray to separate file
  CLAUDE.md
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
  packages/shared/src/type/is-not-empty-array-type/is-not-empty-array.type.ts
  packages/shared/src/type/readonly-is-not-empty-array-type/readonly-is-not-empty-array.type.ts
Due: yarn eslint --fix, yarn prettier --write

docs(shared): update array type guard docs for readonly support
  packages/shared/src/type-guard/array/is-array/is-array.md
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.md
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.md
  packages/shared/src/type/readonly-is-not-empty-array-type/readonly-is-not-empty-array.type.md
Due: yarn prettier --write

docs(shared): add ReadonlyIsNotEmptyArray to readme
  packages/shared/readme.md
Due: yarn prettier --write

chore: adde skills
  .agents/skills/brainstorming/SKILL.md
  .agents/skills/find-skills/SKILL.md
  .claude/skills/brainstorming
  .claude/skills/find-skills
Due: yarn prettier --write

chore: added skills
  .agents/skills/turborepo/SKILL.md
  .agents/skills/turborepo/command/turborepo.md
  .agents/skills/turborepo/references/best-practices/RULE.md
  .agents/skills/turborepo/references/best-practices/dependencies.md
  .agents/skills/turborepo/references/best-practices/packages.md
  .agents/skills/turborepo/references/best-practices/structure.md
  .agents/skills/turborepo/references/boundaries/RULE.md
  .agents/skills/turborepo/references/caching/RULE.md
  .agents/skills/turborepo/references/caching/gotchas.md
  .agents/skills/turborepo/references/caching/remote-cache.md
  .agents/skills/turborepo/references/ci/RULE.md
  .agents/skills/turborepo/references/ci/github-actions.md
  .agents/skills/turborepo/references/ci/patterns.md
  .agents/skills/turborepo/references/ci/vercel.md
  .agents/skills/turborepo/references/cli/RULE.md
  .agents/skills/turborepo/references/cli/commands.md
  .agents/skills/turborepo/references/configuration/RULE.md
  .agents/skills/turborepo/references/configuration/global-options.md
  .agents/skills/turborepo/references/configuration/gotchas.md
  .agents/skills/turborepo/references/configuration/tasks.md
  .agents/skills/turborepo/references/environment/RULE.md
  .agents/skills/turborepo/references/environment/gotchas.md
  .agents/skills/turborepo/references/environment/modes.md
  .agents/skills/turborepo/references/filtering/RULE.md
  .agents/skills/turborepo/references/filtering/patterns.md
  .agents/skills/turborepo/references/watch/RULE.md
  .claude/skills/turborepo
Due: yarn prettier --write

feat(shared): use overloads to preserve array mutability in type guards
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: yarn eslint --fix, yarn prettier --write

chore: release v1.9.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

feat(nestjs-enterprise): add DI-based lock decorator factories
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/readme.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.md
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.md
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.ts
  packages/nestjs-enterprise/src/decorator/lock/interface/lock-handle.interface.ts
  packages/nestjs-enterprise/src/decorator/lock/interface/lock-service.interface.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.md
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/service/lockable.service.ts
  packages/nestjs-enterprise/src/decorator/lock/util/execute-lock-observable.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/execute-lock-promise.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/get-lock-service.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/get-method-name.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/get-redlock-service.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/inject-lock-service.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/validate-redlock.util.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/index.ts
  packages/shared/src/index.ts
  packages/shared/src/type/abstract-constructor-type/abstract-constructor.type.ts
  packages/shared/src/type/method-decorator-type/method-decorator.type.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

feat(shared): add AnyFn type and use across nestjs-enterprise decorators
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/type/method-decorator.type.ts
  packages/react-native-payments-example-expo/package.json
  packages/shared/src/index.ts
  packages/shared/src/type/any-fn-type/any-fn.type.ts
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

fix(nestjs-enterprise): address self-review findings
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.spec.ts
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.ts
  packages/nestjs-enterprise/src/decorator/lock/interface/lock-handle.interface.ts
  packages/nestjs-enterprise/src/decorator/lock/util/get-lock-service.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/get-redlock-service.util.ts
  packages/nestjs-enterprise/src/decorator/lock/util/run-pre-lock.util.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/type/error-log-function.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/post-log-function.type.ts
  packages/nestjs-enterprise/src/index.ts
  packages/nestjs-enterprise/src/type/pre-decorator-function.type.ts
  packages/shared/readme.md
Due: yarn eslint --fix, yarn prettier --write, yarn sort-package-json

refactor(nestjs-enterprise): convert LockPromise to async/await
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
Due: yarn eslint --fix, yarn prettier --write

chore(nestjs-enterprise): trigger ci
  packages/nestjs-enterprise/src/decorator/lock/create-promise-lock-decorators/create-promise-lock-decorators.md
Due: yarn prettier --write

docs(nestjs-enterprise): normalize doc headers
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/src/decorator/lock/create-observable-lock-decorators/create-observable-lock-decorators.md
Due: yarn prettier --write, yarn sort-package-json

docs(shared): add md files for AnyFn, AbstractConstructor, MethodDecoratorType
  .knip.json
  packages/nestjs-enterprise/package.json
  packages/shared/readme.md
  packages/shared/src/type/abstract-constructor-type/abstract-constructor.type.md
  packages/shared/src/type/any-fn-type/any-fn.type.md
  packages/shared/src/type/method-decorator-type/method-decorator.type.md
Due: yarn prettier --write, yarn sort-package-json
