Repository rnw-community/rnw-community: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed constructor types to accept ChainablePromiseElement (#86)
  CHANGELOG.md
  packages/fast-style/CHANGELOG.md
  packages/hoverable/CHANGELOG.md
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/object-field-tree/CHANGELOG.md
  packages/platform/CHANGELOG.md
  packages/redux-loadable/CHANGELOG.md
  packages/rxjs-errors/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/wdio/CHANGELOG.md
  packages/wdio/src/component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/get-component/get-component.ts
  packages/wdio/src/component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-input-arg.type.ts
  packages/wdio/src/component/type/index.ts
Due: yarn eslint --fix, yarn prettier --write

v0.36.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): added custom selectors functions config and helpers
  packages/wdio/src/command/by-index.command.ts
  packages/wdio/src/command/index.ts
  packages/wdio/src/command/test-id.command.ts
  packages/wdio/src/command/test-ids.command.ts
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/componnet.spec.ts
  packages/wdio/src/component/component/create$-component/create$-component.spec.ts
  packages/wdio/src/component/component/create$-component/create$-component.ts
  packages/wdio/src/component/component/create-component/create-component.spec.ts
  packages/wdio/src/component/component/create-component/create-component.ts
  packages/wdio/src/component/component/get$-component/get$-component.spec.ts
  packages/wdio/src/component/component/get$-component/get$-component.ts
  packages/wdio/src/component/component/get-component/get-component.spec.ts
  packages/wdio/src/component/component/get-component/get-component.ts
  packages/wdio/src/component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/rooted-component/create$-rooted-component/create$-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/create$-rooted-component/create$-rooted-component.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/type/component-config-arg.type.ts
  packages/wdio/src/component/type/component-with-selectors-ctor.type.ts
  packages/wdio/src/component/type/index.ts
  packages/wdio/src/type/el-selector-fn.type.ts
  packages/wdio/src/type/els-index-selector-fn.type.ts
  packages/wdio/src/type/els-selector-fn.type.ts
  packages/wdio/src/type/index.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): added custom selectors functions config and helpers
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/componnet.spec.ts
  packages/wdio/src/component/component/create$-component/create$-component.spec.ts
  packages/wdio/src/component/component/create-component/create-component.spec.ts
  packages/wdio/src/component/component/get$-component/get$-component.spec.ts
  packages/wdio/src/component/component/get$-component/get$-component.ts
  packages/wdio/src/component/component/get-component/get-component.spec.ts
  packages/wdio/src/component/component/get-component/get-component.ts
  packages/wdio/src/component/default$-component.config.ts
  packages/wdio/src/component/default-component.config.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/create$-rooted-component/create$-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-config-arg.type.ts
  packages/wdio/src/component/type/component.type.ts
  packages/wdio/src/component/type/index.ts
  packages/wdio/src/component/type/rooted-component-with-selectors-ctor.type.ts
  packages/wdio/src/component/util/create-component-with-selectors-proxy.util.ts
  packages/wdio/src/component/util/index.ts
  packages/wdio/src/component/util/proxy-call.util.ts
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): refactored enum, added wdio ChainablePromise support
  packages/fast-style/package.json
  packages/fast-style/src/font/font.ts
  packages/object-field-tree/package.json
  packages/object-field-tree/src/index.ts
  packages/object-field-tree/src/type/data-fn.type.ts
  packages/object-field-tree/src/type/return.type.ts
  packages/shared/src/index.ts
  packages/shared/src/type/enum.type.ts
  packages/wdio/package.json
  packages/wdio/src/command/test-id-index.command.ts
  packages/wdio/src/command/test-id.command.ts
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/componnet.spec.ts
  packages/wdio/src/component/component/create$-component/create$-component.ts
  packages/wdio/src/component/component/create-component/create-component.ts
  packages/wdio/src/component/component/get-component/get-component.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/create$-rooted-component/create$-rooted-component.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/util/create-component-with-selectors-proxy.util.ts
  packages/wdio/src/component/util/find-enum-root-selector.util.ts
  packages/wdio/src/component/util/proxy-call.util.ts
  packages/wdio/src/type/enum.type.ts
  packages/wdio/src/type/index.ts
Due: yarn eslint --fix, yarn prettier --write

v0.37.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): refactored enum, added wdio ChainablePromise support
  packages/object-field-tree/package.json
  packages/wdio/package.json
Due: none

chore(wdio): fixed review
  packages/wdio/src/command/test-id-index.command.ts
  packages/wdio/src/component/component/get-component/get-component.ts
Due: yarn eslint --fix, yarn prettier --write

chore(wdio): fixed review
  packages/wdio/src/command/by-index.command.ts
  packages/wdio/src/command/test-id-index.command.ts
  packages/wdio/src/command/test-id.command.ts
  packages/wdio/src/command/test-ids.command.ts
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/type/el-selector-fn.type.ts
  packages/wdio/src/type/els-index-selector-fn.type.ts
  packages/wdio/src/type/els-selector-fn.type.ts
Due: yarn eslint --fix, yarn prettier --write

chore(wdio): added getExtendedComponent
  packages/fast-style/package.json
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/componnet.spec.ts
  packages/wdio/src/component/component/get-component/get-component.spec.ts
  packages/wdio/src/component/component/get-component/get-component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-with-selectors-ctor.type.ts
  packages/wdio/src/component/type/component-with-selectors.type.ts
  packages/wdio/src/component/type/component.type.ts
  packages/wdio/src/component/type/rooted-component-with-selectors-ctor.type.ts
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
  packages/wdio/src/component/type/selector-methods.type.ts
  packages/wdio/src/component/util/create-component-with-selectors-proxy.util.ts
  packages/wdio/src/component/util/index.ts
  packages/wdio/src/component/util/proxy-call.util.ts
Due: yarn eslint --fix, yarn prettier --write

v0.38.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

refactor(wdio): refactored enum selector fields logic
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/create$-component/create$-component.ts
  packages/wdio/src/component/component/create-component/create-component.ts
  packages/wdio/src/component/component/get-component/get-component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/rooted-component/create$-rooted-component/create$-rooted-component.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/type/component-with-selectors-ctor.type.ts
  packages/wdio/src/component/type/component-with-selectors.type.ts
  packages/wdio/src/component/type/index.ts
  packages/wdio/src/component/type/rooted-component-with-selectors-ctor.type.ts
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
  packages/wdio/src/component/type/selector-methods.type.ts
  packages/wdio/src/component/util/find-enum-root-selector.util.ts
Due: yarn eslint --fix, yarn prettier --write

refactor(wdio): refactored enum selector fields logic
  packages/fast-style/package.json
  packages/object-field-tree/package.json
  packages/wdio/package.json
Due: none

refactor(wdio): refactored enum selector fields logic (#90)
  CHANGELOG.md
  packages/fast-style/CHANGELOG.md
  packages/hoverable/CHANGELOG.md
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/object-field-tree/CHANGELOG.md
  packages/platform/CHANGELOG.md
  packages/redux-loadable/CHANGELOG.md
  packages/rxjs-errors/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/wdio/CHANGELOG.md
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/create$-component/create$-component.ts
  packages/wdio/src/component/component/create-component/create-component.ts
  packages/wdio/src/component/component/get-component/get-component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/rooted-component/create$-rooted-component/create$-rooted-component.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/type/component-with-selectors-ctor.type.ts
  packages/wdio/src/component/type/component-with-selectors.type.ts
  packages/wdio/src/component/type/index.ts
  packages/wdio/src/component/type/rooted-component-with-selectors-ctor.type.ts
  packages/wdio/src/component/type/rooted-component-with-selectors.type.ts
  packages/wdio/src/component/type/selector-methods.type.ts
  packages/wdio/src/component/util/find-enum-root-selector.util.ts
Due: yarn eslint --fix, yarn prettier --write

v0.38.1
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed SelectorObject types to support ChainablePromiseElement/Array
  packages/wdio/src/component/component/index.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/rooted-component/index.ts
  packages/wdio/src/component/type/selector-object.type.ts
Due: yarn eslint --fix, yarn prettier --write

fix(nestjs-rxjs-logger): removed warn$
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed SelectorObject types to support ChainablePromiseElement/Array (#91)
  CHANGELOG.md
  packages/fast-style/CHANGELOG.md
  packages/hoverable/CHANGELOG.md
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/src/nestjs-rxjs-logger-service/nestjs-rxjs-logger.service.ts
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/object-field-tree/CHANGELOG.md
  packages/platform/CHANGELOG.md
  packages/redux-loadable/CHANGELOG.md
  packages/rxjs-errors/CHANGELOG.md
  packages/shared/CHANGELOG.md
  packages/wdio/CHANGELOG.md
  packages/wdio/src/component/component/index.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/rooted-component/index.ts
  packages/wdio/src/component/type/selector-object.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.38.2
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): added esm/cjs build config
  packages/hoverable/tsconfig.build.json
  packages/nestjs-rxjs-logger/tsconfig.build.json
  packages/nestjs-rxjs-metrics/tsconfig.build.json
  packages/nestjs-rxjs-redis/tsconfig.build.json
  packages/nestjs-typed-config/tsconfig.build.json
  packages/nestjs-webpack-swc/tsconfig.build.json
  packages/object-field-tree/tsconfig.build.json
  packages/platform/tsconfig.build.json
  packages/redux-loadable/tsconfig.build.json
  packages/rxjs-errors/tsconfig.build.json
  packages/shared/tsconfig.build.json
  packages/wdio/build.js
  packages/wdio/package.json
  packages/wdio/src/capability/index.ts
  packages/wdio/src/command/index.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/rooted-component/index.ts
  packages/wdio/src/index.ts
  packages/wdio/src/interface/index.ts
  packages/wdio/src/selector/index.ts
  packages/wdio/tsconfig.build-cjs.json
  packages/wdio/tsconfig.build-esm.json
  tsconfig.build-cjs.json
  tsconfig.build-esm.json
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): added esm/cjs build config
  README.md
Due: yarn prettier --write

fix(wdio): added esm/cjs build config (#92)
  packages/hoverable/tsconfig.build.json
  packages/nestjs-rxjs-logger/tsconfig.build.json
  packages/nestjs-rxjs-metrics/tsconfig.build.json
  packages/nestjs-rxjs-redis/tsconfig.build.json
  packages/nestjs-typed-config/tsconfig.build.json
  packages/nestjs-webpack-swc/tsconfig.build.json
  packages/object-field-tree/tsconfig.build.json
  packages/platform/tsconfig.build.json
  packages/redux-loadable/tsconfig.build.json
  packages/rxjs-errors/tsconfig.build.json
  packages/shared/tsconfig.build.json
  packages/wdio/build.js
  packages/wdio/package.json
  packages/wdio/src/capability/index.ts
  packages/wdio/src/command/index.ts
  packages/wdio/src/component/index.ts
  packages/wdio/src/component/rooted-component/index.ts
  packages/wdio/src/index.ts
  packages/wdio/src/interface/index.ts
  packages/wdio/src/selector/index.ts
  packages/wdio/tsconfig.build-cjs.json
  packages/wdio/tsconfig.build-esm.json
  tsconfig.build-cjs.json
  tsconfig.build-esm.json
Due: yarn eslint --fix, yarn prettier --write

v0.38.3
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat: added esm/cjs build config
  README.md
  packages/fast-style/package.json
  packages/fast-style/tsconfig.build-cjs.json
  packages/fast-style/tsconfig.build-esm.json
  packages/hoverable/package.json
  packages/hoverable/tsconfig.build-cjs.json
  packages/hoverable/tsconfig.build-esm.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-logger/tsconfig.build-cjs.json
  packages/nestjs-rxjs-logger/tsconfig.build-esm.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-metrics/tsconfig.build-cjs.json
  packages/nestjs-rxjs-metrics/tsconfig.build-esm.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-rxjs-redis/tsconfig.build-cjs.json
  packages/nestjs-rxjs-redis/tsconfig.build-esm.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-typed-config/tsconfig.build-cjs.json
  packages/nestjs-typed-config/tsconfig.build-esm.json
  packages/nestjs-webpack-swc/package.json
  packages/nestjs-webpack-swc/tsconfig.build-cjs.json
  packages/nestjs-webpack-swc/tsconfig.build-esm.json
  packages/object-field-tree/package.json
  packages/object-field-tree/tsconfig.build-cjs.json
  packages/object-field-tree/tsconfig.build-esm.json
  packages/platform/package.json
  packages/platform/tsconfig.build-cjs.json
  packages/platform/tsconfig.build-esm.json
  packages/redux-loadable/package.json
  packages/redux-loadable/tsconfig.build-cjs.json
  packages/redux-loadable/tsconfig.build-esm.json
  packages/rxjs-errors/package.json
  packages/rxjs-errors/tsconfig.build-cjs.json
  packages/rxjs-errors/tsconfig.build-esm.json
  packages/shared/package.json
  packages/shared/tsconfig.build-cjs.json
  packages/shared/tsconfig.build-esm.json
  packages/wdio/package.json
  yarn.lock
Due: yarn prettier --write

feat(wdio): normalizes component extension and parents
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/get$-component/get$-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/component/util/find-enum-root-selector.util.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

feat(wdio): normalizes component extension and parents (#94)
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/get$-component/get$-component.spec.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/component/util/find-enum-root-selector.util.ts
  yarn.lock
Due: yarn eslint --fix, yarn prettier --write

v0.39.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed addWdioCommands usage without $,$$
  packages/wdio/src/component/component/get$-component/get$-component.ts
  packages/wdio/src/component/component/get-component/get-component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/default$-component.config.ts
  packages/wdio/src/component/default-component.config.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed addWdioCommands usage without $,$$
  packages/wdio/src/component/element.mock.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed addWdioCommands usage without $,$$ (#95)
  packages/wdio/src/component/component/get$-component/get$-component.ts
  packages/wdio/src/component/component/get-component/get-component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.ts
  packages/wdio/src/component/default$-component.config.ts
  packages/wdio/src/component/default-component.config.ts
  packages/wdio/src/component/element.mock.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-extended-rooted-component/get-extended-rooted-component.ts
  packages/wdio/src/component/rooted-component/get-rooted-component/get-rooted-component.ts
Due: yarn eslint --fix, yarn prettier --write

v0.39.1
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

fix(wdio): fixed rootedComponent promise chain
  packages/wdio/src/add-wdio-commands.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/type/selector-context.type.ts
Due: yarn eslint --fix, yarn prettier --write

fix(wdio): fixed rootedComponent promise chain (#96)
  packages/wdio/src/add-wdio-commands.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/get$-rooted-component/get$-rooted-component.spec.ts
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/type/selector-context.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.39.2
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): limited RootedComponent to not accept plain wdio element
  packages/wdio/src/component/rooted-component/rooted-component.ts
  packages/wdio/src/component/rooted-component/rooted-componnet.spec.ts
  packages/wdio/src/component/type/component-input-arg.type.ts
Due: yarn eslint --fix, yarn prettier --write

v0.40.0
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: yarn prettier --write

feat(wdio): added extended parent components methods, getter support in nested classes
  packages/wdio/src/component/component/component.ts
  packages/wdio/src/component/component/get-exteded-component/get-extended-component.spec.ts
  packages/wdio/src/component/rooted-component/create-rooted-component/create-rooted-component.spec.ts
Due: yarn eslint --fix, yarn prettier --write

Path conditions:
  yarn eslint --fix: any of: packages/**/*.{ts,tsx}
  yarn prettier --write: (any of: packages/**/*.{ts,tsx}) or (any of: *.{md, json})
