Repository rnw-community/rnw-community: changes, and which Codecov flags are due for each by the changed paths.
All: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

codecov.yml:

coverage:
  status:
    project:
      default: off
      fast-style:
        flags: fast-style
      hoverable:
        flags: hoverable
      nestjs-rxjs-lock:
        flags: nestjs-rxjs-lock
      nestjs-rxjs-logger:
        flags: nestjs-rxjs-logger
      nestjs-rxjs-metrics:
        flags: nestjs-rxjs-metrics
      nestjs-rxjs-redis:
        flags: nestjs-rxjs-redis
      nestjs-typed-config:
        flags: nestjs-typed-config
      nestjs-webpack-swc:
        flags: nestjs-webpack-swc
      object-field-tree:
        flags: object-field-tree
      platform:
        flags: platform
      react-native-payments:
        flags: react-native-payments
      redux-loadable:
        flags: redux-loadable
      rxjs-errors:
        flags: rxjs-errors
      shared:
        flags: shared
      wdio:
        flags: wdio

flags:
  fast-style:
    paths:
      - packages/fast-style/
  hoverable:
    paths:
      - packages/hoverable/
  nestjs-rxjs-lock:
    paths:
      - packages/nestjs-rxjs-lock/
  nestjs-rxjs-logger:
    paths:
      - packages/nestjs-rxjs-logger/
  nestjs-rxjs-metrics:
    paths:
      - packages/nestjs-rxjs-metrics/
  nestjs-rxjs-redis:
    paths:
      - packages/nestjs-rxjs-redis/
  nestjs-typed-config:
    paths:
      - packages/nestjs-typed-config/
  nestjs-webpack-swc:
    paths:
      - packages/nestjs-webpack-swc/
  object-field-tree:
    paths:
      - packages/object-field-tree/
  platform:
    paths:
      - packages/platform/
  react-native-payments:
    paths:
      - packages/react-native-payments/
  redux-loadable:
    paths:
      - packages/redux-loadable/
  rxjs-errors:
    paths:
      - packages/rxjs-errors/
  shared:
    paths:
      - packages/shared/
  wdio:
    paths:
      - packages/wdio/

docs(shared): add md files for AnyFn, AbstractConstructor, MethodDecoratorType
  .knip.json
  packages/nestjs-enterprise/package.json
  packages/shared/readme.md
  packages/shared/src/type/abstract-constructor-type/abstract-constructor.type.md
  packages/shared/src/type/any-fn-type/any-fn.type.md
  packages/shared/src/type/method-decorator-type/method-decorator.type.md
  yarn.lock
Due: shared

chore: fix deps
  packages/nestjs-typed-config/package.json
  yarn.lock
Due: nestjs-typed-config

chore: release v1.10.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, rxjs-errors, shared, wdio

fix(shared): export array type guard overload interfaces
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

fix(shared): export array type guard overload interfaces (#309)
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

chore: release v1.10.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, react-native-payments, rxjs-errors, shared, wdio

fix(shared): use any[] for AbstractConstructor constructor params
  packages/shared/src/type/abstract-constructor-type/abstract-constructor.type.ts
Due: shared

fix(shared): add callback-safe overloads to array type guard interfaces
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

fix(shared): fix type inference for array type guards and AbstractConstructor (#310)
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
  packages/shared/src/type/abstract-constructor-type/abstract-constructor.type.ts
Due: shared

chore: release v1.10.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, react-native-payments, rxjs-errors, shared, wdio

fix(shared): replace array type guard overloads with single generic signatures
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

fix(shared): remove interfaces, use single generic signatures for array type guards
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

fix(shared): replace array type guard overloads with single generic signatures
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

fix(shared): replace array type guard overloads with single generic signatures (#311)
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

chore: release v1.10.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, react-native-payments, rxjs-errors, shared, wdio

fix(shared): preserve element types in isNotEmptyArray narrowed type
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

fix(shared): preserve element types in isNotEmptyArray narrowed type (#314)
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

chore: release v1.10.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, react-native-payments, rxjs-errors, shared, wdio

test(shared): document isEmptyArray false branch narrowing limitation
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
Due: shared

test(shared): document array type guard edge cases
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
Due: shared

refactor(shared): extract IsNever type to shared spec-type file
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-never.spec-type.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
Due: shared

fix(shared): accept generic indexed access types in isNotEmptyArray
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

fix(shared): widen isEmptyArray generic constraint to accept any type
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
Due: shared

fix(shared): fix lint errors in array type guard specs
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
Due: shared

test(shared): document array type guard narrowing limitations (#315)
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-never.spec-type.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

chore: release v1.10.5 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, react-native-payments, rxjs-errors, shared, wdio

fix(shared): preserve element types for array | undefined unions in isNotEmptyArray
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

fix(shared): preserve element types for array | undefined unions in isNotEmptyArray (#316)
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
Due: shared

chore: release v1.10.6 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, react-native-payments, rxjs-errors, shared, wdio

feat(shared): add isBoolean type guard
  packages/shared/src/index.ts
  packages/shared/src/type-guard/boolean/is-boolean/is-boolean.md
  packages/shared/src/type-guard/boolean/is-boolean/is-boolean.spec.ts
  packages/shared/src/type-guard/boolean/is-boolean/is-boolean.ts
Due: shared

feat(shared): add isNotEmptyArrayOf type guard
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-not-empty-array-of/is-not-empty-array-of.md
  packages/shared/src/type-guard/array/is-not-empty-array-of/is-not-empty-array-of.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array-of/is-not-empty-array-of.ts
Due: shared

chore: modernize esm support across all packages
  .gitignore
  .yarn/cache/redlock-patch-f2a96352fc-111b756f0e.zip
  .yarn/patches/redlock-npm-5.0.0-beta2-4d0e335fe9.patch
  CLAUDE.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/tsconfig.build-cjs.json
  packages/eslint-plugin/tsconfig.build-esm.json
  packages/eslint-plugin/tsconfig.json
  packages/fast-style/package.json
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/tsconfig.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments/package.json
  packages/react-native-payments/tsconfig.build-cjs.json
  packages/react-native-payments/tsconfig.build-esm.json
  packages/react-native-payments/tsconfig.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/shared/package.json
  packages/wdio/package.json
  packages/wdio/src/type/el-selector-fn.type.ts
  packages/wdio/src/type/els-selector-fn.type.ts
  tsconfig.build-cjs.json
  tsconfig.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

docs: add AGENTS.md for all packages with CLAUDE.md symlinks
  AGENTS.md
  packages/eslint-plugin/AGENTS.md
  packages/eslint-plugin/CLAUDE.md
  packages/fast-style/AGENTS.md
  packages/fast-style/CLAUDE.md
  packages/nestjs-enterprise/AGENTS.md
  packages/nestjs-enterprise/CLAUDE.md
  packages/nestjs-rxjs-lock/AGENTS.md
  packages/nestjs-rxjs-lock/CLAUDE.md
  packages/nestjs-rxjs-logger/AGENTS.md
  packages/nestjs-rxjs-logger/CLAUDE.md
  packages/nestjs-rxjs-metrics/AGENTS.md
  packages/nestjs-rxjs-metrics/CLAUDE.md
  packages/nestjs-rxjs-redis/AGENTS.md
  packages/nestjs-rxjs-redis/CLAUDE.md
  packages/nestjs-typed-config/AGENTS.md
  packages/nestjs-typed-config/CLAUDE.md
  packages/nestjs-webpack-swc/AGENTS.md
  packages/nestjs-webpack-swc/CLAUDE.md
  packages/object-field-tree/AGENTS.md
  packages/object-field-tree/CLAUDE.md
  packages/platform/AGENTS.md
  packages/platform/CLAUDE.md
  packages/react-native-payments-example-expo/AGENTS.md
  packages/react-native-payments-example-expo/CLAUDE.md
  packages/react-native-payments-example-lib/AGENTS.md
  packages/react-native-payments-example-lib/CLAUDE.md
  packages/react-native-payments-example/AGENTS.md
  packages/react-native-payments-example/CLAUDE.md
  packages/react-native-payments/AGENTS.md
  packages/react-native-payments/CLAUDE.md
  packages/redux-loadable/AGENTS.md
  packages/redux-loadable/CLAUDE.md
  packages/rxjs-errors/AGENTS.md
  packages/rxjs-errors/CLAUDE.md
  packages/shared/AGENTS.md
  packages/shared/CLAUDE.md
  packages/wdio/AGENTS.md
  packages/wdio/CLAUDE.md
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

feat(shared): add isBoolean type guard (#317)
  packages/shared/src/index.ts
  packages/shared/src/type-guard/boolean/is-boolean/is-boolean.md
  packages/shared/src/type-guard/boolean/is-boolean/is-boolean.spec.ts
  packages/shared/src/type-guard/boolean/is-boolean/is-boolean.ts
Due: shared

chore: release v1.11.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, react-native-payments, rxjs-errors, shared, wdio

feat(shared): add isNotEmptyArrayOf type guard (#319)
  packages/shared/src/index.ts
  packages/shared/src/type-guard/array/is-not-empty-array-of/is-not-empty-array-of.md
  packages/shared/src/type-guard/array/is-not-empty-array-of/is-not-empty-array-of.spec.ts
  packages/shared/src/type-guard/array/is-not-empty-array-of/is-not-empty-array-of.ts
Due: shared
