Repository rnw-community/rnw-community: changes, and which Codecov flags are due for each by the changed paths.
All: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

codecov.yml:

coverage:
  status:
    project:
      default: off
      fast-style:
        flags: fast-style
      hoverable:
        flags: hoverable
      nestjs-rxjs-lock:
        flags: nestjs-rxjs-lock
      nestjs-rxjs-logger:
        flags: nestjs-rxjs-logger
      nestjs-rxjs-metrics:
        flags: nestjs-rxjs-metrics
      nestjs-rxjs-redis:
        flags: nestjs-rxjs-redis
      nestjs-typed-config:
        flags: nestjs-typed-config
      nestjs-webpack-swc:
        flags: nestjs-webpack-swc
      object-field-tree:
        flags: object-field-tree
      platform:
        flags: platform
      react-native-payments:
        flags: react-native-payments
      redux-loadable:
        flags: redux-loadable
      rxjs-errors:
        flags: rxjs-errors
      shared:
        flags: shared
      wdio:
        flags: wdio

flags:
  fast-style:
    paths:
      - packages/fast-style/
  hoverable:
    paths:
      - packages/hoverable/
  nestjs-rxjs-lock:
    paths:
      - packages/nestjs-rxjs-lock/
  nestjs-rxjs-logger:
    paths:
      - packages/nestjs-rxjs-logger/
  nestjs-rxjs-metrics:
    paths:
      - packages/nestjs-rxjs-metrics/
  nestjs-rxjs-redis:
    paths:
      - packages/nestjs-rxjs-redis/
  nestjs-typed-config:
    paths:
      - packages/nestjs-typed-config/
  nestjs-webpack-swc:
    paths:
      - packages/nestjs-webpack-swc/
  object-field-tree:
    paths:
      - packages/object-field-tree/
  platform:
    paths:
      - packages/platform/
  react-native-payments:
    paths:
      - packages/react-native-payments/
  redux-loadable:
    paths:
      - packages/redux-loadable/
  rxjs-errors:
    paths:
      - packages/rxjs-errors/
  shared:
    paths:
      - packages/shared/
  wdio:
    paths:
      - packages/wdio/

chore: add pnpm workspace config
  pnpm-workspace.yaml
Due: none

chore: switch root package manifest to pnpm
  package.json
Due: none

chore(react-native-screen-chrome-example): ignore native peer dependencies in app shells
  knip.json
Due: none

chore: adopt pnpm 11 allowBuilds posture
  pnpm-workspace.yaml
Due: none

chore: drop residual yarn references and dead config
  knip.json
  package.json
Due: none

chore: rewrite package scripts from yarn to pnpm
  packages/decorators-core/package.json
  packages/eslint-plugin/package.json
  packages/fast-style/package.json
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/package.json
  packages/log-decorator/package.json
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-collapsible-header-example/package.json
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/shared/package.json
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

chore: generate pnpm lockfile
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: port redlock types export patch to pnpm
  patches/redlock@5.0.0-beta2.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore: drop yarn top-level run idiom from package scripts
  packages/decorators-core/package.json
  packages/eslint-plugin/package.json
  packages/fast-style/package.json
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/package.json
  packages/log-decorator/package.json
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-collapsible-header-example/package.json
  packages/react-native-collapsible-header/package.json
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
  packages/redux-loadable/package.json
  packages/rxjs-errors/package.json
  packages/shared/package.json
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

chore: regenerate redlock patch without changelog artifact
  patches/redlock@5.0.0-beta2.patch
  pnpm-lock.yaml
Due: none

fix(nestjs-webpack-swc): drop webpack externals assertion unnecessary under pnpm types resolution
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic.config.ts
Due: nestjs-webpack-swc

fix: make jest react-native preset transform patterns pnpm-store aware
  packages/platform/jest.config.js
  packages/react-native-collapsible-header/jest.config.js
Due: platform

fix(wdio): declare react-native dependency surfaced by pnpm isolated layout
  packages/wdio/package.json
  packages/wdio/src/util/get-platform/get-platform.util.native.ts
  pnpm-lock.yaml
Due: wdio

chore: prune knip ignores made stale by pnpm resolution and register wdio native entry
  knip.json
Due: none

fix: install declared runtime deps in smoke-esm harness instead of relying on hoisting
  scripts/smoke-esm.mjs
Due: none

style: format get-nestjs-webpack-generic config
  packages/nestjs-webpack-swc/src/config/get-nestjs-webpack-generic.config.ts
Due: nestjs-webpack-swc

fix: prefer pinned specifiers in smoke harness dependency merge
  scripts/smoke-esm.mjs
Due: none

fix(react-native-screen-chrome): drop masked-view, align expo pairing, tolerate demo crash in ci
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .yarn/cache/@react-native-masked-view-masked-view-npm-0.3.2-7e49df0087-04ffbc0108.zip
  .yarn/cache/expo-blur-npm-56.0.4-a7410e5d26-0d8372477f.zip
  .yarn/cache/expo-blur-npm-57.0.2-4d030d4270-7cac48c62f.zip
  .yarn/cache/expo-linear-gradient-npm-56.0.4-aabf8f8af8-72386b28e4.zip
  .yarn/cache/expo-linear-gradient-npm-57.0.1-4c2f74f296-188d677274.zip
  .yarn/cache/react-native-easing-gradient-npm-1.1.1-36afac07b2-70a2750340.zip
  knip.json
  packages/react-native-screen-chrome-example/apps/bare/package.json
  packages/react-native-screen-chrome-example/apps/expo/package.json
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.tsx
  packages/react-native-screen-chrome/src/edge-fade/util/get-edge-fade-visuals/get-edge-fade-visuals.spec.ts
  packages/react-native-screen-chrome/src/edge-fade/util/get-edge-fade-visuals/get-edge-fade-visuals.util.spec.ts
  packages/react-native-screen-chrome/src/edge-fade/util/get-edge-fade-visuals/get-edge-fade-visuals.util.ts
  packages/react-native-screen-chrome/src/index.spec.ts
  yarn.lock
Due: none

chore(deps): bump turbo to 2.10.10 and sync official skill (#600)
  .agents/skills/turborepo/SKILL.md
  .agents/skills/turborepo/command/turborepo.md
  .agents/skills/turborepo/references/best-practices/RULE.md
  .agents/skills/turborepo/references/best-practices/dependencies.md
  .agents/skills/turborepo/references/best-practices/packages.md
  .agents/skills/turborepo/references/best-practices/structure.md
  .agents/skills/turborepo/references/caching/RULE.md
  .agents/skills/turborepo/references/caching/gotchas.md
  .agents/skills/turborepo/references/caching/remote-cache.md
  .agents/skills/turborepo/references/ci/RULE.md
  .agents/skills/turborepo/references/ci/github-actions.md
  .agents/skills/turborepo/references/ci/vercel.md
  .agents/skills/turborepo/references/cli/commands.md
  .agents/skills/turborepo/references/configuration/RULE.md
  .agents/skills/turborepo/references/configuration/global-options.md
  .agents/skills/turborepo/references/configuration/gotchas.md
  .agents/skills/turborepo/references/configuration/tasks.md
  .agents/skills/turborepo/references/environment/RULE.md
  .agents/skills/turborepo/references/environment/gotchas.md
  .agents/skills/turborepo/references/environment/modes.md
  .agents/skills/turborepo/references/filtering/RULE.md
  .agents/skills/turborepo/references/filtering/patterns.md
  .agents/skills/turborepo/references/watch/RULE.md
  .yarn/cache/turbo-npm-2.10.10-a6d07eb360-0064f916c4.zip
  .yarn/cache/turbo-npm-2.10.8-f3980f208c-a6b1f9abc9.zip
  package.json
  turbo.json
  yarn.lock
Due: none

chore: trim redundant workspace settings
  pnpm-workspace.yaml
Due: none

refactor: fail on conflicting specifiers in smoke harness
  .husky/pre-commit
  .lintstagedrc
  packages/decorators-core/package.json
  packages/fast-style/AGENTS.md
  packages/fast-style/package.json
  packages/histogram-metric-decorator/package.json
  packages/lock-decorator/package.json
  packages/log-decorator/package.json
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/readme.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/react-native-payments/package.json
  packages/rxjs-errors/AGENTS.md
  packages/rxjs-errors/package.json
  scripts/smoke-esm.mjs
Due: fast-style, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, react-native-payments, rxjs-errors

refactor: centralize pnpm-aware jest transform patterns
  get-jest.config.js
  packages/platform/jest.config.js
  packages/react-native-collapsible-header/jest.config.js
Due: platform

refactor(react-native-screen-chrome): reduce header metrics to a single number
  packages/react-native-screen-chrome-example/src/component/footer-demo-screen.tsx
  packages/react-native-screen-chrome-example/src/component/static-header-demo-screen.tsx
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/hooks/use-screen-chrome-header-metrics/use-screen-chrome-header-metrics.hook.ts
  packages/react-native-screen-chrome/src/hooks/use-screen-chrome-header-metrics/use-screen-chrome-header-metrics.spec.tsx
  packages/react-native-screen-chrome/src/index.ts
  packages/react-native-screen-chrome/src/interface/screen-chrome-header-metrics.interface.ts
  packages/react-native-screen-chrome/src/screen-chrome-header/screen-chrome-header.spec.tsx
  packages/react-native-screen-chrome/src/util/get-screen-chrome-header-metrics/get-screen-chrome-header-metrics.spec.ts
  packages/react-native-screen-chrome/src/util/get-screen-chrome-header-metrics/get-screen-chrome-header-metrics.util.ts
Due: none

refactor(react-native-screen-chrome): render edge fade as a bare blur band
  .yarn/cache/expo-linear-gradient-npm-57.0.1-4c2f74f296-188d677274.zip
  knip.json
  packages/react-native-screen-chrome-example/apps/bare/package.json
  packages/react-native-screen-chrome-example/apps/expo/package.json
  packages/react-native-screen-chrome-example/e2e/recording/out/collapsible-header.gif
  packages/react-native-screen-chrome-example/e2e/recording/out/collapsible-header.mp4
  packages/react-native-screen-chrome-example/e2e/recording/out/header-and-footer.gif
  packages/react-native-screen-chrome-example/e2e/recording/out/header-and-footer.mp4
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/package.json
  packages/react-native-screen-chrome/readme.md
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.spec.tsx
  packages/react-native-screen-chrome/src/edge-fade/edge-fade.tsx
  packages/react-native-screen-chrome/src/index.spec.ts
  yarn.lock
Due: none

chore(react-native-screen-chrome-example): keep recording artifacts out of git
  packages/react-native-screen-chrome-example/.gitignore
  packages/react-native-screen-chrome-example/e2e/recording/out/collapsible-header.gif
  packages/react-native-screen-chrome-example/e2e/recording/out/collapsible-header.mp4
  packages/react-native-screen-chrome-example/e2e/recording/out/header-and-footer.gif
  packages/react-native-screen-chrome-example/e2e/recording/out/header-and-footer.mp4
Due: none

chore: point lerna at pnpm client
  .husky/commit-msg
  lerna.json
Due: none

chore: run ci workflows via pnpm
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

docs(nestjs-enterprise): update redlock patch note for pnpm
  packages/nestjs-enterprise/AGENTS.md
Due: none

chore: point new dependency scripts at pnpm
  package.json
Due: none

chore(react-native-screen-chrome): drop react compiler output pending upstream crash triage
  AGENTS.md
  knip.json
  packages/react-native-screen-chrome/AGENTS.md
  packages/react-native-screen-chrome/babel.config.bob.js
  packages/react-native-screen-chrome/babel.config.js
  packages/react-native-screen-chrome/package.json
  yarn.lock
Due: none

docs: convert contributor and e2e docs to pnpm
  .agents/skills/maestro-e2e/SKILL.md
  .agents/skills/maestro-e2e/rules/rnw-community.md
  AGENTS.md
  packages/decorators-core/AGENTS.md
  packages/eslint-plugin/AGENTS.md
  packages/fast-style/AGENTS.md
  packages/histogram-metric-decorator/AGENTS.md
  packages/lock-decorator/AGENTS.md
  packages/log-decorator/AGENTS.md
  packages/nestjs-rxjs-lock/AGENTS.md
  packages/nestjs-rxjs-logger/AGENTS.md
  packages/nestjs-rxjs-metrics/AGENTS.md
  packages/nestjs-rxjs-redis/AGENTS.md
  packages/nestjs-typed-config/AGENTS.md
  packages/nestjs-webpack-swc/AGENTS.md
  packages/object-field-tree/AGENTS.md
  packages/platform/AGENTS.md
  packages/react-native-collapsible-header-example/AGENTS.md
  packages/react-native-collapsible-header-example/e2e/readme.md
  packages/react-native-collapsible-header-example/readme.md
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-payments-example/e2e/readme.md
  packages/react-native-payments-example/readme.md
  packages/react-native-payments/AGENTS.md
  packages/redux-loadable/AGENTS.md
  packages/rxjs-errors/AGENTS.md
  packages/shared/AGENTS.md
  packages/wdio/AGENTS.md
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

chore: point coderabbit path filters at pnpm lockfile
  .coderabbit.yaml
Due: none

chore(react-native-screen-chrome): keep bob config ignored for knip
  knip.json
Due: none

ci(react-native-screen-chrome): move maestro tolerance to the step level
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
Due: none

chore(react-native-payments): drop vestigial fork ci workflows
  packages/react-native-payments/.github/actions/setup/action.yml
  packages/react-native-payments/.github/workflows/ci.yml
Due: react-native-payments

chore: drop leftover yarn config after pnpm migration
  .editorconfig
  .gitignore
  .knip.json
  packages/react-native-collapsible-header-example/apps/bare/android/app/build.gradle
  packages/react-native-payments-example/apps/bare/android/app/build.gradle
Due: none

docs: finish pnpm migration in package docs
  .agents/skills/maestro-e2e/rules/rnw-community.md
  AGENTS.md
  packages/histogram-metric-decorator/readme.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
  packages/nestjs-webpack-swc/readme.md
  packages/react-native-collapsible-header-example/AGENTS.md
  packages/react-native-collapsible-header/AGENTS.md
  packages/react-native-collapsible-header/readme.md
  packages/react-native-payments-example/AGENTS.md
  packages/react-native-payments/docs/getting-started/install.md
  packages/react-native-payments/docs/getting-started/quickstart-expo.md
  packages/react-native-payments/docs/guides/migrate-from-upstream.md
  packages/react-native-payments/docs/platforms/expo.md
  packages/react-native-payments/llms-full.txt
  packages/react-native-payments/readme.md
Due: nestjs-webpack-swc, react-native-payments

ci: fix pnpm setup in affected-detection and smoke jobs
  .github/workflows/android-maestro.yml
  .github/workflows/ios-maestro.yml
  .github/workflows/pr.yml
Due: none
