Repository rnw-community/rnw-community: changes, and which Codecov flags are due for each by the changed paths.
All: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

codecov.yml:

coverage:
  status:
    project:
      default: off
      fast-style:
        flags: fast-style
      hoverable:
        flags: hoverable
      nestjs-rxjs-lock:
        flags: nestjs-rxjs-lock
      nestjs-rxjs-logger:
        flags: nestjs-rxjs-logger
      nestjs-rxjs-metrics:
        flags: nestjs-rxjs-metrics
      nestjs-rxjs-redis:
        flags: nestjs-rxjs-redis
      nestjs-typed-config:
        flags: nestjs-typed-config
      nestjs-webpack-swc:
        flags: nestjs-webpack-swc
      object-field-tree:
        flags: object-field-tree
      platform:
        flags: platform
      react-native-payments:
        flags: react-native-payments
      redux-loadable:
        flags: redux-loadable
      rxjs-errors:
        flags: rxjs-errors
      shared:
        flags: shared
      wdio:
        flags: wdio

flags:
  fast-style:
    paths:
      - packages/fast-style/
  hoverable:
    paths:
      - packages/hoverable/
  nestjs-rxjs-lock:
    paths:
      - packages/nestjs-rxjs-lock/
  nestjs-rxjs-logger:
    paths:
      - packages/nestjs-rxjs-logger/
  nestjs-rxjs-metrics:
    paths:
      - packages/nestjs-rxjs-metrics/
  nestjs-rxjs-redis:
    paths:
      - packages/nestjs-rxjs-redis/
  nestjs-typed-config:
    paths:
      - packages/nestjs-typed-config/
  nestjs-webpack-swc:
    paths:
      - packages/nestjs-webpack-swc/
  object-field-tree:
    paths:
      - packages/object-field-tree/
  platform:
    paths:
      - packages/platform/
  react-native-payments:
    paths:
      - packages/react-native-payments/
  redux-loadable:
    paths:
      - packages/redux-loadable/
  rxjs-errors:
    paths:
      - packages/rxjs-errors/
  shared:
    paths:
      - packages/shared/
  wdio:
    paths:
      - packages/wdio/

chore: release v0.72.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
Due: none

feat: support 5 collections in object-field-tree
  packages/object-field-tree/src/index.ts
  packages/object-field-tree/src/type/data-fn.type.ts
  packages/object-field-tree/src/type/return.type.ts
Due: object-field-tree

feat: support 5 collections in object-field-tree (#205)
  packages/object-field-tree/src/index.ts
  packages/object-field-tree/src/type/data-fn.type.ts
  packages/object-field-tree/src/type/return.type.ts
Due: object-field-tree

fix(fast-style): adjust enum generics so it passes ts
  packages/fast-style/src/font/font.ts
  packages/object-field-tree/src/index.ts
  packages/object-field-tree/src/type/return.type.ts
Due: fast-style, object-field-tree

chore: release v0.73.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

feat(wdio): upgraded wdio to latest v8, bump TS 5.4
  .yarn/cache/@wdio-config-npm-8.31.1-508b17df47-6ef694e53c.zip
  .yarn/cache/@wdio-globals-npm-8.32.0-65849bf1cd-6f0b70f776.zip
  .yarn/cache/@wdio-logger-npm-8.28.0-5512a857aa-272f04403b.zip
  .yarn/cache/@wdio-protocols-npm-8.32.0-3f5244cb43-2a7718dd96.zip
  .yarn/cache/@wdio-types-npm-8.31.1-3b1c817a07-321f13540b.zip
  .yarn/cache/@wdio-utils-npm-8.31.1-2cb0d0ee82-e9e6b32337.zip
  .yarn/cache/archiver-npm-6.0.1-427b6af3f3-22997a5bbf.zip
  .yarn/cache/archiver-utils-npm-4.0.1-6d05f300c9-f007c8da5d.zip
  .yarn/cache/compress-commons-npm-5.0.1-28fafeb552-bb3c3ea965.zip
  .yarn/cache/crc32-stream-npm-5.0.0-6050675417-8e5dd04f22.zip
  .yarn/cache/devtools-protocol-npm-0.0.1260275-bb7fa9263d-ee867d16ca.zip
  .yarn/cache/edgedriver-npm-5.3.10-d26c7cbb91-14782d0237.zip
  .yarn/cache/turbo-npm-2.0.3-c6a0fc1225-b4073faa92.zip
  .yarn/cache/webdriver-npm-8.32.0-4193f1e052-e2171e0d06.zip
  .yarn/cache/webdriverio-npm-8.32.0-209add0286-c6975b3d66.zip
  .yarn/cache/zip-stream-npm-5.0.1-f19d836b38-116cee5a2c.zip
  package.json
  yarn.lock
Due: none

feat(wdio): upgraded wdio to latest v8, bump TS 5.4
  .yarn/cache/turbo-npm-2.0.9-927431f5b0-4f185741bc.zip
Due: none

feat(wdio): upgraded wdio to latest v8, bump TS 5.4
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
Due: none

chore: release v0.74.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

refactor(react-native-payments): removed platform dep
  packages/react-native-payments/package.json
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  yarn.lock
Due: react-native-payments

refactor(react-native-payments): removed platform dep (#218)
  packages/react-native-payments/package.json
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  yarn.lock
Due: react-native-payments

chore: release v0.74.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: react-native-payments

Make displayItems optional
  packages/react-native-payments/src/@standard/w3c/payment-details-base.ts
Due: react-native-payments

chore: ci fix
  .yarn/cache/@types-eslint-npm-8.56.12-3bfdf2144c-bd998b5d3f.zip
  .yarn/cache/@types-estree-npm-1.0.6-b5e23f2ea2-9d35d47509.zip
  .yarn/cache/@types-json-schema-npm-7.0.15-fd16381786-1a3c3e0623.zip
  packages/eslint-plugin/package.json
  yarn.lock
Due: none

chore: ci fix (#223)
  .yarn/cache/@types-eslint-npm-8.56.12-3bfdf2144c-bd998b5d3f.zip
  .yarn/cache/@types-estree-npm-1.0.6-b5e23f2ea2-9d35d47509.zip
  .yarn/cache/@types-json-schema-npm-7.0.15-fd16381786-1a3c3e0623.zip
  packages/eslint-plugin/package.json
  yarn.lock
Due: none

chore: release v0.74.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
Due: none

Add package.json to the exports in package.json
  packages/react-native-payments/package.json
Due: react-native-payments

Separate person name with commas
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
Due: react-native-payments

Update readme.md
  packages/react-native-payments/readme.md
Due: react-native-payments

chore: release v0.74.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: react-native-payments

feat(react-native-payments): add expo support
  packages/react-native-payments/android/build.gradle
  packages/react-native-payments/expo-module.config.json
  packages/react-native-payments/package.json
  packages/react-native-payments/react-native-payments.podspec
  packages/react-native-payments/src/NativePayments.ts
  packages/react-native-payments/src/Payments.ts
  yarn.lock
Due: react-native-payments

feat(react-native-payments): add expo support
  .yarn/cache/expo-modules-core-npm-1.12.24-c12da0280a-81c09bfcf7.zip
Due: none

feat(react-native-payments-example): add example without displayItems
  packages/react-native-payments-example/src/app/app.tsx
  packages/react-native-payments-example/src/method-data/android-payment-method-data.ts
  packages/react-native-payments-example/src/payment-details.ts
Due: none

Revert gateway changes
  packages/react-native-payments-example/src/method-data/android-payment-method-data.ts
Due: none

Allow metro to resolve monorepo packages
  packages/react-native-payments-example/metro.config.js
Due: none

Add google pay meta-data to AndroidManifest
  packages/react-native-payments-example/android/app/src/main/AndroidManifest.xml
Due: none

Request only contact fields asked for by the user
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/@standard/ios/enum/ios-pk-contact-field.enum.ts
  packages/react-native-payments/src/@standard/ios/request/ios-payment-data-request.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/interface/generic-payment-method-data-data.interface.ts
Due: react-native-payments

Fixed bugs and added example
  packages/react-native-payments-example/src/app/app.tsx
  packages/react-native-payments-example/src/method-data/android-payment-method-data.ts
  packages/react-native-payments-example/src/method-data/ios-payment-method-data.ts
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: react-native-payments

Separate person name with commas (#226)
  packages/react-native-payments/src/class/payment-response/ios-payment-response.ts
Due: react-native-payments

chore: release v0.74.4 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: react-native-payments

feat(react-native-payments): make displayItems in PaymentDetailsBase optional (#221)
  packages/react-native-payments-example/src/app/app.tsx
  packages/react-native-payments-example/src/payment-details.ts
  packages/react-native-payments/src/@standard/w3c/payment-details-base.ts
Due: react-native-payments

chore: release v0.75.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

fix(react-native-payments-example): change metro config and add google pay metadata to AndroidManifest (#230)
  packages/react-native-payments-example/android/app/src/main/AndroidManifest.xml
  packages/react-native-payments-example/metro.config.js
Due: none

chore: release v0.75.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
Due: none

docs(react-native-payments): add jest mocking hint
  packages/react-native-payments/readme.md
Due: react-native-payments

chore: release v0.75.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: react-native-payments

Add package.json to the exports in package.json (#224)
  packages/react-native-payments/package.json
Due: react-native-payments
