Repository rnw-community/rnw-community: changes, and which Codecov flags are due for each by the changed paths.
All: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

codecov.yml:

coverage:
  status:
    project:
      default: off
      fast-style:
        flags: fast-style
      hoverable:
        flags: hoverable
      nestjs-rxjs-lock:
        flags: nestjs-rxjs-lock
      nestjs-rxjs-logger:
        flags: nestjs-rxjs-logger
      nestjs-rxjs-metrics:
        flags: nestjs-rxjs-metrics
      nestjs-rxjs-redis:
        flags: nestjs-rxjs-redis
      nestjs-typed-config:
        flags: nestjs-typed-config
      nestjs-webpack-swc:
        flags: nestjs-webpack-swc
      object-field-tree:
        flags: object-field-tree
      platform:
        flags: platform
      react-native-payments:
        flags: react-native-payments
      redux-loadable:
        flags: redux-loadable
      rxjs-errors:
        flags: rxjs-errors
      shared:
        flags: shared
      wdio:
        flags: wdio

flags:
  fast-style:
    paths:
      - packages/fast-style/
  hoverable:
    paths:
      - packages/hoverable/
  nestjs-rxjs-lock:
    paths:
      - packages/nestjs-rxjs-lock/
  nestjs-rxjs-logger:
    paths:
      - packages/nestjs-rxjs-logger/
  nestjs-rxjs-metrics:
    paths:
      - packages/nestjs-rxjs-metrics/
  nestjs-rxjs-redis:
    paths:
      - packages/nestjs-rxjs-redis/
  nestjs-typed-config:
    paths:
      - packages/nestjs-typed-config/
  nestjs-webpack-swc:
    paths:
      - packages/nestjs-webpack-swc/
  object-field-tree:
    paths:
      - packages/object-field-tree/
  platform:
    paths:
      - packages/platform/
  react-native-payments:
    paths:
      - packages/react-native-payments/
  redux-loadable:
    paths:
      - packages/redux-loadable/
  rxjs-errors:
    paths:
      - packages/rxjs-errors/
  shared:
    paths:
      - packages/shared/
  wdio:
    paths:
      - packages/wdio/

chore: release v1.2.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: react-native-payments

feat: added isObject, isArray
  packages/shared/readme.md
  packages/shared/src/type-guard/array/is-array/is-array.md
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.md
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
  packages/shared/src/type-guard/generic/is-object/is-object.md
  packages/shared/src/type-guard/generic/is-object/is-object.spec.ts
  packages/shared/src/type-guard/generic/is-object/is-object.ts
Due: shared

Update packages/shared/src/type-guard/generic/is-object/is-object.spec.ts
  packages/shared/src/type-guard/generic/is-object/is-object.spec.ts
Due: shared

feat(shared): added isObject, isArray (#282)
  packages/shared/readme.md
  packages/shared/src/type-guard/array/is-array/is-array.md
  packages/shared/src/type-guard/array/is-array/is-array.spec.ts
  packages/shared/src/type-guard/array/is-array/is-array.ts
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.md
  packages/shared/src/type-guard/array/is-empty-array/is-empty-array.ts
  packages/shared/src/type-guard/array/is-not-empty-array/is-not-empty-array.ts
  packages/shared/src/type-guard/generic/is-object/is-object.md
  packages/shared/src/type-guard/generic/is-object/is-object.spec.ts
  packages/shared/src/type-guard/generic/is-object/is-object.ts
Due: shared

chore: release v1.3.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, react-native-payments, rxjs-errors, shared, wdio

feat: added isObject, isArray
  packages/wdio/src/component/component.ts
Due: wdio

feat(wdio): getComponentFromEls fix
  packages/wdio/src/component/component.ts
  packages/wdio/src/component/componnet.spec.ts
Due: wdio

feat(wdio): getComponentFromEls added idx to predicateFn (#283)
  packages/wdio/src/component/component.ts
  packages/wdio/src/component/componnet.spec.ts
Due: wdio

chore: release v1.4.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: wdio

feat(react-native-payments): add applicationData support for Apple Pay
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/ios/mapping/ios-payment-method-data-data.interface.ts
  packages/react-native-payments/src/@standard/ios/request/ios-payment-data-request.ts
  packages/react-native-payments/src/@standard/ios/response/ios-raw-pk-token.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: react-native-payments

refactor(react-native-payments): remove optional applicationDataHash from IosRawPKToken interface
  packages/react-native-payments/src/@standard/ios/response/ios-raw-pk-token.ts
Due: react-native-payments

feat(react-native-payments): add applicationData support for Apple Pay
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/ios/mapping/ios-payment-method-data-data.interface.ts
  packages/react-native-payments/src/@standard/ios/request/ios-payment-data-request.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: react-native-payments

Update readme.md
  packages/react-native-payments/readme.md
Due: react-native-payments

Update packages/react-native-payments/src/class/payment-request/payment-request.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: react-native-payments

added type check of NSDictionary and NSArray for applicationData
  packages/react-native-payments/ios/Payments.mm
Due: react-native-payments

Enhance Apple Pay Integration with Application Data Support (#284)
  packages/react-native-payments/ios/Payments.mm
  packages/react-native-payments/readme.md
  packages/react-native-payments/src/@standard/ios/mapping/ios-payment-method-data-data.interface.ts
  packages/react-native-payments/src/@standard/ios/request/ios-payment-data-request.ts
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: react-native-payments

feat: bump dev deps, added PR name lint job
  .github/workflows/pull-request.yaml
Due: none

feat: bump dev deps, added PR name lint job
  .yarn/cache/@jest-console-npm-29.7.0-77689f186f-4a80c750e8.zip
  .yarn/cache/@jest-core-npm-29.7.0-cef60d74c4-ab6ac2e562.zip
  .yarn/cache/@jest-expect-npm-29.7.0-9dfe9cebaa-fea6c3317a.zip
  .yarn/cache/@jest-globals-npm-29.7.0-06f2bd411e-97dbb94591.zip
  .yarn/cache/@jest-reporters-npm-29.7.0-2561cd7a09-a17d1644b2.zip
  .yarn/cache/@jest-source-map-npm-29.6.3-8bb8289263-bcc5a8697d.zip
  .yarn/cache/@jest-test-result-npm-29.7.0-4bb532101b-c073ab7dfe.zip
  .yarn/cache/@jest-test-sequencer-npm-29.7.0-291f23a495-4420c26a0b.zip
  .yarn/cache/cjs-module-lexer-npm-1.4.3-4a46e7bf6c-d2b92f919a.zip
  .yarn/cache/create-jest-npm-29.7.0-3a6a7b993b-847b476445.zip
  .yarn/cache/exit-npm-0.1.2-ef3761a67d-387555050c.zip
  .yarn/cache/istanbul-lib-source-maps-npm-4.0.1-af0f859df7-5526983462.zip
  .yarn/cache/jest-changed-files-npm-29.7.0-c2dcd10525-3d93742e56.zip
  .yarn/cache/jest-circus-npm-29.7.0-f7679858c6-716a8e3f40.zip
  .yarn/cache/jest-cli-npm-29.7.0-9adb356180-6cc62b34d0.zip
  .yarn/cache/jest-config-npm-29.7.0-97d8544d74-6bdf570e95.zip
  .yarn/cache/jest-docblock-npm-29.7.0-ec59f449dd-8d48818055.zip
  .yarn/cache/jest-each-npm-29.7.0-93476f5ba0-bd1a077654.zip
  .yarn/cache/jest-leak-detector-npm-29.7.0-915d82553f-e3950e3ddd.zip
  .yarn/cache/jest-npm-29.7.0-d8dd095b81-97023d7844.zip
  .yarn/cache/jest-resolve-dependencies-npm-29.7.0-06ec582f1e-1e206f94a6.zip
  .yarn/cache/jest-resolve-npm-29.7.0-5c36f0eefb-faa466fd9b.zip
  .yarn/cache/jest-runner-npm-29.7.0-3bc9f82b58-9d8748a494.zip
  .yarn/cache/jest-runtime-npm-29.7.0-120fa64128-59eb58eb7e.zip
  .yarn/cache/jest-snapshot-npm-29.7.0-15ef0a4ad6-cb19a39482.zip
  .yarn/cache/jest-watcher-npm-29.7.0-e5372f1629-4f616e0345.zip
  .yarn/cache/pure-rand-npm-6.1.0-497ea3fc37-256aa4bcaf.zip
Due: none

feat: bump dev deps, added PR name lint job
  packages/react-native-payments/jest.config.js
Due: react-native-payments

feat: bump dev deps, added PR name lint job
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable-decorator.spec.ts
Due: none

chore: release v1.5.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-metrics, nestjs-typed-config, object-field-tree, react-native-payments

feat(nestjs-enterprise): added partial support for the generic methods
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/type/decorated-method.type.ts
  packages/nestjs-enterprise/src/type/method-decorator.type.ts
Due: none

feat(nestjs-enterprise): added partial support for the generic methods
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
Due: none

feat(nestjs-enterprise): added log decorator generic support (#197)
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-observable/lock-observable.decorator.ts
  packages/nestjs-enterprise/src/decorator/lock/lock-promise/lock-promise.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/type/decorated-method.type.ts
  packages/nestjs-enterprise/src/type/method-decorator.type.ts
Due: none

chore: release v1.6.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
Due: none

ci: fix knip + cpd
  packages/react-native-payments-example-expo/ios/Podfile.lock
  packages/react-native-payments-example-expo/ios/reactnativepaymentsexpoexample.xcodeproj/project.pbxproj
Due: none

ci: fix knip + cpd
  .knip.json
  .yarn/cache/@expo-config-npm-11.0.13-66442c888f-b81511676c.zip
  .yarn/cache/@expo-config-plugins-npm-10.1.2-7feb125be6-01281c4745.zip
  .yarn/cache/@expo-config-types-npm-53.0.5-57f07945bd-7197185818.zip
  .yarn/cache/@expo-json-file-npm-9.1.5-a9e88a5b23-b4a8019ac6.zip
  .yarn/cache/@expo-plist-npm-0.3.5-93420055b0-a79f11e21c.zip
  .yarn/cache/arg-npm-4.1.0-71ce2f9dcc-dc0e1ea7f0.zip
  .yarn/cache/expo-eas-client-npm-0.14.4-7d51dd5bc7-3b9347b5cc.zip
  .yarn/cache/expo-json-utils-npm-0.15.0-750e43887a-f514aef700.zip
  .yarn/cache/expo-manifests-npm-0.16.6-b972c91d1e-a18d32c8ae.zip
  .yarn/cache/expo-structured-headers-npm-4.1.0-859641ea3c-2147a983a1.zip
  .yarn/cache/expo-updates-interface-npm-1.1.0-8a3e81fe96-9fdbcc0412.zip
  .yarn/cache/expo-updates-npm-0.28.17-20e1633fe8-48564279e1.zip
  .yarn/cache/getenv-npm-2.0.0-f38c6997d7-ba25153e26.zip
  packages/react-native-payments-example-expo/ios/Podfile.lock
  packages/react-native-payments-example-expo/ios/reactnativepaymentsexpoexample.xcodeproj/project.pbxproj
  packages/react-native-payments-example-expo/package.json
  yarn.lock
Due: none

chore: release v1.6.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
Due: none

chore: fix ios 15
  packages/react-native-payments/ios/Payments.mm
Due: react-native-payments

fix(react-native-payments): fix iOS 15.1 build issues with missing PKPaymentNetwork symbols (#292)
  packages/react-native-payments/ios/Payments.mm
Due: react-native-payments

chore: release v1.6.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example-expo/CHANGELOG.md
  packages/react-native-payments-example-expo/package.json
  packages/react-native-payments-example-lib/CHANGELOG.md
  packages/react-native-payments-example-lib/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
Due: react-native-payments
