Repository rnw-community/rnw-community: changes, and which Codecov flags are due for each by the changed paths.
All: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

codecov.yml:

coverage:
  status:
    project:
      default: off
      fast-style:
        flags: fast-style
      hoverable:
        flags: hoverable
      nestjs-rxjs-lock:
        flags: nestjs-rxjs-lock
      nestjs-rxjs-logger:
        flags: nestjs-rxjs-logger
      nestjs-rxjs-metrics:
        flags: nestjs-rxjs-metrics
      nestjs-rxjs-redis:
        flags: nestjs-rxjs-redis
      nestjs-typed-config:
        flags: nestjs-typed-config
      nestjs-webpack-swc:
        flags: nestjs-webpack-swc
      object-field-tree:
        flags: object-field-tree
      platform:
        flags: platform
      react-native-payments:
        flags: react-native-payments
      redux-loadable:
        flags: redux-loadable
      rxjs-errors:
        flags: rxjs-errors
      shared:
        flags: shared
      wdio:
        flags: wdio

flags:
  fast-style:
    paths:
      - packages/fast-style/
  hoverable:
    paths:
      - packages/hoverable/
  nestjs-rxjs-lock:
    paths:
      - packages/nestjs-rxjs-lock/
  nestjs-rxjs-logger:
    paths:
      - packages/nestjs-rxjs-logger/
  nestjs-rxjs-metrics:
    paths:
      - packages/nestjs-rxjs-metrics/
  nestjs-rxjs-redis:
    paths:
      - packages/nestjs-rxjs-redis/
  nestjs-typed-config:
    paths:
      - packages/nestjs-typed-config/
  nestjs-webpack-swc:
    paths:
      - packages/nestjs-webpack-swc/
  object-field-tree:
    paths:
      - packages/object-field-tree/
  platform:
    paths:
      - packages/platform/
  react-native-payments:
    paths:
      - packages/react-native-payments/
  redux-loadable:
    paths:
      - packages/redux-loadable/
  rxjs-errors:
    paths:
      - packages/rxjs-errors/
  shared:
    paths:
      - packages/shared/
  wdio:
    paths:
      - packages/wdio/

test(nestjs-enterprise): fixed coverage
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
Due: none

feat(nestjs-enterprise): added Log decorator (#190)
  packages/nestjs-enterprise/.eslintrc.js
  packages/nestjs-enterprise/.gitignore
  packages/nestjs-enterprise/LICENSE.md
  packages/nestjs-enterprise/babel.config.js
  packages/nestjs-enterprise/jest.config.js
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/readme.md
  packages/nestjs-enterprise/src/decorator/log/log-decorator.md
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/type/decorated-method.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/error-log-function.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/method-decorator.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/post-log-function.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/pre-log-function.type.ts
  packages/nestjs-enterprise/src/index.ts
  packages/nestjs-enterprise/tsconfig.build-cjs.json
  packages/nestjs-enterprise/tsconfig.build-esm.json
  packages/nestjs-enterprise/tsconfig.json
  yarn.lock
Due: none

chore: release v0.69.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

chore: release v0.69.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
Due: none

feat(nestjs-enterprise): added HistogramMetric decorator
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/index.ts
  packages/nestjs-enterprise/src/type/decorated-method.type.ts
  packages/nestjs-enterprise/src/type/method-decorator.type.ts
Due: none

feat(nestjs-enterprise): updated deps
  .yarn/cache/@opentelemetry-api-npm-1.8.0-a7bdcf595f-62f0c42711.zip
  .yarn/cache/prom-client-npm-14.2.0-67b29e14e5-892eb83eb8.zip
  .yarn/cache/prom-client-npm-15.1.2-1722b7256c-f7edcba54d.zip
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-metrics/package.json
  yarn.lock
Due: nestjs-rxjs-metrics

feat(nestjs-enterprise): updated deps
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
Due: none

feat(nestjs-enterprise): added HistogramMetric decorator (#193)
  .yarn/cache/@opentelemetry-api-npm-1.8.0-a7bdcf595f-62f0c42711.zip
  .yarn/cache/prom-client-npm-14.2.0-67b29e14e5-892eb83eb8.zip
  .yarn/cache/prom-client-npm-15.1.2-1722b7256c-f7edcba54d.zip
  packages/nestjs-enterprise/package.json
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric.decorator.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
  packages/nestjs-enterprise/src/index.ts
  packages/nestjs-enterprise/src/type/decorated-method.type.ts
  packages/nestjs-enterprise/src/type/method-decorator.type.ts
  packages/nestjs-rxjs-metrics/package.json
  yarn.lock
Due: nestjs-rxjs-metrics

chore: release v0.70.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

docs(nestjs-enterprise): updated docs
  README.md
  packages/nestjs-enterprise/readme.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
Due: none

docs(nestjs-enterprise): updated docs (#194)
  README.md
  packages/nestjs-enterprise/readme.md
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
Due: none

chore: release v0.70.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
Due: none

fix(nestjs-enterprise): fixed handling observables and promises
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
Due: none

fix(nestjs-enterprise): fixed handling observables and promises
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
Due: none

fix(nestjs-enterprise): fixed handling observables and promises
  packages/nestjs-enterprise/jest.config.js
Due: none

fix(nestjs-enterprise): fixed handling observables and promises (#195)
  packages/nestjs-enterprise/jest.config.js
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/log.decorator.ts
Due: none

chore: release v0.70.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
Due: none

docs(nestjs-enterprise): added install guide
  packages/nestjs-enterprise/readme.md
Due: none

docs(nestjs-enterprise): added install guide (#196)
  packages/nestjs-enterprise/readme.md
Due: none

chore: release v0.70.3 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
Due: none

docs(nestjs-enterprise): added log decorator generic support
  packages/nestjs-enterprise/src/decorator/log/log-decorator.spec.ts
  packages/nestjs-enterprise/src/decorator/log/type/decorated-method.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/method-decorator.type.ts
Due: none

feat: updated react-native-payments-example to the latest version
  packages/react-native-payments-example/.eslintrc.js
  packages/react-native-payments-example/.gitignore
  packages/react-native-payments-example/.watchmanconfig
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/Gemfile
  packages/react-native-payments-example/Gemfile.lock
  packages/react-native-payments-example/LICENSE
  packages/react-native-payments-example/LICENSE.md
  packages/react-native-payments-example/android/app/build.gradle
  packages/react-native-payments-example/android/app/src/debug/AndroidManifest.xml
  packages/react-native-payments-example/android/app/src/debug/java/com/reactnativepaymentsexample/ReactNativeFlipper.java
  packages/react-native-payments-example/android/app/src/main/AndroidManifest.xml
  packages/react-native-payments-example/android/app/src/main/java/com/reactnativepaymentsexample/MainActivity.java
  packages/react-native-payments-example/android/app/src/main/java/com/reactnativepaymentsexample/MainActivity.kt
  packages/react-native-payments-example/android/app/src/main/java/com/reactnativepaymentsexample/MainApplication.java
  packages/react-native-payments-example/android/app/src/main/java/com/reactnativepaymentsexample/MainApplication.kt
  packages/react-native-payments-example/android/app/src/main/res/drawable/rn_edit_text_material.xml
  packages/react-native-payments-example/android/app/src/release/java/com/reactnativepaymentsexample/ReactNativeFlipper.java
  packages/react-native-payments-example/android/build.gradle
  packages/react-native-payments-example/android/gradle.properties
  packages/react-native-payments-example/android/gradle/wrapper/gradle-wrapper.jar
  packages/react-native-payments-example/android/gradle/wrapper/gradle-wrapper.properties
  packages/react-native-payments-example/android/gradlew
  packages/react-native-payments-example/android/gradlew.bat
  packages/react-native-payments-example/android/settings.gradle
  packages/react-native-payments-example/babel.config.js
  packages/react-native-payments-example/index.js
  packages/react-native-payments-example/ios/Podfile
  packages/react-native-payments-example/ios/Podfile.lock
  packages/react-native-payments-example/ios/ReactNativePaymentsExample.xcodeproj/project.pbxproj
  packages/react-native-payments-example/ios/ReactNativePaymentsExample/AppDelegate.mm
  packages/react-native-payments-example/ios/ReactNativePaymentsExample/Info.plist
  packages/react-native-payments-example/ios/ReactNativePaymentsExample/PrivacyInfo.xcprivacy
  packages/react-native-payments-example/ios/ReactNativePaymentsExample/ReactNativePaymentsExample.entitlements
  packages/react-native-payments-example/jest.config.js
  packages/react-native-payments-example/metro.config.js
  packages/react-native-payments-example/package.json
  packages/react-native-payments-example/src/method-data/android-payment-method-data.ts
  packages/react-native-payments-example/tsconfig.json
Due: none

fix(react-native-payments): fixed IOS supported networks enum mapping
  packages/react-native-payments/src/class/payment-request/payment-request.ts
Due: react-native-payments

fix(react-native-payments): fixed IOS supported networks enum mapping
  packages/react-native-payments-example/.eslintrc.js
Due: none

fix(react-native-payments): fixed IOS supported networks enum mapping
  packages/react-native-payments-example/ios/Podfile.lock
  packages/react-native-payments-example/ios/ReactNativePaymentsExample.xcodeproj/project.pbxproj
  packages/react-native-payments-example/package.json
Due: none

feat: upgraded turbo
  .yarn/cache/turbo-npm-1.12.4-609fa9981a-c58920f24a.zip
  .yarn/cache/turbo-npm-2.0.3-c6a0fc1225-b4073faa92.zip
  package.json
  turbo.json
  yarn.lock
Due: none

chore: fixed deadcode
  packages/nestjs-enterprise/src/decorator/log/type/decorated-method.type.ts
  packages/nestjs-enterprise/src/decorator/log/type/method-decorator.type.ts
  packages/react-native-payments-example/package.json
Due: none

chore: fixed deadcode
  .yarn/cache/@babel-eslint-parser-npm-7.24.7-974e6645c3-4d7f1704cf.zip
  .yarn/cache/@eslint-community-regexpp-npm-4.10.1-785b16afd9-54f13817ca.zip
  .yarn/cache/@react-native-eslint-config-npm-0.74.84-f97cad140f-6930bd0278.zip
  .yarn/cache/@react-native-eslint-plugin-npm-0.74.84-240e638c20-fe0b46650c.zip
  .yarn/cache/@typescript-eslint-eslint-plugin-npm-7.13.0-853f493fd4-93c3a0d887.zip
  .yarn/cache/@typescript-eslint-parser-npm-7.13.0-bd1fb22096-ad930d9138.zip
  .yarn/cache/@typescript-eslint-scope-manager-npm-7.13.0-307666f587-2b258a06c5.zip
  .yarn/cache/@typescript-eslint-type-utils-npm-7.13.0-526ba33901-f51ccb3c59.zip
  .yarn/cache/@typescript-eslint-types-npm-7.13.0-34074674da-5adc39c569.zip
  .yarn/cache/@typescript-eslint-typescript-estree-npm-7.13.0-5c5ae01000-d4cc68e8aa.zip
  .yarn/cache/@typescript-eslint-utils-npm-7.13.0-48bd4ee88b-c87bbb90c9.zip
  .yarn/cache/@typescript-eslint-visitor-keys-npm-7.13.0-6baec59eec-5568dd435f.zip
  .yarn/cache/eslint-plugin-jest-npm-27.9.0-050f40ee4c-bca5434728.zip
  .yarn/cache/minimatch-npm-9.0.4-7be5a33efc-4cdc18d112.zip
  .yarn/cache/ts-api-utils-npm-1.3.0-33457908f8-3ee44faa24.zip
  yarn.lock
Due: none

chore: release v0.71.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

feat: updated react-native-payments-example to the latest RN 0.74 (#201)
  packages/react-native-payments-example/ios/Podfile.lock
  packages/react-native-payments/ios/Payments.mm
Due: react-native-payments

chore: release v0.72.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/nestjs-enterprise/CHANGELOG.md
  packages/nestjs-enterprise/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

ci: updated deprecated actions
  .github/workflows/pull-request.yaml
  .github/workflows/release.yml
Due: none

ci: updated deprecated actions (#202)
  .github/workflows/pull-request.yaml
  .github/workflows/release.yml
Due: none

docs(nestjs-rxjs-lock): added docs
  packages/nestjs-rxjs-lock/readme.md
Due: nestjs-rxjs-lock

docs(nestjs-rxjs-lock): added docs (#204)
  packages/nestjs-rxjs-lock/readme.md
Due: nestjs-rxjs-lock

chore: release v0.72.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
Due: nestjs-rxjs-lock

docs(nestjs-enterprise): added missing histogram dependency
  packages/nestjs-enterprise/src/decorator/histogram-metric/histogram-metric-decorator.md
Due: none
