Repository rnw-community/rnw-community: changes, and which Codecov flags are due for each by the changed paths.
All: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

codecov.yml:

coverage:
  status:
    project:
      default: off
      fast-style:
        flags: fast-style
      hoverable:
        flags: hoverable
      nestjs-rxjs-lock:
        flags: nestjs-rxjs-lock
      nestjs-rxjs-logger:
        flags: nestjs-rxjs-logger
      nestjs-rxjs-metrics:
        flags: nestjs-rxjs-metrics
      nestjs-rxjs-redis:
        flags: nestjs-rxjs-redis
      nestjs-typed-config:
        flags: nestjs-typed-config
      nestjs-webpack-swc:
        flags: nestjs-webpack-swc
      object-field-tree:
        flags: object-field-tree
      platform:
        flags: platform
      react-native-payments:
        flags: react-native-payments
      redux-loadable:
        flags: redux-loadable
      rxjs-errors:
        flags: rxjs-errors
      shared:
        flags: shared
      wdio:
        flags: wdio

flags:
  fast-style:
    paths:
      - packages/fast-style/
  hoverable:
    paths:
      - packages/hoverable/
  nestjs-rxjs-lock:
    paths:
      - packages/nestjs-rxjs-lock/
  nestjs-rxjs-logger:
    paths:
      - packages/nestjs-rxjs-logger/
  nestjs-rxjs-metrics:
    paths:
      - packages/nestjs-rxjs-metrics/
  nestjs-rxjs-redis:
    paths:
      - packages/nestjs-rxjs-redis/
  nestjs-typed-config:
    paths:
      - packages/nestjs-typed-config/
  nestjs-webpack-swc:
    paths:
      - packages/nestjs-webpack-swc/
  object-field-tree:
    paths:
      - packages/object-field-tree/
  platform:
    paths:
      - packages/platform/
  react-native-payments:
    paths:
      - packages/react-native-payments/
  redux-loadable:
    paths:
      - packages/redux-loadable/
  rxjs-errors:
    paths:
      - packages/rxjs-errors/
  shared:
    paths:
      - packages/shared/
  wdio:
    paths:
      - packages/wdio/

chore: fixed errors
  .eslintrc.js
  package.json
  packages/react-eslint-plugin/.eslintrc.js
  yarn.lock
Due: none

chore: fixed errors
  .yarn/cache/eslint-import-resolver-typescript-npm-3.6.1-994bbf65fc-454fa06465.zip
  .yarn/cache/fast-glob-npm-3.3.2-0a8cb4f2ca-900e4979f4.zip
Due: none

fix(react-eslint-plugin): plugin builds
  .yarn/cache/eslint-plugin-eslint-plugin-npm-5.2.1-5d549b8ada-1fb97f90fa.zip
  .yarn/cache/eslint-utils-npm-3.0.0-630b3a4013-0668fe02f5.zip
  packages/react-eslint-plugin/.eslintrc.js
  packages/react-eslint-plugin/package.json
  packages/react-eslint-plugin/src/index.ts
  packages/react-eslint-plugin/tsconfig.build-cjs.json
  packages/react-eslint-plugin/tsconfig.build-esm.json
  yarn.lock
Due: none

fix(eslint-plugin-rnw): renamed package
  packages/eslint-plugin-rnw/.eslintrc.js
  packages/eslint-plugin-rnw/.gitignore
  packages/eslint-plugin-rnw/LICENSE.md
  packages/eslint-plugin-rnw/babel.config.js
  packages/eslint-plugin-rnw/jest.config.js
  packages/eslint-plugin-rnw/package.json
  packages/eslint-plugin-rnw/readme.md
  packages/eslint-plugin-rnw/src/index.ts
  packages/eslint-plugin-rnw/src/rules/index.ts
  packages/eslint-plugin-rnw/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.md
  packages/eslint-plugin-rnw/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
  packages/eslint-plugin-rnw/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
  packages/eslint-plugin-rnw/tsconfig.build-cjs.json
  packages/eslint-plugin-rnw/tsconfig.build-esm.json
  packages/eslint-plugin-rnw/tsconfig.json
  packages/react-eslint-plugin/jest.config.js
  packages/react-eslint-plugin/readme.md
  yarn.lock
Due: none

fix(eslint-plugin-rnw): working package rule
  .yarn/cache/eslint-plugin-eslint-plugin-npm-5.2.1-5d549b8ada-1fb97f90fa.zip
  .yarn/cache/eslint-utils-npm-3.0.0-630b3a4013-0668fe02f5.zip
  packages/eslint-plugin-rnw/jest.config.js
  packages/eslint-plugin-rnw/readme.md
  packages/eslint-plugin/.eslintrc.js
  packages/eslint-plugin/.gitignore
  packages/eslint-plugin/LICENSE.md
  packages/eslint-plugin/babel.config.js
  packages/eslint-plugin/jest.config.js
  packages/eslint-plugin/package.json
  packages/eslint-plugin/readme.md
  packages/eslint-plugin/src/index.ts
  packages/eslint-plugin/src/rules/index.ts
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.md
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
  packages/eslint-plugin/tsconfig.build-cjs.json
  packages/eslint-plugin/tsconfig.build-esm.json
  packages/eslint-plugin/tsconfig.json
  yarn.lock
Due: none

fix(eslint-plugin): working package rule
  packages/eslint-plugin/tsconfig.build-esm.json
Due: none

fix(eslint-plugin): excluded === and ?? cases
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
Due: none

fix(eslint-plugin): excluded !== case
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
Due: none

fix(eslint-plugin): excluded children callback expression used by formik
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
Due: none

fix(eslint-plugin): jest coverage threshold
  packages/eslint-plugin/jest.config.js
Due: none

chore: release v0.63.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

docs(eslint-plugin): added docs
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.md
Due: none

docs(eslint-plugin): added docs
  packages/eslint-plugin/readme.md
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.md
Due: none

docs: added eslint-plugin package
  README.md
Due: none

chore: release v0.63.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: none

docs: fixed eslint-plugin badges
  README.md
  packages/eslint-plugin/readme.md
Due: none

chore: release v0.63.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
Due: none

feat(eslint-plugin): added inline object/array as JSX attributes
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
Due: none

feat(eslint-plugin): added inline object/array as JSX attributes
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.md
Due: none

feat(eslint-plugin): added inline object/array check for JSX attributes (#167)
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.md
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.rule.ts
  packages/eslint-plugin/src/rules/no-complex-jsx-logic/no-complex-jsx-logic.spec.ts
Due: none

chore: release v0.64.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
  yarn.lock
Due: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

chore: bump rxjs version
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/rxjs-errors/package.json
  yarn.lock
Due: nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, rxjs-errors

chore: migrated to yarn workspace version of local deps
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
  yarn.lock
Due: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, rxjs-errors, wdio

feat: bump rxjs 7.8.1, changed local version deps to workspace protocol (#168)
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
  yarn.lock
Due: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, rxjs-errors, wdio

chore: release v0.65.0 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/eslint-plugin/CHANGELOG.md
  packages/eslint-plugin/package.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/redux-loadable/CHANGELOG.md
  packages/redux-loadable/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/shared/CHANGELOG.md
  packages/shared/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, redux-loadable, rxjs-errors, shared, wdio

fix(wdio): added wdio/globals as a dependency
  packages/wdio/package.json
Due: wdio

fix(wdio): added wdio/globals as a dependency (#169)
  packages/wdio/package.json
Due: wdio

chore: release v0.65.1 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: platform, react-native-payments, wdio

fix: workspace protocol failing yarn4 installs
  packages/fast-style/package.json
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/platform/package.json
  packages/react-native-payments-example/package.json
  packages/react-native-payments/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
  yarn.lock
Due: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, rxjs-errors, wdio

chore: release v0.65.2 [skip ci]
  CHANGELOG.md
  lerna.json
  packages/fast-style/CHANGELOG.md
  packages/fast-style/package.json
  packages/hoverable/CHANGELOG.md
  packages/hoverable/package.json
  packages/nestjs-rxjs-lock/CHANGELOG.md
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/CHANGELOG.md
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/CHANGELOG.md
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/CHANGELOG.md
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/CHANGELOG.md
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/CHANGELOG.md
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/CHANGELOG.md
  packages/object-field-tree/package.json
  packages/platform/CHANGELOG.md
  packages/platform/package.json
  packages/react-native-payments-example/CHANGELOG.md
  packages/react-native-payments-example/package.json
  packages/react-native-payments/CHANGELOG.md
  packages/react-native-payments/package.json
  packages/rxjs-errors/CHANGELOG.md
  packages/rxjs-errors/package.json
  packages/wdio/CHANGELOG.md
  packages/wdio/package.json
Due: fast-style, hoverable, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, platform, react-native-payments, rxjs-errors, wdio

fix: fixed monorepo deps
  packages/fast-style/package.json
  packages/nestjs-rxjs-lock/package.json
  packages/nestjs-rxjs-logger/package.json
  packages/nestjs-rxjs-metrics/package.json
  packages/nestjs-rxjs-redis/package.json
  packages/nestjs-typed-config/package.json
  packages/nestjs-webpack-swc/package.json
  packages/object-field-tree/package.json
  packages/rxjs-errors/package.json
  packages/wdio/package.json
  yarn.lock
Due: fast-style, nestjs-rxjs-lock, nestjs-rxjs-logger, nestjs-rxjs-metrics, nestjs-rxjs-redis, nestjs-typed-config, nestjs-webpack-swc, object-field-tree, rxjs-errors, wdio

ci: fixed binary deps
  .gitignore
Due: none
